In [56]:
n = 8
k = 2
cmd = ["D 2","C","U 3","C","D 4","C","U 2","Z","Z"]

In [39]:
cmd[1][0]

'C'

In [34]:
len(cmd)

9

In [38]:
temp = []
temp.append(1)
temp.append(2)
temp.append(3)
print(temp)
temp.pop()
print(temp)

[1, 2, 3]
[1, 2]

In [48]:
def solution(n, k, cmd):
    remain_row = [i for i in range(n)]
    print(remain_row)
    temp = []

    for i in range(len(cmd)):
        if cmd[i][0] == "U":
            k += int(cmd[i][2])

        elif cmd[i][0] == "D":
            k -= int(cmd[i][2])
            
        elif cmd[i][0] == "C":
            temp.append(remain_row.pop(k))
            if k == len(remain_row):
                k -= 1
                
        elif cmd[i][0] == "Z":
            tmp = temp.pop()
            remain_row.append(tmp)
            remain_row = sorted(remain_row)

    answer = ""
    for i in range(n):
        if i in remain_row:
            answer += "O"
        else:
            answer += "X"

    return answer

In [49]:
solution(n, k, cmd)

[0, 1, 2, 3, 4, 5, 6, 7]

'XOOOOOOO'

In [59]:
n = 8
k = 2
cmd = ["D 2","C","U 3","C","D 4","C","U 2","Z","Z"]

In [61]:

remain_row = [i for i in range(n)]
print(remain_row)
temp = []

for i in range(len(cmd)):
    if cmd[i][0] == "U":
        k += int(cmd[i][2])

    elif cmd[i][0] == "D":
        k -= int(cmd[i][2])
            
    elif cmd[i][0] == "C":
        temp.append(remain_row.pop(k))
        if k == len(remain_row):
            k -= 1
                
    elif cmd[i][0] == "Z":
        tmp = temp.pop()
        remain_row.append(tmp)
        remain_row = sorted(remain_row)

answer = ""
print(remain_row)
for i in range(n):
    if i in remain_row:
        answer += "O"
    else:
        answer += "X"

[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6]

In [62]:
answer

'OOOOOOOX'

In [21]:
a = [i for i in range(3)]
a

[0, 1, 2]

In [25]:
b = [6,2,8]
b = sorted(b)
print(b)

[2, 6, 8]

In [27]:
c = b.pop(1)
c

6

In [28]:
print(b)

[2, 8]

In [20]:
a = ['a', 'b', 'c']

a.remove('b')
a

['a', 'c']

In [17]:
a = 'O'*4
a

'OOOO'

In [16]:
a = [3, 6, 2, 12, 7]
a.replace(2, 123)
a

AttributeError: 'list' object has no attribute 'replace'

In [1]:
a =[["POOOP", "OXXOX", "OPXPX", "OOXOX", "POXXP"]]

a[0][0]

'POOOP'

In [13]:
[0] *5

[0, 0, 0, 0, 0]

In [2]:
a[0][0][0]

'P'

In [ ]:
pp pop x

In [12]:
a = [[], [], [], [], []]
a

[[], [], [], [], []]

In [7]:
j = "OPOOPO"

"P" in j

j.index("P")

1

In [11]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

'a' not in x

False

In [16]:
x = {'a': [10, -20], 'b': [20, -2], 'c': [30, -45], 'd': [40, -3]}

In [17]:
x['a']

[10, -20]

In [18]:
sum(x['a'])

-10

In [26]:
y = {}
for k in x.keys():
    y.setdefault(k,sum(x[k]))
    
y

{'a': -10, 'b': 18, 'c': -15, 'd': 37}

In [28]:
sy = sorted(y.items(), key = lambda item: item[1])
sy

[('c', -15), ('a', -10), ('b', 18), ('d', 37)]

In [31]:
len(sy)

4

In [30]:
sy[0][1]

-15

In [15]:
x['a']

10

In [48]:
a = [[7,253,387],[424,54,62], [344, 100, 34]]
a.sort(key=lambda x:x[1], reverse=1)
a

[[7, 253, 387], [344, 100, 34], [424, 54, 62]]

In [51]:
from collections import deque

q = deque(a)
q

deque([[7, 253, 387], [344, 100, 34], [424, 54, 62]])

In [52]:
q.popleft()
q

deque([[344, 100, 34], [424, 54, 62]])

In [43]:
list.sort?

In [14]:
for i in ["asd sdf 3", "gdf wer 5", "sdf ert 4"]:
    a = i.split()
    
    print((int(a[2])*(-1)))

asd sdf 3
-3
gdf wer 5
-5
sdf ert 4
-4

In [34]:
arr =  ["asd sdf 3", "gdf wer 5", "sdf ert 4"]
arr[0]

'asd sdf 3'

In [35]:
arr[1]

'gdf wer 5'

In [32]:
for i in ["asd sdf 3", "gdf wer 5", "sdf ert 4"]:
    a = i.split()
    print(a)

['asd', 'sdf', '3']
['gdf', 'wer', '5']
['sdf', 'ert', '4']

In [8]:
"asd asd fg".split()

['asd', 'asd', 'fg']

In [53]:
start = [1, 3, 3, 5, 7]
run = [2, 2, 1, 2, 1]

list_1 = [ [a, b] for a, b in zip(start, run) ]
list_1

[[1, 2], [3, 2], [3, 1], [5, 2], [7, 1]]

In [86]:
start = [1, 3, 3, 5, 8]
run = [2, 2, 1, 2, 1]

list_1 = [ [a, b, a+b] for a, b in zip(start, run) ]
list_1

[[1, 2, 3], [3, 2, 5], [3, 1, 4], [5, 2, 7], [7, 1, 8]]

In [81]:
for x in list_1:
    print(x)

[1, 2, 3]
[3, 2, 5]
[3, 1, 4]
[5, 2, 7]
[7, 1, 8]

In [89]:
a = sorted(list_1, key=lambda x:x[2])
a

[[1, 2, 3], [3, 1, 4], [3, 2, 5], [5, 2, 7], [7, 1, 8]]

In [ ]:
a = sorted(list_1, key=lambda x:(x[2], x[1]))
a

In [87]:
a = sorted(list_1, key=lambda x:x[2], reverse=1)
a

[[7, 1, 8], [5, 2, 7], [3, 2, 5], [3, 1, 4], [1, 2, 3]]

In [79]:
list_1

[[1, 2, 3], [3, 2, 5], [3, 1, 4], [5, 2, 7], [7, 1, 8]]

In [68]:
list_1.sort(key=lambda x:x[0])
list_1

[[1, 2, 3], [3, 2, 5], [3, 1, 4], [5, 2, 7], [7, 1, 8]]

In [75]:
list_1.sort(key=lambda x:x[0], reverse=1)
list_1

[[7, 1, 8], [5, 2, 7], [3, 2, 5], [3, 1, 4], [1, 2, 3]]

In [73]:
list_1.pop()

[1, 2, 3]

In [76]:
list_1.pop()[0]

1

In [67]:
min(list_1[3])

2

In [55]:
list_1[3][2]

7

In [63]:
list_overlap = [ -1 for j in range(len(list_1)) ]
list_overlap

[-1, -1, -1, -1, -1]

In [64]:
list_overlap = [ -1 for j in range(len(list_1)) ]

for k in range(len(list_1)):
    for j in range(len(list_1)):
        if list_1[k][2] > list_1[j][0] and list_1[k][0] < list_1[j][2]:
            list_overlap[k] += 1
        
list_overlap

[0, 1, 1, 0, 0]

In [82]:
list_overlap

[0, 1, 1, 0, 0]

In [84]:
sum(list_overlap)

2