# 7. 가장 작은 수 한 개 출력

### 문제 : 가장 먼저 보호소에 들어온 동물의 이름을 출력하라

* 나의 답안

In [2]:
SELECT NAME
FROM ANIMAL_INS
WHERE DATETIME IN
    (SELECT MIN(DATETIME)
     FROM ANIMAL_INS)

SyntaxError: invalid syntax (<ipython-input-2-1854961bb56a>, line 1)

### 깨달은 점
    * DATETIME 타입의 속성도 MIN, MAX는 먹힌다.
    * 집단 함수는 SELECT절과 HAVING 절만 쓸 수 있는데, 위 처럼 그룹화하지 않고 전체에 대하여 적용할 때는
        * GROUP BY, HAVING이 아닌 SELECT와 중첩 질의를 통해 해결이 가능하다!
    * 프로그래머스에서 mySQL은 세미콜론 ; 안써도 먹힌다.

### 나중에 찾은 정답 화면
    * LIMIT 구문을 사용한다.(MY SQL)
    * 오라클의 겨우, rownum을 사용한다.
    * 참조 링크 : https://chanhuiseok.github.io/posts/db-3/

* My SQL

In [ ]:
SELECT NAME
FROM ANIMAL_INS
ORDER BY DATETIME
LIMIT 1

* 오라클

In [ ]:
SELECT NAME
FROM (SELECT * FROM ANIMAL_INS ORDER BY DATETIME)
WHERE rownum = 1;