# 4 중복 제거하기

### 문제 : NULL과 중복을 제외한 이름의 갯수를 구하여라

In [ ]:
-- 코드를 입력하세요
SELECT COUNT(DISTINCT NAME)
FROM ANIMAL_INS;