[제한 사항]

    * 지점갯수 n은 3 이상 200 이하인 자연수
    * 지점 s, a, b는 1 이상 n 이하인 자연수이며, 각기 서로 다른 값
    * fares는 2차원 정수 배열
    * fares 배열의 크기는 2 이상 n x (n-1) / 2 이하
    * 요금 f는 1 이상 100,000 이하인 자연수
    * 출발지점 s에서 도착지점 a와 b로 가는 경로가 존재하는 경우만 입력으로 주어짐

In [ ]:
DFS 같은데... 모르겠네 ㅠㅠ

In [4]:
# Test Case 1
n = 6
s = 4
a = 6
b = 2
fares = [[4, 1, 10], [3, 5, 24], [5, 6, 2], [3, 1, 41],   \
         [5, 1, 24], [4, 6, 50], [2, 4, 66], [2, 3, 22], [1, 6, 25]]

# result = 82

# 프로그래머스 정답

In [ ]:
import heapq


# 플로이드 와샬 = 전방향 다익스트라
# 간선 가중치에 대한 table 만들고 덮어씀


def solution(n, s, a, b, fares):
    
    # d : 거리 table
    d = [ [ 20000001 for _ in range(n) ] for _ in range(n) ]
    
    for x in range(n):
        d[x][x] = 0
        
        
    # 양방향 간선 요금에 대하여 값 채우기    
    for x, y, c in fares:
        d[x-1][y-1] = c
        d[y-1][x-1] = c
        
    for i in range(n):
        for j in range(n):
            for k in range(n):
                if d[j][k] > d[j][i] + d[i][k]:
                    d[j][k] = d[j][i] + d[i][k]  
                    # 여기까지가 요금 fares로 table 만든 것
                    # (j+1) 노드 -> (k+1) 노드 가격 보다 (j+1) -> (i+1) -> (k+1) 경로가 더 싸면 그 값으로 바꿈
                    # 노드 2번 거치는 것은 생각 안해도 됨 => 어차피 누적이라 포함됨
                    
                    
    minv = 40000002
    for i in range(n):
        minv = min(minv, d[s-1][i]+d[i][a-1]+d[i][b-1])
    return minv

# 20000001과
# minv가 40000002는 최대값이라는 의미는 알겠는데 왜 값이 이런줄 모르겠음

----------------------------------------------------------------------

In [6]:
a = [ 20000001 for _ in range(3) ] 
a

[20000001, 20000001, 20000001]

In [7]:
[ [ 20000001 for _ in range(3) ] for _ in range(3) ]

[[20000001, 20000001, 20000001],
 [20000001, 20000001, 20000001],
 [20000001, 20000001, 20000001]]

In [9]:
d = [ [ 20000001 for _ in range(6) ] for _ in range(6) ]
    
for x in range(6):
    d[x][x] = 0
    
d

[[0, 20000001, 20000001, 20000001, 20000001, 20000001],
 [20000001, 0, 20000001, 20000001, 20000001, 20000001],
 [20000001, 20000001, 0, 20000001, 20000001, 20000001],
 [20000001, 20000001, 20000001, 0, 20000001, 20000001],
 [20000001, 20000001, 20000001, 20000001, 0, 20000001],
 [20000001, 20000001, 20000001, 20000001, 20000001, 0]]

In [10]:
for x, y, c in fares:
    d[x-1][y-1] = c
    d[y-1][x-1] = c
    
d

[[0, 20000001, 41, 10, 24, 25],
 [20000001, 0, 22, 66, 20000001, 20000001],
 [41, 22, 0, 20000001, 24, 20000001],
 [10, 66, 20000001, 0, 20000001, 50],
 [24, 20000001, 24, 20000001, 0, 2],
 [25, 20000001, 20000001, 50, 2, 0]]