In [2]:
# 08

print("print(\"Hello\\nWorld\")")

print("Hello\nWorld")

In [3]:
# 09

a = input()
print(a)

a
a

In [7]:
# 10

a = int(input())
print(a)

2

2

In [8]:
# 11

a = float(input())
print(a)

5
5.0

In [9]:
# 12

print(int(input()))
print(int(input()))

2
2
3
3

In [ ]:
#13

a = input()
b = input()
print(b)
print(a)

In [ ]:
#14

a = float(input())
print(a)
print(a)
print(a)

In [ ]:
#15

a, b = input().split()
print(a)
print(b)

In [12]:
# 16

a, b = input().split()
print(b, a)

r e
e r

In [13]:
#17

a = input()
print(a, a, a)

sd
sd sd sd

In [16]:
#18

a, b = input().split(":")
print(a, b, sep=":")

9:16
9:16

In [19]:
#19

a, b, c = input().split(".")
print(c, b, a, sep="-")

1991.07.29
29-07-1991

In [20]:
#20

a, b = input().split("-")
print(a, b, sep="")

910729-1000000
9107291000000

In [ ]:
#21

s = input()

print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])

In [21]:
#22

s = input()
print(s[0:2], s[2:4], s[4:6], sep=' ')

910729
91 07 29

In [22]:
#23

a, b, c = input().split(":")
print(b)

123:23:43
23

In [26]:
#24

a, b = input().split()
c = a+b
print(c)

asd cvbn
asdcvbn

In [27]:
#25

a, b = input().split()
print(int(a)+int(b))

5 4
9

In [29]:
#26

a = float(input())
b = float(input())
print(a+b)

3
3
6.0

In [32]:
#27

a = int(input())
print("%x"% a)

14
e

In [33]:
#28

a = int(input())
print("%X"% a)

15
F

In [ ]:
#29

a = input()
b = int(a, 16)
print("%o"% b)

In [36]:
#30

a = ord(input())
print(a)

a
97

In [41]:
#31

a = int(input())
print(chr(a))

97
a

In [42]:
#32

print(-int(input()))

3
-3

In [9]:
#33

a = ord(input())
print(chr(a+1))

A
B

In [2]:
# ord는 문자열을 받아 숫자(int형)를 출력 : ord A를 외우자!

print(ord("A"))
print(type(ord("A")))

65
<class 'int'>

In [5]:
# chr은 int를 받아 str를 출력 : chr 65를 외우자!

chr(65)

'A'

In [8]:
#34

a, b = input().split()
c = int(a) - int(b)
print(c)

123 -123
246

In [11]:
# 35

a, b = input().split()
c = float(a) * float(b)
print(c)

3.5 4.6
16.099999999999998

In [12]:
# 36

a, b = input().split()
print(a*int(b))

lov 3
lovlovlov

In [13]:
# 37

n = input()
st = input()
print(st*int(n))

3
sldkf
sldkfsldkfsldkf

In [14]:
# 38

a, b = input().split()
print(int(a)**int(b))

5 6
15625

In [15]:
# 39

a, b = input().split()
print(float(a)**float(b))

3 4
81.0

In [16]:
# 40

a, b = input().split()
print(int(a)//int(b))

10 3
3

In [17]:
# 41

a, b = input().split()
print(int(a)%int(b))

10 3
1

In [19]:
# 42

a = input()
print("%.2f" %float(a))

3.346
3.35

In [20]:
# 42-2

a = float(input())
print(format(a, ".2f"))

1.234
1.23

In [22]:
# 43

a, b = input().split()
print(format(float(a)/float(b), ".3f"))

10.0 3.0
3.333

In [26]:
# 44

a, b = input().split()
a = int(a)
b = int(b)
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)
print(format(a/b, ".2f"))

10 3
13
7
30
3
1
3.33

In [27]:
# 정수형 int끼리 나눈 결과는 float형임

a = 10
b = 3
print(type(a))
type(a/b)

<class 'int'>

float

In [30]:
# 45

a, b, c = input().split()
a = int(a)
b = int(b)
c = int(c)
d = a+b+c
print(d, format(d/3, ".2f"), sep=" ")

1 2 3
6 2.00

In [42]:
# 46

a = input()
print(int(a)<<1)

2
4

In [43]:
# 주의 ! 파이썬에서 float에 대한 비트연산은 오류남
a = 2.0
print(a<<1)

TypeError: unsupported operand type(s) for <<: 'float' and 'int'

In [44]:
a = 2
print(a<<1)

4

In [31]:
n = 10
print(n<<1)

20

In [33]:
print(format(10, "b"))

1010

In [34]:
print(format(20, "b"))

10100

In [35]:
n = 10
print(n<<2)

40

In [36]:
print(format(40, "b"))

101000

In [37]:
n = 10
print(n>>1)

5

In [39]:
print(format(5, "b"))

101

In [38]:
n = 10
print(n>>2)

2

In [41]:
# 왼쪽에 0이 추가되고(안보임) 가장 오른쪽에 있는 1비트는 사라진다 101 => 10
print(format(2, "b"))

10

In [46]:
# 47

a, b = input().split()
a = int(a)
b = int(b)

print(a<<b)

1 3
8

In [48]:
# 48

a, b = input().split()
print(int(a)<int(b))

1 9
True

In [ ]:
# 49

a, b = input().split()
print(int(a)==int(b))

In [49]:
# 50

a, b = input().split()
print(int(a)<=int(b))

3 1
False