# 리스트(List)

# 내용 정리 목차

## 기본 특징

## 시퀀스 공통 기능
    * 인덱스, 슬라이스
    
    * +, *
    
## 값 수정/삭제

## 요소 추가

## 요소 삭제

## 요소 변경

## 정렬

## 기본 특징(튜플과 비교)
    * 튜플은 변경 불가능 객체(immutable)이고,   # tuple, str, byte, int, float, frozen set 등
    * 리스트는 변경 가능 객체(immutable)임    # 변경가능 객체 : list, set, dict, bytearray

### 튜플은 요소가 2개 이상일 때, 자료형이 성립하지만,

### 리스트는 요소가 1개여도 자료형 성립!!
    * 예를 들어 int형 요소 1개인 튜플은 그냥 int 취급
    * 이 때는 시퀀스 연산 사용 시 에러 발생 가능!!!

### 튜플는 요소가 2개 이상이어야 적용?

 * 튜플은 요소 1개면 요소의 자료형을 따름

In [2]:
a = (4)
print(a)
print(type(a))

4
<class 'int'>

In [2]:
b = ('b')
print(b)
print(type(b))

b
<class 'str'>

In [3]:
c = (4, 'b')
print(c)
print(type(c))

(4, 'b')
<class 'tuple'>

### 리스트는 요소가 1개여도 무방

In [4]:
a = [4]
print(a)
print(type(a))

[4]
<class 'list'>

* 튜플은 요소가 1개면 연산도 안되는 경우가 있음

In [3]:
(1, 2, 3) + (4, 5)

(1, 2, 3, 4, 5)

In [4]:
(1, 2, 3) + (4)

TypeError: can only concatenate tuple (not "int") to tuple

 * 리스트는 무방

In [6]:
[1, 2, 3] + [4]

[1, 2, 3, 4]

# 시퀀스 공통 기능

 * 인덱스 및 슬라이스 사용
 * +, * 연산

In [8]:
a = [1, 2, 3, 4, 5]

In [9]:
# 슬라이싱, 인덱싱, +연산
a[:2] + a[-2:]

[1, 2, 4, 5]

In [11]:
# * 연산
a*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

* in, not in

In [12]:
3 in a

True

In [13]:
3 not in a

False

In [14]:
7 in a

False

In [15]:
7 not in a

True

* len() : 요소 갯수 구하기

In [16]:
len(a)

5

 * enumerate() : 인덱스, 값 모두 뽑아내기

In [18]:
b = ['가', '나', '다']

for k, v in enumerate(b):
    print(k, v)

0 가
1 나
2 다

 * map(함수, 시퀀스) 적용

In [19]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
a

[1, 2, 3, 4]

# 시퀀스 자료형(range, 문자열, 리스트, 튜플)

    * set, dict는 아님(순서가 없음)

* 뒤집기 : reversed
* 그냥 출력은 안되는데, for문으로 뒤집기는 되네

In [1]:
x = "hello"
print(x)

hello

In [6]:
x = ['h', 'e', 'l', 'l', 'o']
print(x)

['h', 'e', 'l', 'l', 'o']

In [8]:
x = range(5)

In [161]:
for a in x:
    print(a, end="")

hello

In [9]:
for a in reversed(x):
    print(a, end="")

43210

In [168]:
z = 'hello'
z = reversed(z)
z
print(z)

<reversed object at 0x00000274695815E0>

In [163]:
y = [123, 234, 345]

reversed(y)

In [166]:
for a in reversed(y):
    print(a, end=', ')

345, 234, 123,

### 시퀀스 객체에서 무작위로 뽑기

In [230]:
import random

x = ['a', 's', 'd', 'f', 'g', 'h']

random.choice(x)

'h'

* 규칙?
    * 변수명으로 주로 낙타체를 이용(첫소문자 후, 다음 대문자)
        ex) myNewCar
    * 상수(한번 값을 주고 값을 바꾸지 않는 변수)는 주로 모두 대문자
        ex) PI = 3.14, MAX_SIZE = 100

# 리스트!

    * 튜플과 다르게 요소 변경, 추가, 삭제 가능

In [69]:
a = [23,345,"sdf", True]
a

[23, 345, 'sdf', True]

In [72]:
# 빈 리스트
b = []
c = list()
c

[]

In [74]:
# range() 활용 리스트 생성

d = list(range(3))
d

[0, 1, 2]

In [78]:
e = list(range(-4, 6, 2))
e

[-4, -2, 0, 2, 4]

In [105]:
# 이렇게는 하지마
f = [range(-4, 6, 2)]
f

[range(-4, 6, 2)]

 * 다중 변수 할당

In [106]:
# 리스트 이용 다중 변수 할당
a = [23,345,"sdf", True]

b, c, d, e = a

print(b)
print(c)
print(d)
print(e)

23
345
sdf
True

 * 요소 추가하기
     - append : 요소 하나 추가
     - extend : 리스트를 연결하여 확장
     - insert : 특정 인덱스에 요소 추가

In [244]:
a = [10, 20, 30]

a.append(234)

print('a: ',a)

b = [1, 2, 3]

b.append([50,70])

print('b: ', b)

a:  [10, 20, 30, 234]
b:  [1, 2, 3, [50, 70]]

In [245]:
b = [1, 2, 3]

b.extend([50,70])

print('b: ', b)

b:  [1, 2, 3, 50, 70]

In [247]:
b = [1, 2, 3]

b + [50,70]

[1, 2, 3, 50, 70]

 ### 특정 인덱스에 요소 추가 (insert)
 
     * 원래 있었던 인덱스트 뒤로 밀림(오른쪽으로 밀림)

In [249]:
c = [1,2,3,4,5]

c.insert(3, 'asd')

c

[1, 2, 3, 'asd', 4, 5]

* 요소 값 변경 및 삭제

    * 이 기능은 시퀀스자료형 중 리스트만 가능
    * range, tuple, 문자열은 불가

In [108]:
# 요소 값 변경
a = [1,2,3,4,5]

a[2] = 123

a

[1, 2, 123, 4, 5]

In [125]:
# 슬라이스 이용 값 변경

a = [1,2,3,4,5]

a[2:5] = 123, 456, 46  

a

[1, 2, 123, 456, 46]

In [126]:
# 슬라이스로 자른 값의 갯수와 넣는 값의 갯수가 달라도 실행됨

a = [1,2,3,4,5]

a[2:4] = 123, 456, 46    # 2개 = 3개 할당

a

[1, 2, 123, 456, 46, 5]

In [111]:
b = "hello"

b[2] = 'G'

TypeError: 'str' object does not support item assignment

### 리스트에서 요소 삭제

    * pop() : 특정 인덱스 or 마지막 요소 삭제
    * remove() : 특정 값을 찾아서 삭제

In [251]:
a = [10, 20, 30]

a.pop() # 값을 뽑아옴

30

In [252]:
a  # 리스트에서 마지막 값을 빼놓음

[10, 20]

In [253]:
a = [10, 20, 30]

a.pop(1) # 1번 인덱스 값을 제거

a

[10, 30]

In [254]:
a = [10, 20, 30, 40]

a.remove(20)

a

[10, 30, 40]

In [112]:
# 요소 값 삭제
a = [1,2,3,4,5]

del a[2]

a

[1, 2, 4, 5]

In [113]:
b = "hello"

del b[2]

b

TypeError: 'str' object doesn't support item deletion

 * 모든 요소 삭제(clear)

In [271]:
a = [10, 20, 30]
a.clear()
a

[]

### 리스트 슬라이스

 * 인덱스는 양수, 음수 섞어 쓸 수 있음

In [116]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

a[4:-1]

[40, 50, 60, 70, 80]

* 슬라이스 + 간격(띄엄띄엄)

In [115]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

a[1:7:3] # 10 ~ 60까지(70은 미포함!) 3 간격으로 불러오기

[10, 40]

* 처음, 끝 인덱스는 생략가능

In [119]:
a[:7]

[0, 10, 20, 30, 40, 50, 60]

In [120]:
a[5:]

[50, 60, 70, 80, 90]

 * 인덱스 생략 + 간격(증가폭)

In [121]:
a[:7:3]

[0, 30, 60]

In [122]:
a[5::2]

[50, 70, 90]

In [123]:
a[::2]

[0, 20, 40, 60, 80]

### 증가폭 있는 슬라이싱으로 리스트 값 변경하기

In [129]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

a[2:8:2] = 'a', 'b', 'c'

a

[0, 10, 'a', 30, 'b', 50, 'c', 70, 80, 90]

 * 슬라이싱 값 삭제

In [130]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

del a[2:8:2]

a

[0, 10, 30, 50, 70, 80, 90]

 * 특정 값 인덱스 구하기(index)

In [263]:
a = [10, 20, 30, 40]

a. index(30)

2

## 리스트 요소 정렬하기

In [266]:
a = [40, 20, 10, 30]

a.sort()  # 1회성이 아님!!
a

[10, 20, 30, 40]

In [270]:
a = [40, 20, 10, 30]

a.sort(reverse=True)  # 1회성이 아님!! 역순!
a

[40, 30, 20, 10]

In [267]:
a = [40, 20, 10, 30]

sorted(a)  # 정렬한 리스트 생성(1회성)

[10, 20, 30, 40]

In [269]:
a

[40, 20, 10, 30]

### 리스트 순서 뒤집기(reverse())

In [265]:
a = [10, 20, 30, 40]

a.reverse()  # 1회성이 아님!!
a

[40, 30, 20, 10]

## deque 사용

    * 리스트와 동일하나
    * 왼쪽 추가 appendleft(), 왼쪽 삭제 popleft() 사용 가능

In [259]:
from collections import deque

a = deque([10, 20, 30])

a

deque([10, 20, 30])

In [260]:
a.popleft()
a

deque([20, 30])

In [261]:
a.appendleft(56)
a

deque([56, 20, 30])

# 리스트 복사
    * 변수 할당 : 변수명만 다르고 같은 리스트 객체를 가리킴
    * 얕은 복사(shallow copy) : 리스트 객체는 별도로 생성하지만, 안에 내용물인 요소는 같은 값을 가리킴(요소의 id가 같음)
        * copy.copy() 사용
    * 깊은 복사(deep copy) : 리스트 객체도 별도로 생성하고, 안에 내용물들도 각각 별도 생성(요소들 id도 각각 다름)
        * 직접해보니 요소가 리스트 일 때는 새로운 객체이나, 단순한 숫자면 그냥 할당하는 듯?
        * copy.deepcopy() 사용

 * 변수 할당

In [272]:
a = [0, 0, 0, 0, 0]
b = a  # 실제로는 하나의 리스트 객체만 존재하고, a, b 두 변수가 같은 것을 가리킴

In [273]:
a[2] = 50
b

[0, 0, 50, 0, 0]

 * 얕은 복사
     * 안에 단순 상수만 있으면 깊은 복사랑 차이 없음

In [1]:
a = [1, 2, 3, 4, 5]
b = a.copy()  # a의 객체를 복사하여 2개의 객체가 생김

In [2]:
a[2] = 50
b

[1, 2, 3, 4, 5]

In [3]:
a

[1, 2, 50, 4, 5]

In [4]:
print(id(a[1]))
print(id(b[1]))

140703356430144
140703356430144

 * 얕은 복사
     * 안에 리스트가 있으면 깊은 복사랑 차이 남

In [10]:
a = [1, 2, [3, 4, 5]]
b = a.copy()  # a의 객체를 복사하여 2개의 객체가 생김

In [12]:
b[2].append(6)

In [13]:
a

[1, 2, [3, 4, 5, 6]]

In [14]:
b

[1, 2, [3, 4, 5, 6]]

 * 깊은 복사
     * 안에 단순 변수만 있으면 깊은 복사랑 차이 없음

In [6]:
import copy

a = [1, 2, 3, 4, 5]

b = copy.deepcopy(a)  # a의 객체를 복사하여 2개의 객체가 생김

In [7]:
a[2] = 50
b

[1, 2, 3, 4, 5]

In [8]:
a

[1, 2, 50, 4, 5]

In [9]:
print(id(a[1]))
print(id(b[1]))

140703356430144
140703356430144

 * 깊은 복사
     * 안에 리스트가 있으면 깊은 복사랑 차이 남

In [16]:
import copy

a = [1, 2, [3, 4, 5]]
b = copy.deepcopy(a)

In [17]:
b[2].append(6)

In [18]:
a

[1, 2, [3, 4, 5]]

In [19]:
b

[1, 2, [3, 4, 5, 6]]

## 리스트,튜플,문자열의 인덱스와 값을 함께 출력하기(enumerate)

In [21]:
a = ['a', 'b', 'c', 'd']

for idx, v in enumerate(a):
    print(idx, v)

0 a
1 b
2 c
3 d

In [22]:
a = ('a', 'b', 'c', 'd')

for idx, v in enumerate(a):
    print(idx, v)

0 a
1 b
2 c
3 d

In [23]:
a = "abcd"

for idx, v in enumerate(a):
    print(idx, v)

0 a
1 b
2 c
3 d

* .format 함수 : 문자열속에 인덱스, 값 포함하여 출력

In [26]:
a = ['a', 'b', 'c', 'd']

for idx, v in enumerate(a):
    print("인덱스 {}의 요소 내용은 {} 입니다.".format(idx, v))

인덱스 0의 요소 내용은 a 입니다.
인덱스 1의 요소 내용은 b 입니다.
인덱스 2의 요소 내용은 c 입니다.
인덱스 3의 요소 내용은 d 입니다.

## 2차원 리스트
    
    * 같은 방식으로 2차원 튜플도 가능

In [3]:
a = [[10, 20], 
     [30, 40]]

print('a[0][0] : ', a[0][0])
print('a[0][1] : ', a[0][1])
print('a[1][0] : ', a[1][0])
print('a[1][1] : ', a[1][1])

a[0][0] :  10
a[0][1] :  20
a[1][0] :  30
a[1][1] :  40

* 2차원 리스트 반복문 사용

In [4]:
a = [[10, 20], [30, 40], [50, 60]]
for x, y in a:    # 리스트의 가로 한 줄(안쪽 리스트)에서 요소 두 개를 꺼냄
    print(x, y)

10 20
30 40
50 60

In [5]:
a = [[10, 20], [30, 40], [50, 60]]
 
for i in a:        # a에서 안쪽 리스트를 꺼냄
    for j in i:    # 안쪽 리스트에서 요소를 하나씩 꺼냄
        print(j, end=' ')
    print()

10 20
30 40
50 60

In [6]:
a = [[10, 20], [30, 40], [50, 60]]
 
for i in range(len(a)):            # 세로 크기
    for j in range(len(a[i])):     # 가로 크기
        print(a[i][j], end=' ')
    print()

10 20
30 40
50 60

In [7]:
a = [[10, 20], [30, 40], [50, 60]]
 
i = 0
while i < len(a):    # 반복할 때 리스트의 크기 활용(세로 크기)
    x, y = a[i]      # 요소 두 개를 한꺼번에 가져오기
    print(x, y)
    i += 1           # 인덱스를 1 증가시킴

10 20
30 40
50 60

* 반복문으로 2차원 리스트 만들기

In [8]:
a = []    # 빈 리스트 생성
 
for i in range(3):
    line = []              # 안쪽 리스트로 사용할 빈 리스트 생성
    for j in range(2):
        line.append(0)     # 안쪽 리스트에 0 추가
    a.append(line)         # 전체 리스트에 안쪽 리스트를 추가
 
print(a)

[[0, 0], [0, 0], [0, 0]]

    * 톱니모양 2차원 리스트 만들기

In [9]:
a = [3, 1, 3, 2, 5]    # 가로 크기를 저장한 리스트
b = []    # 빈 리스트 생성
 
for i in a:      # 가로 크기를 저장한 리스트로 반복
    line = []    # 안쪽 리스트로 사용할 빈 리스트 생성
    for j in range(i):    # 리스트 a에 저장된 가로 크기만큼 반복
        line.append(0)
    b.append(line)        # 리스트 b에 안쪽 리스트를 추가
 
print(b)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [10]:
# 방법2
a = [[0] * i for i in [3, 1, 3, 2, 5]]
a

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

### 2차원 리스트 정렬하기(sorted)

In [11]:
students = [
    ['john', 'C', 19],
    ['maria', 'A', 25],
    ['andrew', 'B', 7]
]

print(sorted(students, key=lambda student: student[1]))

[['maria', 'A', 25], ['andrew', 'B', 7], ['john', 'C', 19]]

In [13]:
print(sorted(students, key=lambda func1: func1[2]))

[['andrew', 'B', 7], ['john', 'C', 19], ['maria', 'A', 25]]

# 튜플!

    * 리스트와 다르게 요소 변경, 추가, 삭제 불가
    * a = (1, 2, 3) 이렇게 정의해고 되고, a = 1, 2, 3 해도 됨

In [83]:
# 정의

a = 1,2,3, "234", False
a

(1, 2, 3, '234', False)

* 괄호안에 값이 하나이면 튜플이 아나고 그냥 값 동일
    * 요소가 한개인 튜플은 괄호 뒤에 컴마를 써주어야함

In [85]:
a = (232)
b = (232,)

print(a)
print(b)
print(type(a))
print(type(b))

232
(232,)
<class 'int'>
<class 'tuple'>

* range 이용

In [86]:
c = tuple(range(3))
c

(0, 1, 2)

In [107]:
# 튜플 이용 다중 변수 할당
a = 23,345,"sdf", True

b, c, d, e = a

print(b)
print(c)
print(d)
print(e)

23
345
sdf
True

# 딕셔너리!

    * 딕셔너리는 { }(중괄호) 안에 키: 값 형식으로 저장하며 각 키와 값은 ,(콤마)로 구분해줍니다.
    * 딕셔너리 = {키1: 값1, 키2: 값2}
    * 딕셔너리 = dict(키1=값1, 키2=값2)
    * 키에는 하나의 값만 지정 가능
    * 키이름이 중복 될 경우 뒤에 있는 한가지만 덮어써서 사용
    * 키에는 리스트와 딕셔너리 사용 불가

In [131]:
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
lux

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [ ]:
lux1 = dict()

* 키이름이 중복 될 경우 뒤에 있는 한가지만 덮어써서 사용

In [133]:
lux = {'health': 490, 'health': 800, 'mana': 334}
lux

{'health': 800, 'mana': 334}

In [138]:
# 빈 딕셔너리 만들기

x = {}
y = dict()
y

{}

 * 딕셔너리 키에 값 할당
 
     * 리스트 넣듯이 넣으면 됨

In [144]:
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

lux['health'] = 1

lux

{'health': 1, 'mana': 334, 'melee': 550, 'armor': 18.72}

* 딕서너리에 키가 있는지 확인
    * in 사용

In [145]:
'health' in lux

True

In [148]:
'air' not in lux

True

In [147]:
# 값은 안됨
334 in lux

False

In [149]:
len(lux)

4

### 키-값 쌍 추가 하기

     * setdefault() : 딕셔너리에 키-값 쌍 추가하고, 값을 반환함
         - setdefault에서 키만 지정하면 값에 None이 저장됨
      
     * update() : 키의 값 수정, 키가 없으면 키-값 쌍 추가
     
     setdefault에서는 ''따옴표를 쓰고, update에서는 ''따옴표를 안씀에 주의!!!
         * setdefault('키', 값)
         * update(키=값) -> 키가 문자열 일 때만 사용 가능
         * update({'키':값, '키':값})
         * update([[키, 값],[키, 값]])
         * update(zip([키1, 키2], [값1, 값2]))
         
         형태 주의!

In [58]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.setdefault('e')     # 키만 추가(값에는 None 추가됨)

x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None}

In [60]:
# 키, 값 쌍으로 추가
x.setdefault('f', 100)
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}

### 키-값 쌍 수정하기

    * update : 키의 값 수정, 키가 없으면 키-값 쌍 추가
        * update(키=값)에서는 ''따옴표를 안씀에 주의!!!
        * update(키=값) 형태는 키가 문자열일 때만 사용 가능
        * 키가 문자열이 아닐 떄,
            - update(딕셔너리) 형태로 사용

 *  update(키=값) 형태

In [63]:
x.update(a=90, f=54)
x

{'a': 90, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 54, 'g': 70}

In [64]:
# 키가 없으면 값을 추가해버림
x.update(g=70)
x

{'a': 90, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 54, 'g': 70}

 * update({키:값, 키:값})   (키가 문자열이 아닐 때)

In [13]:
y = {1: 'one', 2: 'two'}
y

{1: 'one', 2: 'two'}

In [14]:
y.update({1: 'hi', 3: 'THREE'})
y

{1: 'hi', 2: 'two', 3: 'THREE'}

 * update([[키, 값],[키, 값]])      
 (리스트, 튜플, 섞어서 모두 가능)

In [71]:
y.update([[2, 'TWO'], [4, 'FOUR']])
y

{1: 'hi', 2: 'TWO', 3: 'THREE', 4: 'FOUR'}

In [72]:
y.update(((2, 'two'), (4, 'four')))
y

{1: 'hi', 2: 'two', 3: 'THREE', 4: 'four'}

In [73]:
y.update(([2, 'TWO'], [4, 'FOUR']))
y

{1: 'hi', 2: 'TWO', 3: 'THREE', 4: 'FOUR'}

In [74]:
y.update([(2, 'two'), (4, 'four')])
y

{1: 'hi', 2: 'two', 3: 'THREE', 4: 'four'}

* update(zip([키1, 키2], [값1, 값2]))

In [75]:
y.update(zip([1, 2],['qwe', 'dsa']))
y

{1: 'qwe', 2: 'dsa', 3: 'THREE', 4: 'four'}

### 키-값 쌍 삭제하기

    * pop(키) : 들어있는 키-쌍을 삭제하고, 값을 반환함
    * pop(키, 기본값) : 
            키가 있으면, 키-값을 삭제하고, 값을 반환
            키가 없으면, 기본 값을 반환
            
    * popitem()
        python3.6 이상: 딕셔너리의 마지막 키-쌍을 삭제하고, (키,값) 튜플로 반환
        python3.5 이하: 딕셔너리의 임의의 키-쌍을 삭제하고, (키,값) 튜플로 반환
        
    * del 딕셔너리[키] : 해당 키-값을 삭제

In [77]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.popitem()

('d', 40)

 * 모든 키-값 삭제 (clear)

In [78]:
x.clear()
x

{}

### 특정 키의 값을 가져오기

    * get(키) : 키에 대한 값을 반환
    * get(키, 기본값) : 키가 없으면, 기본 값을 반환

In [79]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.get('a')

10

In [80]:
x.get('z', 0)

0

## 딕셔너리에서 키-값 가져오기

    * items : 키-값 쌍을 모두 가져옴
    * keys : 키를 모두 가져옴
    * values : 값을 모두 가져옴

In [81]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.items()

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [82]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [83]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.values()

dict_values([10, 20, 30, 40])

In [84]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for a in x.keys():
    print(a)

a
b
c
d

* 반복문을 통한 출력

In [107]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

# 키-값 둘다 출력
for k, v in x.items():
    print(k,v)

a 10
b 20
c 30
d 40

In [108]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

# 키만 출력
for k in x.keys():
    print(k)

a
b
c
d

In [110]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

# 값만 출력
for v in x.values():
    print(v, end=' ')

10 20 30 40

## 반복문을 통한 딕셔너리 생성

    * {키: 값 for 키, 값 in 딕셔너리}
    * dict({키: 값 for 키, 값 in 딕셔너리})

In [111]:
keys = ['a', 'b', 'c', 'd']
x = {key: value for key, value in dict.fromkeys(keys).items()}
x

{'a': None, 'b': None, 'c': None, 'd': None}

 * 그냥 아래 (리스트로 딕셔너리 만들기)랑 똑같은거 같은데?? 
        =>in 딕셔너리 말고, in 리스트 등으로 딕셔너리 만들 떄 쓸모 있을 듯

## 반복문에 조건문 추가

In [113]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items() if value != 20}
x

{'a': 10, 'c': 30, 'd': 40}

## 리스트와 튜플로 딕셔너리 만들기

    * 키 리스트로 만들기
        * dict.fromkeys(키리스트) : None으로 값을 채움
        * dict.fromkeys(키리스트, 동일값) : 동일값을 값을 채움 
        
    * defaultdict(함수) 이용
        * setdefault처럼 키-값을 추가하는게 아니라 새로운 딕셔너리를 만드는 개념

In [86]:
keys = ['a', 'b', 'c', 'd']
x = dict.fromkeys(keys)
x

{'a': None, 'b': None, 'c': None, 'd': None}

In [87]:
keys = ['a', 'b', 'c', 'd']
x = dict.fromkeys(keys, 100)
x

{'a': 100, 'b': 100, 'c': 100, 'd': 100}

In [93]:
y = {'a': 0, 'b': 0, 'c': 0, 'd': 0}
y

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [101]:
from collections import defaultdict

y = defaultdict(int) # 기본 값이 정수(값이 없으면 0)인 딕셔너리 생성

y['z'] # 'z' 없었던 키 'z'에 대한 값 0 생성

0

In [102]:
y

defaultdict(int, {'z': 0})

In [105]:
y = defaultdict(lambda: 'python')
y['a']

'python'

In [106]:
y

defaultdict(<function __main__.<lambda>()>, {'a': 'python'})

### 딕셔너리 안에 딕셔너리(2차원 딕셔너리)

    * 딕셔너리[바깥 dict's 키][안쪽 dict's 키]

In [114]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
 
print(terrestrial_planet['Venus']['mean_radius'])    # 6051.8

6051.8

## 딕셔너리에서 특정 값을 가진 키를 반환하는 방법은??

## 아니면 키와 값을 반전 시키는 방법??

    => 둘다 items() 이용, 노션 참조

# 형 변환!!!

### 대소문자 변환
    * upper() : 모든 문자열을 대문자로 변환
    * lower() : 모든 문자열을 소문자로 변환
    * capitalize() : 첫 글자만 대문자로 변환
    * 위의 함수들은 1회성 반환이므로, 변수에 다시 넣어 줘야 변환되서 저장됨

In [12]:
txt1 = "hello"

# 한번만 변환됨
print(txt1.upper())

print(txt1)

# 변환되어 저장
txt1 = txt1.upper()
print(txt1)

txt2 = txt1.capitalize()
print(txt2)

HELLO
hello
HELLO
Hello

### 구분자로 문자열을 리스트(요소)로 변환

    * split()

In [20]:
# 공백 기준으로 분리
'apple pear grape pineapple orange'.split()

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [21]:
# 컴마 기준으로 분리
'apple, pear, grape, pineapple, orange'.split(',')

['apple', ' pear', ' grape', ' pineapple', ' orange']

### 위와 역 변환(구분자로 리스트(요소) -> 문자열로 변환)

    * '구분자'.join(리스트명)
    * join()
        - 튜플, 리스트, string  등 반복가능한(iterable) 객체를 받아 하나의 문자열로 만들어줌
        - 시퀀스의 요소가 문자열이어야 하고 아니면 그전에 map(str, ~~) 해서 문자열로 바꾸어줘야함

In [24]:
' '.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple pear grape pineapple orange'

In [23]:
'-'.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple-pear-grape-pineapple-orange'

### 튜플 -> 리스트 변환
### 문자열 -> 리스트 변환

In [95]:
a_tuple = (1,2,3)
b = list(a_tuple)
b

[1, 2, 3]

In [93]:
a_string = "hello"
b = list(a_string)
b

['h', 'e', 'l', 'l', 'o']

### 리스트 -> 튜플 변환
### 문자열 -> 튜플 변환

In [91]:
a = [1,2,3]
b = tuple(a)
b

(1, 2, 3)

In [94]:
a = "hi"
b = tuple(a)
b

('h', 'i')

In [99]:
c = (1,2,3,4,5)
c

(1, 2, 3, 4, 5)

### 리스트 ot 튜플 => 문자열

In [104]:
# 반대로 문자열로 만들기
s = ""

for i in c:
    a = str(i)
    s = s+a
    
s

'12345'

### 리스트 => 딕셔너리

    * 키와 값이 각각 있어야함

 * 방법1. 키 리스트, 값 리스트 각각 있는 경우
 
     * zip 함수를 이용한다

In [139]:
key_a = ['a', 'b', 'c']
value_a = [1,2,3]

c = dict(zip(key_a, value_a))
c

{'a': 1, 'b': 2, 'c': 3}

 * 방법2. 키와 값이 튜플로 묶인 리스트

In [142]:
d = dict([('d', 4), ('e', 5), ('f', 6)])
d

{'d': 4, 'e': 5, 'f': 6}

# 세트! (set!)

     * 세트명 = {값1, 값2, 값3}
     * 세트명 = set(반복 가능한 객체)
         *내용을 변경할수 없는 세트 만들기: frozenset(반복가능객체)
     * in / not in 사용 가능

## 요소 추가(add)

In [132]:
a = {1, 2, 3, 4}
a.add(5)
a

{1, 2, 3, 4, 5}

## 요소 삭제(remove, discard)

    remove : 해당 요소가 없으면 에러 발생
    discard : 해당 요소가 없으면, 그냥 넘어감
    pop() : 임의의 요소 삭제 후, 반환(요소 없으면 에러발생)
    clear() : 전체 요소 삭제

In [133]:
a = {1, 2, 3, 4}
a.remove(4)
a

{1, 2, 3}

In [134]:
a = {1, 2, 3, 4}
a.remove(5)
a

KeyError: 5

In [135]:
a = {1, 2, 3, 4}
a.discard(3)
a.discard(5)
a

{1, 2, 4}

## 세트 연산

a, b가 세트일 때,
    
    * 합집합 : a | b  또는 set.union(a,b)
    * 교집합 : a & b  또는 set.intersection(a,b)
    * 차집합 : a - b  또는 set.difference(a,b)
    * 대칭 차집합(교집합의 역) : a ^ b  또는 set.symmetric_difference(a,b)

In [115]:
a = {1,2,3,4}
b = {3,4,5,6}

In [116]:
a | b

{1, 2, 3, 4, 5, 6}

In [117]:
a & b

{3, 4}

In [118]:
a - b

{1, 2}

In [119]:
a ^ b

{1, 2, 5, 6}

## 세트 연산 + 할당(연산 후 a가 변함)

a, b가 세트일 때,
    
    * 합 할당 : a |= b  또는 a.update(b)
    * 교집합 할당 : a &= b  또는 a.intersection_update(b)
    * 차집합 할당: a -= b  또는 a.difference_update(b)
    * 대칭 차집합(교집합의 역) : a ^= b  또는 a.symmetric_difference_update(b)

In [120]:
a = {1,2,3,4}
b = {3,4,5,6}

a |= b

a

{1, 2, 3, 4, 5, 6}

In [121]:
a = {1,2,3,4}
b = {3,4,5,6}

a &= b

a

{3, 4}

In [122]:
a = {1,2,3,4}
b = {3,4,5,6}

a -= b

a

{1, 2}

In [123]:
a = {1,2,3,4}
b = {3,4,5,6}

a ^= b

a

{1, 2, 5, 6}

## (진(proper))부분집합(subset)/상위집합(superset) 여부 확인
    
    
    * 현재세트 <= 다른세트
    * 현재세트.issubset(다른세트)
    * 현재세트 == 다른세트 or 현재세트 != 다른세트로 진 여부 판단

In [124]:
a = {1,2,3,4}
b = {1,2,3,4,5,6}

a <= b

True

In [125]:
a.issubset(b)

True

In [127]:
b.issuperset(a)

True

In [128]:
# 진부분집합이 아님
a = {1,2,3,4}
b = {1,2,3,4}

a < b

False

 * 세트의 겹침 여부 판단 (.isdisjoint)
 
     겹치는게 있으면, False
     없으면, True

In [129]:
a = {1,2,3,4}
b = {1,2,3,4,5,6}

a.isdisjoint(b)

False

In [130]:
a = {1,2,3,4}
b = {5,6}

a.isdisjoint(b)

True

## 세트 반복문, 조건문 활용

    * {식 for 변수 in 세트 if 조건식}
    * set(식 for 변수 in 세트 if 조건식)

In [136]:
a = {i for i in 'pineapple' if i not in 'apl'}
a

{'e', 'i', 'n'}