* 요소가 2개인 리스트를 요소로 같는 리스트에서 요소 쉽게 뽑아쓰기

In [1]:
for i, j in [[1, 2], [3, 4], [5, 6]]:
    print(i)
    print(j)

1
2
3
4
5
6

# 헷갈리는 리스트내의 요소 변경에 따른 리스트 변경 사항

## remove() 관련

* 리스트.remove(값) : 특정 값을 찾아서 삭제

* 함수의 반환 값은 None이다!

In [1]:
a = [10, 20, 30, 40]

b = a.remove(20)

print(a)
print(b)    # 함수의 반환 값은 0이다.

[10, 30, 40]
None

 * 리스트를 다른 객체(변수)에 할당하고, 변경할 경우, 둘 다 변형된다.

In [3]:
a = [10, 20, 30, 40]
b = a

b.remove(20)    # 리스트 a에도 삭제가 적용된다.

print(b)
print(a)  # 다른 변수에 할당해서 지워도 원본이 적용된다.

[10, 30, 40]
[10, 30, 40]

 * 옅은복사의 경우, 
     * => 리스트 자체에 대한 변경은 반영되지 않으나,
     * 리스트 안에 요소로 있는 리스트가 변경된 경우, 반영된다.

In [5]:
a = [10, 20, 30, 40]
b = a.copy()    # 옅은 복사를 할 경우

b.remove(20)    # 리스트 a에 적용되지 않음

print(b)
print(a)

[10, 30, 40]
[10, 20, 30, 40]

## 옅은 복사와 깊은 복사

### 옅은 복사
    * 해당 리스트에 대한 연산은 독립적으로 이루어지지만,
    * 리스트 안에 요소로 있는 리스트는 영향을 받음
    
### 깊은 복사
    * 리스트 안에 요소로 있는 리스트의 변화도 독립적으로 이루어짐

In [7]:
a = [10, 20, 30, [40, 50]]

b = a.copy()    # 옅은 복사를 할 경우

b.remove(30)      # 리스트 a에 적용되지 않음
b[2].append(60)   # 근데 이건 리스트 a에 적용됨

print(b)
print(a)

[10, 20, [40, 50, 60]]
[10, 20, 30, [40, 50, 60]]

In [11]:
from copy import deepcopy

a = [10, 20, 30, [40, 50]]

b = deepcopy(a)    # 깊은 복사를 할 경우

b.remove(30)      # 리스트 a에 적용되지 않음
b[2].append(60)   # 이것도 적용되지 않음

print(b)
print(a)

[10, 20, [40, 50, 60]]
[10, 20, 30, [40, 50]]

 * 리스트 안에 중복된 값을 지울 때는 앞에 있는 하나만 지워진다.

In [1]:
# 인덱스 상에서 앞에 값 하나만 지워진다.
a = [20, 10, 20, 30, 40]

a.remove(20)

a

[10, 20, 30, 40]

* 없는 값을 지우면 ValueError를 발생시킨다.

In [2]:
a = [20, 20, 10, 20, 30, 40]

a.remove(70)

a

ValueError: list.remove(x): x not in list

# 코딩 테스트 재귀 사용시, 리스트를 요소로 사용하면 할 수 있는 실수!!

## !!! 중요!! 

### 리스트(a) 안에 요소로 넣은 리스트(b)가 변경 될 경우, 그 변경사항이 리스트(a)에 그대로 반영된다!!!

In [23]:
a = []
b = []
cnt = 1

def dfs():
    
    global cnt
    if cnt == 3:
        return
    
    print("%d회차 " % cnt)
    print("%d회차 a_before : %s" % (cnt, a))
    a.append(b)
    print("%d회차 a_after : %s" % (cnt, a))
    
    print("%d회차 b_before : %s" % (cnt, b))
    b.append(cnt)
    print("%d회차 b_after : %s" % (cnt, b))
    
    cnt +=1
    
    dfs()
    
dfs()

print(a)

1회차
1회차 a_before : []
1회차 a_after : [[]]
1회차 b_before : []
1회차 b_after : [1]
2회차
2회차 a_before : [[1]]
2회차 a_after : [[1], [1]]
2회차 b_before : [1]
2회차 b_after : [1, 2]
[[1, 2], [1, 2]]

### 1회차 a_after에는 [[]]가 들어 있는데,
### 2회차 a_before를 보면, a에 아무런 조작을 하지 않았지만, [[1]]로 바뀐 것을 알 수 있음

# 이중리스트에서 요소 순서대로 뽑기

In [38]:
tickets = [["MUC","LHR"],["JFK","MUC"],["SFO","SJC"],["LHR","SFO"]]

for a, b in tickets:
    print(a)
    print(b)

MUC
LHR
JFK
MUC
SFO
SJC
LHR
SFO

# 리스트(List)

# 내용 정리 목차

## 기본 특징(튜플과 비교)

## !시퀀스 공통 기능
    1. 인덱스, 슬라이스
    2. +, * 연산
    3. in, not in
    4. len() : 요소 갯수 구하기
    5. enumerate : 인덱스, 값 뽑아내기
    6. map(함수, 시퀀스) 적용
    
### 리스트 슬라이스 응용

## !리스트 생성
    * 기본 : [요소1, 요소2, ...]
    * 빈리스트 : []. list()
    * 문자 요소 리스트 생성
        * 글자별 => list()
        * 단어별 => .split()
    * 숫자 요소 리스트 생성
        * list(range())
        * [0 for i in range(n)]
    * 2차원 리스트 생성


## !요소 추가
    * 리스트.append(요소) : 맨 뒤에 요소 추가
    * 리스트1.extend(리스트2) : 리스트 + 리스트
        == 리스트1 + 리스트2
    * 리스트.insert(인덱스, 요소) : 특정 인덱스에 요소 추가

## !요소 변경
    * 리스트[인덱스] = 값
    * 리스트[슬라이스:] = 값
    
    * 요소 변경은 변경가능한 객체(mutable)만 가능
        => list, set, dict, bytearray  
    * tuple, str, range은 변경 불가능 객체(immutable)이라 요소 변경 안됨
        * 이것들은 슬라이스 + 값 변경 + 슬라이스로 변경

## !요소 삭제
    * 리스트.pop(인덱스) : 특정 인덱스 or 마지막 요소 삭제하고 반환
    * 리스트.remove(값) : 특정 값을 찾아서 삭제
    * del 리스트[인덱스] : 해당 인덱스의 요소값 삭제
    * 리스트.clear() : 모든 요소 삭제하고, 빈 리스트로 만듬
    
## !요소 확인
    * 특정 값 존재 유무 : in, not in
    * 특정 값의 위치 : 리스트.index(값)
    * 특정 위치의 값 : 리스트[인덱스]

## !정렬
    * 뒤집기 : (리스트.reverse(), [::-1], reversed(리스트))
    * 오름차순, 내림차순(리스트.sort(reverse = True), sorted(리스트, reverse = True))
### 2차원 리스트의 특정 요소 기준으로 정렬
        * sorted(리스트, key=lambda a: a[n])
            (a는 아무거나 써도 됨, n은 정렬 기준이 될 요소의 인덱스)
            
## !리스트의 얕은 복사 / 깊은 복사

## !형 변환
    * 리스트 <=> 문자열
    * 리스트 <=> 튜플
    * 리스트 <=> 세트
    * 리스트 <=> 딕셔너리
    * 리스트 <=> bytes. bytesarray
    * 리스트 <=> np.array
    * 리스트 <=> pd.series
    * 리스트 <=> pd.DataFrame

# !언패킹 출력
    * *(asterisk)를 이용한다.

In [5]:
a = ['a', 'b', 'c']

print(*a)

a b c

In [6]:
b = *a

SyntaxError: can't use starred expression here (<ipython-input-6-ae6bab21d242>, line 1)

In [7]:
type(*a)

TypeError: type.__new__() argument 2 must be tuple, not str

In [2]:
a = ('a', 'b', 'c')

print(*a)

a b c

In [3]:
a = {'a', 'b', 'c'}

print(*a)

a b c

In [6]:
print(*range(0,5))

0 1 2 3 4

In [7]:
a = 'hello'
print(*a)

h e l l o

## 기본 특징(튜플과 비교)
    * 튜플은 변경 불가능 객체(immutable)이고,   # tuple, str, byte, int, float, frozen set 등
    * 리스트는 변경 가능 객체(immutable)임    # 변경가능 객체 : list, set, dict, bytearray
            * 튜플과 다르게 요소 변경, 추가, 삭제 가능

### 튜플은 요소가 2개 이상일 때, 자료형이 성립하지만,

### 리스트는 요소가 1개여도 자료형 성립!!
    * 예를 들어 int형 요소 1개인 튜플은 그냥 int 취급
    * 이 때는 시퀀스 연산 사용 시 에러 발생 가능!!!

### 튜플는 요소가 2개 이상이어야 적용?

 * 튜플은 요소 1개면 요소의 자료형을 따름

In [2]:
a = (4)
print(a)
print(type(a))

4
<class 'int'>

In [2]:
b = ('b')
print(b)
print(type(b))

b
<class 'str'>

In [3]:
c = (4, 'b')
print(c)
print(type(c))

(4, 'b')
<class 'tuple'>

### 리스트는 요소가 1개여도 무방

In [4]:
a = [4]
print(a)
print(type(a))

[4]
<class 'list'>

* 튜플은 요소가 1개면 연산도 안되는 경우가 있음

In [3]:
(1, 2, 3) + (4, 5)

(1, 2, 3, 4, 5)

In [4]:
(1, 2, 3) + (4)

TypeError: can only concatenate tuple (not "int") to tuple

 * 리스트는 무방

In [6]:
[1, 2, 3] + [4]

[1, 2, 3, 4]

# !시퀀스 공통 기능

 1. 인덱스 및 슬라이스 사용
 2.  +, * 연산

In [8]:
a = [1, 2, 3, 4, 5]

In [9]:
# 슬라이싱, 인덱싱, +연산
a[:2] + a[-2:]

[1, 2, 4, 5]

In [11]:
# * 연산
a*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

3. in, not in

In [12]:
3 in a

True

In [13]:
3 not in a

False

In [14]:
7 in a

False

In [15]:
7 not in a

True

4. len() : 요소 갯수 구하기

In [16]:
len(a)

5

 5. enumerate() : 인덱스, 값 모두 뽑아내기

In [18]:
b = ['가', '나', '다']

for k, v in enumerate(b):
    print(k, v)

0 가
1 나
2 다

 6. map(함수, 시퀀스) 적용

In [19]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
a

[1, 2, 3, 4]

### 리스트 슬라이스 응용

 * 인덱스는 양수, 음수 섞어 쓸 수 있음

In [116]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

a[4:-1]

[40, 50, 60, 70, 80]

* 슬라이스 + 간격(띄엄띄엄)

In [115]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

a[1:7:3] # 10 ~ 60까지(70은 미포함!) 3 간격으로 불러오기

[10, 40]

* 처음, 끝 인덱스는 생략가능

In [119]:
a[:7]

[0, 10, 20, 30, 40, 50, 60]

In [120]:
a[5:]

[50, 60, 70, 80, 90]

 * 인덱스 생략 + 간격(증가폭)

In [121]:
a[:7:3]

[0, 30, 60]

In [122]:
a[5::2]

[50, 70, 90]

In [123]:
a[::2]

[0, 20, 40, 60, 80]

## 리스트 생성

 * 기본 : 대괄호 이용(요소 종류는 달라도 무관)

In [69]:
a = [23,345,"sdf", True]
a

[23, 345, 'sdf', True]

* 빈리스트 생성

In [22]:
a = []
a

[]

In [23]:
b = list()
b

[]

* 문자 넣어서 만들기
    * 한글자씩 => list()
    * 단어로 => .split()

In [27]:
# 한글자씩
s1 = "hello"
a = list(s1)
a

['h', 'e', 'l', 'l', 'o']

In [28]:
# 단어로 
s2 = "My name is Tom"
b = s2.split()
b

['My', 'name', 'is', 'Tom']

In [42]:
# 단어2
s3 = "apple, banana, pineapple"
c = s3.split(',')
c

['apple', ' banana', ' pineapple']

In [60]:
# 공백 제거
c = [item.strip() for item in c]
c

['apple', 'banana', 'pineapple']

 * 숫자로 생성

In [74]:
# range() 활용 리스트 생성
d = list(range(3))
d

[0, 1, 2]

In [78]:
e = list(range(-4, 6, 2))
e

[-4, -2, 0, 2, 4]

In [69]:
[i for i in range(-4, 6, 2)]

[-4, -2, 0, 2, 4]

In [71]:
# 이렇게는 하지마!! => list(range()) 는 되는데, [range()]는 안됨
f = [range(-4, 6, 2)]
f

[range(-4, 6, 2)]

* n개 0으로 이루어진 리스트 만들기

In [83]:
n = 6

[0 for i in range(n)]

[0, 0, 0, 0, 0, 0]

## 2차원 리스트 생성
    
    * 같은 방식으로 2차원 튜플도 가능

In [3]:
a = [[10, 20], 
     [30, 40]]

print('a[0][0] : ', a[0][0])
print('a[0][1] : ', a[0][1])
print('a[1][0] : ', a[1][0])
print('a[1][1] : ', a[1][1])

a[0][0] :  10
a[0][1] :  20
a[1][0] :  30
a[1][1] :  40

* 2차원 리스트 반복문 사용

In [4]:
a = [[10, 20], [30, 40], [50, 60]]
for x, y in a:    # 리스트의 가로 한 줄(안쪽 리스트)에서 요소 두 개를 꺼냄
    print(x, y)

10 20
30 40
50 60

In [5]:
a = [[10, 20], [30, 40], [50, 60]]
 
for i in a:        # a에서 안쪽 리스트를 꺼냄
    for j in i:    # 안쪽 리스트에서 요소를 하나씩 꺼냄
        print(j, end=' ')
    print()

10 20
30 40
50 60

In [6]:
a = [[10, 20], [30, 40], [50, 60]]
 
for i in range(len(a)):            # 세로 크기
    for j in range(len(a[i])):     # 가로 크기
        print(a[i][j], end=' ')
    print()

10 20
30 40
50 60

In [7]:
a = [[10, 20], [30, 40], [50, 60]]
 
i = 0
while i < len(a):    # 반복할 때 리스트의 크기 활용(세로 크기)
    x, y = a[i]      # 요소 두 개를 한꺼번에 가져오기
    print(x, y)
    i += 1           # 인덱스를 1 증가시킴

10 20
30 40
50 60

* 반복문으로 2차원 리스트 만들기

In [8]:
a = []    # 빈 리스트 생성
 
for i in range(3):
    line = []              # 안쪽 리스트로 사용할 빈 리스트 생성
    for j in range(2):
        line.append(0)     # 안쪽 리스트에 0 추가
    a.append(line)         # 전체 리스트에 안쪽 리스트를 추가
 
print(a)

[[0, 0], [0, 0], [0, 0]]

    * 톱니모양 2차원 리스트 만들기

In [9]:
a = [3, 1, 3, 2, 5]    # 가로 크기를 저장한 리스트
b = []    # 빈 리스트 생성
 
for i in a:      # 가로 크기를 저장한 리스트로 반복
    line = []    # 안쪽 리스트로 사용할 빈 리스트 생성
    for j in range(i):    # 리스트 a에 저장된 가로 크기만큼 반복
        line.append(0)
    b.append(line)        # 리스트 b에 안쪽 리스트를 추가
 
print(b)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [10]:
# 방법2
a = [[0] * i for i in [3, 1, 3, 2, 5]]
a

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

## !요소 추가
     - append : 요소 하나 추가
     - extend : 리스트를 연결하여 확장
     - insert : 특정 인덱스에 요소 추가

### append()

In [76]:
a = [10, 20, 30]

a.append(234)

a

[10, 20, 30, 234]

In [77]:
b = [1, 2, 3]

b.append([50,70])

b

[1, 2, 3, [50, 70]]

### extend()  (위에 append와 비교)

In [78]:
b = [1, 2, 3]

b.extend([50,70])

b

[1, 2, 3, 50, 70]

In [79]:
b = [1, 2, 3]

b + [50,70]

[1, 2, 3, 50, 70]

 ### insert(인덱스, 요소) : 특정 인덱스에 요소 추가 
 
     * 원래 있었던 인덱스트 뒤로 밀림(오른쪽으로 밀림)

In [249]:
c = [1,2,3,4,5]

c.insert(3, 'asd')

c

[1, 2, 3, 'asd', 4, 5]

## !요소 변경
    * 리스트[인덱스] = 값
    * 리스트[슬라이스:] = 값
        * 슬라이싱 이용해서 띄엄띄엄 값 변경 가능
        * 요소 변경은 변경가능한 객체(mutable)만 가능
            => list, set, dict, bytearray  
    * tuple, str, range은 변경 불가능 객체(immutable)이라 요소 변경 안됨
        * 이것들은 슬라이스 + 값 변경 + 슬라이스로 변경

 * 인덱스 이용

In [108]:
# 요소 값 변경
a = [1,2,3,4,5]

a[2] = 123

a

[1, 2, 123, 4, 5]

 * 슬라이스 이용

In [125]:
# 슬라이스 이용 값 변경

a = [1,2,3,4,5]

a[2:5] = 123, 456, 46  

a

[1, 2, 123, 456, 46]

* 슬라이스로 자른 값의 갯수와 넣는 값의 갯수가 달라도 실행됨

In [85]:
a = [1,2,3,4,5]

a[2:4] = 123, 456, 46, 12678    # 슬라이스로 2개 짜르고, 4개 값 넣기

a

[1, 2, 123, 456, 46, 12678, 5]

* 문자열 같은 변경 불가능객체(immutable)는 요소 변경 불가

In [111]:
b = "hello"

b[2] = 'G'

TypeError: 'str' object does not support item assignment

### 슬라이싱으로 띄엄띄엄 값 변경

In [129]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

a[2:8:2] = 'a', 'b', 'c'

a

[0, 10, 'a', 30, 'b', 50, 'c', 70, 80, 90]

## !요소 삭제

    * 리스트.pop(인덱스) : 특정 인덱스 or 마지막 요소 삭제하고 반환
    * 리스트.remove(값) : 특정 값을 찾아서 삭제
    * del 리스트[인덱스] : 해당 인덱스의 요소값 삭제
        * 슬라이싱 이용해서 띄엄띄엄 값 삭제 가능
    * 리스트.clear() : 모든 요소 삭제하고, 빈 리스트로 만듬

 * 리스트.pop(인덱스)
     * 주의!!!. 리스트가 비워져있으면, IndexError를 발생시킨다!!

In [251]:
a = [10, 20, 30]

a.pop() # 값을 뽑아옴

30

In [252]:
a  # 리스트에서 마지막 값을 빼놓음

[10, 20]

In [253]:
a = [10, 20, 30]

a.pop(1) # 1번 인덱스 값을 제거

a

[10, 30]

* 주의!!!. 리스트가 비워져있으면, IndexError를 발생시킨다!!

In [1]:
a = []
a.pop()

IndexError: pop from empty list

* 리스트.remove(값) : 특정 값을 찾아서 삭제

    * 함수의 반환 값은 None이다!

In [1]:
a = [10, 20, 30, 40]

b = a.remove(20)

print(a)
print(b)    # 함수의 반환 값은 0이다.

[10, 30, 40]
None

In [3]:
a = [10, 20, 30, 40]
b = a

b.remove(20)    # 리스트 a에도 삭제가 적용된다.

print(b)
print(a)  # 다른 변수에 할당해서 지워도 원본이 적용된다.

[10, 30, 40]
[10, 30, 40]

* 지우는 요소가 2개 이상이면?
    * 가장 왼쪽만 지워진다

In [8]:
a = [10, 20, 30, 40, 20, 50, 60, 20, 70]

b = a.remove(20)

print(a)
print(b)    # 함수의 반환 값은 0이다.

[10, 30, 40, 20, 50, 60, 20, 70]
None

 * 옅은복사

In [5]:
a = [10, 20, 30, 40]
b = a.copy()    # 옅은 복사를 할 경우

b.remove(20)    # 리스트 a에 적용되지 않음

print(b)
print(a)

[10, 30, 40]
[10, 20, 30, 40]

## 옅은 복사와 깊은 복사

### 옅은 복사
    * 해당 리스트에 대한 연산은 독립적으로 이루어지지만,
    * 리스트 안에 요소로 있는 리스트는 영향을 받음
    
### 깊은 복사
    * 리스트 안에 요소로 있는 리스트의 변화도 독립적으로 이루어짐

In [7]:
a = [10, 20, 30, [40, 50]]

b = a.copy()    # 옅은 복사를 할 경우

b.remove(30)      # 리스트 a에 적용되지 않음
b[2].append(60)   # 근데 이건 리스트 a에 적용됨

print(b)
print(a)

[10, 20, [40, 50, 60]]
[10, 20, 30, [40, 50, 60]]

In [11]:
from copy import deepcopy

a = [10, 20, 30, [40, 50]]

b = deepcopy(a)    # 깊은 복사를 할 경우

b.remove(30)      # 리스트 a에 적용되지 않음
b[2].append(60)   # 이것도 적용되지 않음

print(b)
print(a)

[10, 20, [40, 50, 60]]
[10, 20, 30, [40, 50]]

 * 리스트 안에 중복된 값을 지울 때는 앞에 있는 하나만 지워진다.

In [1]:
# 인덱스 상에서 앞에 값 하나만 지워진다.
a = [20, 10, 20, 30, 40]

a.remove(20)

a

[10, 20, 30, 40]

* 없는 값을 지우면 ValueError를 발생시킨다.

In [2]:
a = [20, 20, 10, 20, 30, 40]

a.remove(70)

a

ValueError: list.remove(x): x not in list

In [ ]:
# 나중에 한번에 지우는거 찾자

 * del 리스트[인덱스] : 해당 인덱스의 요소값 삭제
     * 튜플, 문자열은 안됨

In [112]:
# 요소 값 삭제
a = [1,2,3,4,5]
del a[2]
a

[1, 2, 4, 5]

* 없는 인덱스를 지우면, IndexError 발생!

In [4]:
# 요소 값 삭제
a = [1,2,3,4,5]
del a[7]
a

IndexError: list assignment index out of range

 ### 슬라이싱으로 띄엄띄엄 값 삭제

In [130]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

del a[2:8:2]

a

[0, 10, 30, 50, 70, 80, 90]

In [113]:
b = "hello"
del b[2]
b

TypeError: 'str' object doesn't support item deletion

In [87]:
a = (1,2,3,4,5)
del a[2]
a

TypeError: 'tuple' object doesn't support item deletion

* 리스트.clear() : 모든 요소 삭제하고, 빈 리스트로 만듬

In [271]:
a = [10, 20, 30]
a.clear()
a

[]

# !요소 확인

In [19]:
a = []
b = [1]
c = [1, 2]
d = []

In [20]:
d.append(a)
print(d)

[[]]

In [21]:
d.append(b)
print(d)

[[], [1]]

In [22]:
d.append(c)
print(d)

[[], [1], [1, 2]]

In [38]:
a = [10, 20, 30, 40]

 * 특정 값 존재 유무 : in, not in

In [41]:
20 in a

True

* 특정 값의 위치(인덱스) : 리스트.index(값)

In [39]:
a. index(30)

2

 * 특정 위치의 값 : 리스트[인덱스]

In [42]:
a[3]

40

# !정렬

### 뒤집기
     * 리스트.reverse()
         * 원본이 뒤집어짐
         * None 값 반환
     * [::-1]
     * reversed(리스트) :이터레이터로 반환, 원본 리스트는 유지

In [2]:
a = ['a', 'b', 'c', 'd']
a.reverse()
a

['d', 'c', 'b', 'a']

In [4]:
b = a.reverse()
print(b)

None

 * [:-1]

In [8]:
a = ['a', 'b', 'c', 'd']

a[::-1]

['d', 'c', 'b', 'a']

 * reversed() : 이터레이터 반환, 원본 유지

In [16]:
a = ['a', 'b', 'c', 'd']

reversed(a)

In [17]:
a    # 원본 유지

['a', 'b', 'c', 'd']

In [14]:
for i in reversed(a):
    print(i)

d
c
b
a

### 오름차순 / 내림차순 정렬
* 오름차순
    * 리스트.sort()  =>  원본도 바꿈, None 값 반환
    * sorted(리스트)  =>  원본 유지, 리스트형 반환
* 내림차순
    * 리스트.sort(reverse=True)  =>  원본도 바꿈, None 값 반환
    * sorted(리스트)  =>  원본 유지, 리스트형 반환

 * 오름차순

In [23]:
a = [40, 20, 10, 30]

a.sort()  
a    # 원본을 바꾼다.

[10, 20, 30, 40]

In [29]:
a = [40, 20, 10, 30]
sorted(a)

[10, 20, 30, 40]

In [31]:
a    # 원본 유지

[40, 20, 10, 30]

 * 내림차순

In [32]:
a = [40, 20, 10, 30]

a.sort(reverse=True) 
a     # 원본을 바꾼다.

[40, 30, 20, 10]

In [33]:
a = [40, 20, 10, 30]
sorted(a, reverse = True)

[40, 30, 20, 10]

In [34]:
a    # 원본 유지

[40, 20, 10, 30]

### 2차원 리스트의 특정 요소 기준으로 정렬
    
    * 리스트 요소 안에 특정 요소를 기준으로 정렬 가능
        * sorted(리스트, key=lambda 함수명: 함수명[인덱스])

In [35]:
students = [
    ['john', 'C', 19],
    ['maria', 'A', 25],
    ['andrew', 'B', 7]
]

print(sorted(students, key=lambda student: student[1]))

[['maria', 'A', 25], ['andrew', 'B', 7], ['john', 'C', 19]]

In [36]:
print(sorted(students, key=lambda qwe: qwe[1]))

[['maria', 'A', 25], ['andrew', 'B', 7], ['john', 'C', 19]]

In [13]:
print(sorted(students, key=lambda func1: func1[2]))

[['andrew', 'B', 7], ['john', 'C', 19], ['maria', 'A', 25]]

In [37]:
print(sorted(students, key=lambda asd: asd[2]))

[['andrew', 'B', 7], ['john', 'C', 19], ['maria', 'A', 25]]

## 2개 요소를 기준으로 정렬

In [ ]:
students = [
    ['john', 'C', 19],
    ['maria', 'A', 25],
    ['andrew', 'B', 7]
]

print(sorted(students, key=lambda student: student[1]))

# !리스트의 얕은 복사 / 깊은 복사
    * 변수 할당 : 변수명만 다르고 같은 리스트 객체를 가리킴
    * 얕은 복사(shallow copy) : 리스트 객체는 별도로 생성하지만, 안에 내용물인 요소는 같은 값을 가리킴(요소의 id가 같음)
        * copy.copy() 사용
    * 깊은 복사(deep copy) : 리스트 객체도 별도로 생성하고, 안에 내용물들도 각각 별도 생성(요소들 id도 각각 다름)
        * 직접해보니 요소가 리스트 일 때는 새로운 객체이나, 단순한 숫자면 그냥 할당하는 듯?
        * copy.deepcopy() 사용

 * 변수 할당

In [272]:
a = [0, 0, 0, 0, 0]
b = a  # 실제로는 하나의 리스트 객체만 존재하고, a, b 두 변수가 같은 것을 가리킴

In [273]:
a[2] = 50
b

[0, 0, 50, 0, 0]

 * 얕은 복사
     * 안에 단순 상수만 있으면 깊은 복사랑 차이 없음

In [1]:
a = [1, 2, 3, 4, 5]
b = a.copy()  # a의 객체를 복사하여 2개의 객체가 생김

In [2]:
a[2] = 50
b

[1, 2, 3, 4, 5]

In [3]:
a

[1, 2, 50, 4, 5]

In [4]:
print(id(a[1]))
print(id(b[1]))

140703356430144
140703356430144

 * 얕은 복사
     * 안에 리스트가 있으면 깊은 복사랑 차이 남

In [10]:
a = [1, 2, [3, 4, 5]]
b = a.copy()  # a의 객체를 복사하여 2개의 객체가 생김

In [12]:
b[2].append(6)

In [13]:
a

[1, 2, [3, 4, 5, 6]]

In [14]:
b

[1, 2, [3, 4, 5, 6]]

 * 깊은 복사
     * 안에 단순 변수만 있으면 깊은 복사랑 차이 없음

In [6]:
import copy

a = [1, 2, 3, 4, 5]

b = copy.deepcopy(a)  # a의 객체를 복사하여 2개의 객체가 생김

In [7]:
a[2] = 50
b

[1, 2, 3, 4, 5]

In [8]:
a

[1, 2, 50, 4, 5]

In [9]:
print(id(a[1]))
print(id(b[1]))

140703356430144
140703356430144

 * 깊은 복사
     * 안에 리스트가 있으면 깊은 복사랑 차이 남

In [16]:
import copy

a = [1, 2, [3, 4, 5]]
b = copy.deepcopy(a)

In [17]:
b[2].append(6)

In [18]:
a

[1, 2, [3, 4, 5]]

In [19]:
b

[1, 2, [3, 4, 5, 6]]

# !형 변환

    * 리스트 <=> 문자열
    * 리스트 <=> 튜플
    * 리스트 <=> 세트
    * 리스트 <=> 딕셔너리
    * 리스트 <=> bytes. bytesarray
    * 리스트 <=> np.array
    * 리스트 <=> pd.series
    * 리스트 <=> pd.DataFrame

## 리스트 <=> 문자열

* 요소가 글자 하나씩 일 때,

In [52]:
a = 'hello'

b = list(a)
b

['h', 'e', 'l', 'l', 'o']

In [53]:
''.join(b)

'hello'

 ### 리스트 요소가 숫자 일 때,  => 요소를 문자형(str)으로 바꿔준디 join

In [63]:
li = [1, 2, 3, 4, 5]

''.join(list(map(str, li)))

'12345'

* 요소가 단어 일 때,

### 리스트 => 문자열
    * '구분자'.join(리스트명)
    * join()
        - 튜플, 리스트, string  등 반복가능한(iterable) 객체를 받아 하나의 문자열로 만들어줌
        - 시퀀스의 요소가 문자열이어야 하고 아니면 그전에 map(str, ~~) 해서 문자열로 바꾸어줘야함

In [24]:
a = ['apple', 'pear', 'grape', 'pineapple', 'orange']

' '.join(a)

'apple pear grape pineapple orange'

In [43]:
a = ['apple', 'pear', 'grape', 'pineapple', 'orange']

'-'.join(a)

'apple-pear-grape-pineapple-orange'

### 문자열 => 리스트

    * list(문자열)

    * '문자열'.split('구분자') : 구분자로 문자열을 리스트(요소)로 변환

In [45]:
# 공백 기준으로 분리
a = 'apple pear grape pineapple orange'

a.split()

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [46]:
# 컴마 기준으로 분리
a = 'apple, pear, grape, pineapple, orange'
a.split(',')

['apple', ' pear', ' grape', ' pineapple', ' orange']

## 리스트 <=> 튜플

### 리스트 => 튜플
    * tuple(리스트)

In [91]:
a = [1,2,3]
b = tuple(a)
b

(1, 2, 3)

### 튜플 => 리스트
    * list(튜플)

In [95]:
a_tuple = (1,2,3)
b = list(a_tuple)
b

[1, 2, 3]

## 리스트 <=> 세트
    * set(리스트), list(세트)

In [47]:
l_a = [1, 2, 3]
s_a = set(l_a)
s_a

{1, 2, 3}

In [48]:
s_a

li = list(s_a)

li

[1, 2, 3]

## 리스트 <=> 딕셔너리

* 리스트 => 딕셔너리

    * 키와 값이 각각 있어야함

 * 방법1. 키 리스트, 값 리스트 각각 있는 경우
 
     * zip 함수를 이용한다

In [139]:
key_a = ['a', 'b', 'c']
value_a = [1,2,3]

c = dict(zip(key_a, value_a))
c

{'a': 1, 'b': 2, 'c': 3}

 * 방법2. 키와 값이 튜플로 묶인 리스트

In [142]:
d = dict([('d', 4), ('e', 5), ('f', 6)])
d

{'d': 4, 'e': 5, 'f': 6}

## 리스트 <=> bytes, bytearray

## 리스트 <=> np.array

## 리스트 <=> pd.series

## 리스트 <=> pd.DataFrame