# 파이썬 연습장

    * 기본 문법 리마인드 하기

* 할것
    * __main__ 
    * STDIN, STDOUT
    * RestAPI

* 조건문(if, else)

In [3]:
if 23 > 20 :
    print("hi")

hi

* 반복문(while, for)

In [ ]:
while 23 > 21:
    # print("hi")

# 입력(input)

 * input("~")
     - ~를 출력하고, 
     - 키보드로 부터 입력을 받음(입력 값은 str type)
     - 정수로 입력 받기 : int(input())

In [4]:
s = input("숫자를 입력하세요")
print("입력한 숫자는 : ", s)

숫자를 입력하세요2
입력한 숫자는 :  2

In [22]:
type(s)

str

### 여러 값을 동시에 입력해서 리스트로 받기

    * input().split() 사용
    * 값 구분은 띄어쓰기로 함
    * 각 값은 문자열 형태로 들어감

In [28]:
a = input().split()
a

10 20 30 40

['10', '20', '30', '40']

In [29]:
type(a)

list

 * int 형으로 변환해서 받기(map 함수 이용)

In [33]:
a = list(map(int, input().split()))
print(a)
print(type(a))

10 20 30 40
[10, 20, 30, 40]
<class 'list'>

# 출력

* 문자열에 변수 넣기
    * "%s" % 변수명 으로 숫자든 문자든 문자열안으로 넣을 수 있음

In [29]:
price = 10000
print("가격은 %s원 입니다." % price)
# , 없고 % 만 있음에 주의

가격은 10000원 입니다.

In [30]:
price = "만"
print("가격은 %s원 입니다." % price)

가격은 만원 입니다.

In [32]:
msg = "%s월 %s일 입니다."
print(msg % (3, 1))

3월 1일 입니다.

 * 다중 출력, 사이 값 출력(sep)

In [38]:
print(1,2,3)
print(1,2,3, sep = 'g')

1 2 3
1g2g3

 * 줄바꿈 출력

In [39]:
print(1,2,3, sep = '\n')

1
2
3

In [41]:
print("1\n2\n3")

1
2
3

In [42]:
print(r"1\n2\n3")

1\n2\n3

# 조건

    * is, is not도 같다, 다르다지만, ==, !=는 값 자체를 비교하고, is, is not은 객체(object)를 비교합니다
    * 객체가 다른 것은 id()를 찍어보면 알수 있음
    
    결론 : 값 비교에는 ==을 쓰고, is는 쓰면 안됨

In [43]:
1 == 1.0

True

In [44]:
1 is 1.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-44-2ebf4c947f31>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1.0

False

In [45]:
1 is not 1.0

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-45-7a2cea8bf2ec>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  1 is not 1.0

True

In [46]:
id(1)

140737052813088

In [47]:
id(1.0)

2698962990480

In [48]:
type(1)

int

In [49]:
type(1.0)

float

### 조건문

 * 조건문의 body 코드 생략하기 : pass

In [151]:
x = 10
if x == 10:

SyntaxError: unexpected EOF while parsing (<ipython-input-151-bd7f1730c489>, line 2)

In [150]:
x = 10
if x == 10:
    pass

In [152]:
# 조건문에서 None = False

if None :
    print("x")
else : 
    print("y")

y

In [153]:
x = 2

if x == 1:
    print(1)
elif x == 2:
    print(2)
else:
    print(3)

2

In [154]:
if 0<x<3:
    print(5)

5

## 논리연산자

    * a and b
    * a or b
    * not a
    
    * 위에 3가지가 섞여 있으면, not, and, or 순으로 판단

In [50]:
not True and False or not False

True

 * bool()
     
    * 정수 0, 실수 0.0, 빈 문자열 '', "", None 만 False
    * 나머지는 True

In [51]:
bool(1)

True

In [52]:
bool(0)

False

In [53]:
bool(0.0)

False

In [54]:
bool(345)

True

In [55]:
bool("qweqw")

True

In [56]:
bool('')

False

### 파이썬에서 단락 평가

    * 문자열과 boolean을 비교하면 뒤에 것 기준으로 판단

In [57]:
"hello" and True

True

In [58]:
True and "hello"

'hello'

In [59]:
"hello" and False

False

In [60]:
"hello" or False

'hello'

In [61]:
False and "hello"

False

In [62]:
False or "hello"

'hello'

In [65]:
1 or False

1

In [66]:
0 and True

0

# 반복문

    * for x in 시퀀스자료(range, 리스트, 튜플, 문자열)
    * while 조건식:
        반복할 코드
        조건 변화식
        * while문의 경우 주로 반복 횟수가 정해지지 않았을 때 사용

* while 사용 예시, 1~6 주사위를 3이 나올때까지 계속 굴리다 3나오면 멈춤

In [215]:
import random

x = 0

while x != 3:
    x = random.randint(1,6)
    print(x)

4
6
1
6
3

### 반복문 제어(break, continue)

    * break : 반복 루프를 빠져나옴
    * continue : 반복은 유지하고, 코드 실행만 건너뜀

In [231]:
# break 사용

i = 0
while True: # 무한 루프
    print(i)
    i += 1
    if i == 3:
        break

0
1
2

In [233]:
# continue 사용

for i in range(10):
    if i % 2 == 0:
        continue    # 반복 루프 안에 있는 나머지 코드를 실행하지 않고 넘김
    print(i)

1
3
5
7
9

In [236]:
for i in range(1, 17):    # 1부터 100까지 100번 반복
    if i % 3 == 0 and i % 5 == 0:
        print('FizzBuzz')
    elif i % 3 == 0:         # 3의 배수일 때
        print('Fizz')      # Fizz 출력
    elif i % 5 == 0:       # 5의 배수일 때
        print('Buzz')      # Buzz 출력
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16

 ### 조건식의 True는 숫자 1의 역할을 함

In [239]:
# 코드 단축 
for i in range(1, 17):
    print('Fizz' * (i % 3 == 0) + 'Buzz' * (i % 5 == 0) or i)
    # 문자열 곱셈과 덧셈을 이용하여 print 안에서 처리

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16

# 자료형
    * 파이썬의 일반적인 자료형은 int, str, float 3가지
    * literal : 숫자(int), str, float 등이 변수명이 아닌 쓰여진 그대로 형태로 취급되는 것
        ex) a = 7 에서 7은 정수 리터럴
            s = 'hello' 에서 'hello'는 문자열 리터럴
    * 연속된 자료형은
        - 문자열 string

# 변수 관련

* id() : 자료의 주소 값 확인
* type() : 자료형 확인
* int() : 자료를 정수형으로 변환

In [34]:
# 변수 지정

x, y, z = 5, 8, 9
print(x)
print(y)
print(z)

5
8
9

In [35]:
# 변수 삭제하기

del x
print(x)

NameError: name 'x' is not defined

In [37]:
# 빈 변수 만들기

x = None    # 다른 언어에서는 null로 많이 표현
print(x)

None

### 2진수, 8진수, 16진수 표현

In [17]:
# 2진수 : 숫자 0 + 알파벳 b
0b110

6

In [19]:
# 8진수 : 숫자 0 + 알파벳 o
0o017

15

In [22]:
# 16진수 : 숫자 0 + 알파벳 x
0x0f

15

### 난수 생성

In [197]:
import random

random.random()  # 0 ~ 1사이의 난수

0.6069332056669248

 * 특정 정수 사이의 난수 발생

In [198]:
random.randint(1, 6)

2

# 시퀀스 자료형(range, 문자열, 리스트, 튜플)

    * set, dict는 아님(순서가 없음)

* 뒤집기 : reversed
* 그냥 출력은 안되는데, for문으로 뒤집기는 되네

In [160]:
x = "hello"

print(reversed(x))

<reversed object at 0x000002746958FA30>

In [161]:
for a in x:
    print(a, end="")

hello

In [162]:
for a in reversed(x):
    print(a, end="")

olleh

In [168]:
z = 'hello'
z = reversed(z)
z
print(z)

<reversed object at 0x00000274695815E0>

In [163]:
y = [123, 234, 345]

reversed(y)

In [166]:
for a in reversed(y):
    print(a, end=', ')

345, 234, 123,

### 시퀀스 객체에서 무작위로 뽑기

In [230]:
import random

x = ['a', 's', 'd', 'f', 'g', 'h']

random.choice(x)

'h'

## 문자열

* 여러 줄로 표현 시 """ ~~ """

In [40]:
print("""He
llo""")

He
llo

 * 연산

In [26]:
'stu' + 'dent'

'student'

In [39]:
'st'*3

'ststst'

* 인덱싱(한 개씩 뽑기)

    * word[3] = 'a' 와 같이 이미 지정된 word 문자열에서 일부를 변경할 수는 없음

In [38]:
word = "hello"

print(word[0])
print(word[1])
print(word[4])

print(word[-1])
print(word[-2])
print(word[-5])

h
e
o
o
l
h

 * 슬라이스(중간 자르기)

In [42]:
word = "hello"

print(word[0:3])
print(word[-5:-2])
print(word[-5:3])

hel
hel
hel

* 값 추가
    * 같은 변수명에서 새로 정의하던지
    * 그냥 + 사용
    * 중간에 값을 추가하여면 슬라이스이용  
        * 슬라이스[시작:중간] + 값 추가 + 슬라이스[중간:끝]

* 값 제거
    * 슬라이스 이용

* 값 변경(문자열 안에 a문자를 b문자로)
    * replace() 함수이용
    * 바꿀 항목이 중복해서 여러개일 떄? 한개만 바꾸는 방법은?  
        replace(a, b, count) : 로 가능하지만, 좌측부터 순서대로 정해진 갯수만큼만 바꿀수 있음
    * 문자 1:1 매칭으로 변경 => translate()      
  
  
    * 인덱스 사용해서 바꿀수는 없을까?  
        => 파이썬 특성상 한번에 바꾸는 것은 안됨  
        => 해당 인덱스 기준으로 슬라이스[시작:인덱스]+바꿀애+슬라이스[인덱스:끝]

In [14]:
sent = "I can do it, I made it"
print(sent)
print(sent.replace('I', "You"))
print(sent)

I can do it, I made it
You can do it, You made it
I can do it, I made it

In [15]:
text = '123,456,789,999'

replaceAll= text.replace(",","")
replace_t1 = text.replace(",", "",1)
replace_t2 = text.replace(",", "",2)
replace_t3 = text.replace(",", "",3)
print("결과 :")
print(replaceAll)
print(replace_t1)
print(replace_t2)
print(replace_t3)

결과 :
123456789999
123456,789,999
123456789,999
123456789999

In [17]:
# 문자 1:1 매칭으로 변경 => translate()

# 먼저 변환테이블 생성
trans_table = str.maketrans('aeiou', '12345')
'apple'.translate(trans_table)

'1ppl2'

### 문자열에서 특정 문자 인덱스 찾기
    
    * find('찾을 문자열') : 왼쪽부터 찾음
    * rfind('찾을 문자열') : 오른쪽부터 찾음
    * 찾는 문자열이 없으면 -1 반환
    * index(), rindex() 도 동일한 기능이나 이 함수들은 찾는 문자열이 없으면 에러 발생시킴

In [46]:
# 'pl'이 2개 있는데 왼쪽부터 처음찾은 문자열의 인덱스를 반환
'apple pineapple mellon'.find('pl')

2

In [48]:
'apple pineapple mellon'.find('p')

1

In [51]:
# 찾는거 없음
'apple pineapple mellon'.find('x')

-1

In [52]:
# rfind() : 오른쪽부터 찾기
'apple pineapple mellon'.rfind('pl')

12

In [54]:
'apple pineapple mellon'.rfind('x')

-1

### 문자열 갯수 세기

    * count('셀 문자열')

In [55]:
'apple pineapple pleasure'.count('pl')

3

* 오른쪽 우선 문자바꾸는 replace() 함수 구현
    * 아래와 다른 방법2 : text[::-1].replace(",","",1)[::-1]
    * 방법3 : 리스트 변환과 reverse() 이용

In [63]:
def replaceRight(original, old, new, count_right):
    repeat=0 # 바꿀 횟수
    text = original
    old_len = len(old)
    
    count_find = original.count(old)
    if count_right > count_find : # 바꿀 횟수가 문자열에 포함된 old보다 많다면
        repeat = count_find # 문자열에 포함된 old의 모든 개수(count_find)만큼 교체한다
    else :
        repeat = count_right # 아니라면 입력받은 개수(count)만큼 교체한다

    while(repeat):
      find_index = text.rfind(old) # 오른쪽부터 index를 찾기위해 rfind 사용
      text = text[:find_index] + new + text[find_index+old_len:] #                 !!!!! 인덱스를 활용한 문자 바꾸기 !!!!!

      repeat -= 1
      
    return text

text = '123,456,789,999'
#text.replace(",", "", -1); print(text) #안됨

#text = replaceRight(text, ",", "", 2)
print("결과 :")
print(replaceRight(text, ",", "", 0)) 
print(replaceRight(text, ",", "", 1))
print(replaceRight(text, ",", "", 2))
print(replaceRight(text, ",", "", 3))
print(replaceRight(text, ",", "", 4))

결과 :
123,456,789,999
123,456,789999
123,456789999
123456789999
123456789999

### 문자열 검색?

    * startswith : 특정 문자로 시작하는 문자열 찾음
        문자열 변수명.startswith("찾는문자") => T/F 반환
    * endswith : 특정 문자로 끝하는 문자열 찾음
        * 주로 파일명 확장자 검색에서 많이 쓰임

In [3]:
EmployeeID = ['OB94382', 'OW34723', 'OB32308', 'OB83461', 'OB74830', 'OW37402', 'OW11235', 'OB82345']

# 'OB'로 시작하는 직원 ID를 다 찾아봅니다
OB_Employee = [OB for OB in EmployeeID if OB.startswith("OB")]
OB_Employee

# [ 변수 for문 조건문] 형태 잘 기억!

['OB94382', 'OB32308', 'OB83461', 'OB74830', 'OB82345']

In [4]:
# startswith 예시

a = "Hello"
print(a.startswith("He"))
print(a.startswith("Hw"))

True
False

### 이스케이프 문자(\\, \', \", \n, \T)

In [5]:
print("백 슬래시 : ", '\\')
print("작은 따옴표 : ", '\'')
print("큰 따옴표 : ",'\"')
print("줄바꿈(=line feed) \n 줄바꿈")
print("탭 \t 탭")

백 슬래시 :  \
작은 따옴표 :  '
큰 따옴표 :  "
줄바꿈(=line feed)
 줄바꿈
탭 	 탭

### 원시 문자열(raw string)
    * 문자열 작은 따옴표 앞에 r을 붙여서 표기
    * 이스케이프 문자등의 기능을 안쓰고 그대로 표기하기 원할 때 사용

In [43]:
print('Please don\'t touch it')
print(r'Please don\'t touch it')

Please don't touch it
Please don\'t touch it

### 공백문자(또는  특정문자) 제거
    * strip()
    * lstrip('지울문자')
    * rstrip()

In [6]:
txt = "      Strip white spaces.      "
print('[{}]'.format(txt))
print('--------------------------')

#- 양쪽 공백 제거 : strip()
print('[{}]'.format(txt.strip()))
print('--------------------------')

#- 왼쪽 공백 제거 : lstrip()
print('[{}]'.format(txt.lstrip()))
print('--------------------------')

#- 오른쪽 공백 제거 : rstrip()
print('[{}]'.format(txt.rstrip()))

[      Strip white spaces.      ]
--------------------------
[Strip white spaces.]
--------------------------
[Strip white spaces.      ]
--------------------------
[      Strip white spaces.]

In [25]:
', python.'.rstrip(',.')

', python'

In [26]:
', python.'.lstrip(',.')

' python.'

In [27]:
', python.'.strip(',.')

' python'

### 모든 특수문자 삭제하기

    * string.punctuation 이용

In [31]:
import string

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [32]:
', python.'.strip(string.punctuation)

' python'

### 정렬 + 공백 생성

In [34]:
# 문자열을 10칸으로 만들고 왼쪽 정렬
'python'.ljust(10)

'python    '

In [35]:
# 문자열을 10칸으로 만들고 오른쪽 정렬
'python'.rjust(10)

'    python'

In [36]:
# 문자열을 10칸으로 만들고 가운데 정렬
'python'.center(10)

'  python  '

In [38]:
'python'.center(9)
# 남는 공백이 홀수면 무조던 왼쪽이 한칸 더 비어있음

'  python '

### 역순으로 정렬

In [57]:
# 방법 1 리스트 넣고, reverse() 함수 쓰고, 다시 문자열 변환

s = 'abcde'

s_list = list(s)  # reverse 함수를 사용하기 위해 문자열을 list로 치환
s_list.reverse()  # reverse 함수를 사용해 문자열 리스트를 거꾸로 뒤집음

print(''.join(s_list))  # 거꾸로 뒤집어진 리스트를 연결해서 출력

edcba

In [58]:
#방법 2

s = 'abcde'

print(''.join(reversed(s)))  # 'edcba'

edcba

In [59]:
# 방법 3

s = 'abcde'
print(s[::-1])  # 'edcba'

edcba

In [62]:
# 방법 4
s = 'abcde'

def solution(s):
    return ''.join(sorted(s, reverse=True))

solution(s)

'edcba'

### 0 채우기
    * zfill() : zero fill의 약자임

In [42]:
# 문자열 길이를 4로 늘리고 남는 부분 왼쪽을 0으로 채움
print('35'.zfill(4))

# 문자열 길이를 6로 늘리고 남는 부분 왼쪽을 0으로 채움
print('3.5'.zfill(6))

# 문자열 길이를 10로 늘리고 남는 부분 왼쪽을 0으로 채움
print('hello'.zfill(10))

0035
0003.5
00000hello

### 값 확인
   
- isupper() : 문자열이 모두 대문자로 되어있으면, True, 아니면 False로 반환
- islower() : 문자열이 모두 소문자로 되어있으면, True, 아니면 False로 반환
- istitle() : 문자열의 첫글자만 대문자로 되어있으면, True, 아니면 False로 반환
- isalpha() : 문자열이 모두  알파벳으로 되어있으면, True, 아니면 False로 반환
- isalnum(): 문자열이 모두 알파벳 문자와 숫자로만 되어 있으면 True, 그렇지 않으면 False를 반환
- isdecimal(): 문자열이 모두 숫자로만 되어 있으면 True, 그렇지 않으면 False를 반환

# 리스트

    * 튜플과 다르게 요소 변경, 추가, 삭제 가능

In [69]:
a = [23,345,"sdf", True]
a

[23, 345, 'sdf', True]

In [72]:
# 빈 리스트
b = []
c = list()
c

[]

In [74]:
# range() 활용 리스트 생성

d = list(range(3))
d

[0, 1, 2]

In [78]:
e = list(range(-4, 6, 2))
e

[-4, -2, 0, 2, 4]

In [105]:
# 이렇게는 하지마
f = [range(-4, 6, 2)]
f

[range(-4, 6, 2)]

 * 다중 변수 할당

In [106]:
# 리스트 이용 다중 변수 할당
a = [23,345,"sdf", True]

b, c, d, e = a

print(b)
print(c)
print(d)
print(e)

23
345
sdf
True

 * 요소 추가하기
     - append : 요소 하나 추가
     - extend : 리스트를 연결하여 확장
     - insert : 특정 인덱스에 요소 추가

In [244]:
a = [10, 20, 30]

a.append(234)

print('a: ',a)

b = [1, 2, 3]

b.append([50,70])

print('b: ', b)

a:  [10, 20, 30, 234]
b:  [1, 2, 3, [50, 70]]

In [245]:
b = [1, 2, 3]

b.extend([50,70])

print('b: ', b)

b:  [1, 2, 3, 50, 70]

In [247]:
b = [1, 2, 3]

b + [50,70]

[1, 2, 3, 50, 70]

 ### 특정 인덱스에 요소 추가 (insert)
 
     * 원래 있었던 인덱스트 뒤로 밀림(오른쪽으로 밀림)

In [249]:
c = [1,2,3,4,5]

c.insert(3, 'asd')

c

[1, 2, 3, 'asd', 4, 5]

* 요소 값 변경 및 삭제

    * 이 기능은 시퀀스자료형 중 리스트만 가능
    * range, tuple, 문자열은 불가

In [108]:
# 요소 값 변경
a = [1,2,3,4,5]

a[2] = 123

a

[1, 2, 123, 4, 5]

In [125]:
# 슬라이스 이용 값 변경

a = [1,2,3,4,5]

a[2:5] = 123, 456, 46  

a

[1, 2, 123, 456, 46]

In [126]:
# 슬라이스로 자른 값의 갯수와 넣는 값의 갯수가 달라도 실행됨

a = [1,2,3,4,5]

a[2:4] = 123, 456, 46    # 2개 = 3개 할당

a

[1, 2, 123, 456, 46, 5]

In [111]:
b = "hello"

b[2] = 'G'

TypeError: 'str' object does not support item assignment

### 리스트에서 요소 삭제

    * pop() : 특정 인덱스 or 마지막 요소 삭제
    * remove() : 특정 값을 찾아서 삭제

In [251]:
a = [10, 20, 30]

a.pop() # 값을 뽑아옴

30

In [252]:
a  # 리스트에서 마지막 값을 빼놓음

[10, 20]

In [253]:
a = [10, 20, 30]

a.pop(1) # 1번 인덱스 값을 제거

a

[10, 30]

In [254]:
a = [10, 20, 30, 40]

a.remove(20)

a

[10, 30, 40]

In [112]:
# 요소 값 삭제
a = [1,2,3,4,5]

del a[2]

a

[1, 2, 4, 5]

In [113]:
b = "hello"

del b[2]

b

TypeError: 'str' object doesn't support item deletion

 * 모든 요소 삭제(clear)

In [271]:
a = [10, 20, 30]
a.clear()
a

[]

### 리스트 슬라이스

 * 인덱스는 양수, 음수 섞어 쓸 수 있음

In [116]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

a[4:-1]

[40, 50, 60, 70, 80]

* 슬라이스 + 간격(띄엄띄엄)

In [115]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

a[1:7:3] # 10 ~ 60까지(70은 미포함!) 3 간격으로 불러오기

[10, 40]

* 처음, 끝 인덱스는 생략가능

In [119]:
a[:7]

[0, 10, 20, 30, 40, 50, 60]

In [120]:
a[5:]

[50, 60, 70, 80, 90]

 * 인덱스 생략 + 간격(증가폭)

In [121]:
a[:7:3]

[0, 30, 60]

In [122]:
a[5::2]

[50, 70, 90]

In [123]:
a[::2]

[0, 20, 40, 60, 80]

### 증가폭 있는 슬라이싱으로 리스트 값 변경하기

In [129]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

a[2:8:2] = 'a', 'b', 'c'

a

[0, 10, 'a', 30, 'b', 50, 'c', 70, 80, 90]

 * 슬라이싱 값 삭제

In [130]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

del a[2:8:2]

a

[0, 10, 30, 50, 70, 80, 90]

 * 특정 값 인덱스 구하기(index)

In [263]:
a = [10, 20, 30, 40]

a. index(30)

2

## 리스트 요소 정렬하기

In [266]:
a = [40, 20, 10, 30]

a.sort()  # 1회성이 아님!!
a

[10, 20, 30, 40]

In [270]:
a = [40, 20, 10, 30]

a.sort(reverse=True)  # 1회성이 아님!! 역순!
a

[40, 30, 20, 10]

In [267]:
a = [40, 20, 10, 30]

sorted(a)  # 정렬한 리스트 생성(1회성)

[10, 20, 30, 40]

In [269]:
a

[40, 20, 10, 30]

### 리스트 순서 뒤집기(reverse())

In [265]:
a = [10, 20, 30, 40]

a.reverse()  # 1회성이 아님!!
a

[40, 30, 20, 10]

## deque 사용

    * 리스트와 동일하나
    * 왼쪽 추가 appendleft(), 왼쪽 삭제 popleft() 사용 가능

In [259]:
from collections import deque

a = deque([10, 20, 30])

a

deque([10, 20, 30])

In [260]:
a.popleft()
a

deque([20, 30])

In [261]:
a.appendleft(56)
a

deque([56, 20, 30])

# 리스트 복사
    * 변수 할당 : 변수명만 다르고 같은 리스트 객체를 가리킴
    * 얕은 복사(shallow copy) : 리스트 객체는 별도로 생성하지만, 안에 내용물인 요소는 같은 값을 가리킴(요소의 id가 같음)
        * copy.copy() 사용
    * 깊은 복사(deep copy) : 리스트 객체도 별도로 생성하고, 안에 내용물들도 각각 별도 생성(요소들 id도 각각 다름)
        * 직접해보니 요소가 리스트 일 때는 새로운 객체이나, 단순한 숫자면 그냥 할당하는 듯?
        * copy.deepcopy() 사용

 * 변수 할당

In [272]:
a = [0, 0, 0, 0, 0]
b = a  # 실제로는 하나의 리스트 객체만 존재하고, a, b 두 변수가 같은 것을 가리킴

In [273]:
a[2] = 50
b

[0, 0, 50, 0, 0]

 * 얕은 복사
     * 안에 단순 상수만 있으면 깊은 복사랑 차이 없음

In [1]:
a = [1, 2, 3, 4, 5]
b = a.copy()  # a의 객체를 복사하여 2개의 객체가 생김

In [2]:
a[2] = 50
b

[1, 2, 3, 4, 5]

In [3]:
a

[1, 2, 50, 4, 5]

In [4]:
print(id(a[1]))
print(id(b[1]))

140703356430144
140703356430144

 * 얕은 복사
     * 안에 리스트가 있으면 깊은 복사랑 차이 남

In [10]:
a = [1, 2, [3, 4, 5]]
b = a.copy()  # a의 객체를 복사하여 2개의 객체가 생김

In [12]:
b[2].append(6)

In [13]:
a

[1, 2, [3, 4, 5, 6]]

In [14]:
b

[1, 2, [3, 4, 5, 6]]

 * 깊은 복사
     * 안에 단순 변수만 있으면 깊은 복사랑 차이 없음

In [6]:
import copy

a = [1, 2, 3, 4, 5]

b = copy.deepcopy(a)  # a의 객체를 복사하여 2개의 객체가 생김

In [7]:
a[2] = 50
b

[1, 2, 3, 4, 5]

In [8]:
a

[1, 2, 50, 4, 5]

In [9]:
print(id(a[1]))
print(id(b[1]))

140703356430144
140703356430144

 * 깊은 복사
     * 안에 리스트가 있으면 깊은 복사랑 차이 남

In [16]:
import copy

a = [1, 2, [3, 4, 5]]
b = copy.deepcopy(a)

In [17]:
b[2].append(6)

In [18]:
a

[1, 2, [3, 4, 5]]

In [19]:
b

[1, 2, [3, 4, 5, 6]]

## 리스트,튜플,문자열의 인덱스와 값을 함께 출력하기(enumerate)

In [21]:
a = ['a', 'b', 'c', 'd']

for idx, v in enumerate(a):
    print(idx, v)

0 a
1 b
2 c
3 d

In [22]:
a = ('a', 'b', 'c', 'd')

for idx, v in enumerate(a):
    print(idx, v)

0 a
1 b
2 c
3 d

In [23]:
a = "abcd"

for idx, v in enumerate(a):
    print(idx, v)

0 a
1 b
2 c
3 d

* .format 함수 : 문자열속에 인덱스, 값 포함하여 출력

In [26]:
a = ['a', 'b', 'c', 'd']

for idx, v in enumerate(a):
    print("인덱스 {}의 요소 내용은 {} 입니다.".format(idx, v))

인덱스 0의 요소 내용은 a 입니다.
인덱스 1의 요소 내용은 b 입니다.
인덱스 2의 요소 내용은 c 입니다.
인덱스 3의 요소 내용은 d 입니다.

# 튜플

    * 리스트와 다르게 요소 변경, 추가, 삭제 불가
    * a = (1, 2, 3) 이렇게 정의해고 되고, a = 1, 2, 3 해도 됨

In [83]:
# 정의

a = 1,2,3, "234", False
a

(1, 2, 3, '234', False)

* 괄호안에 값이 하나이면 튜플이 아나고 그냥 값 동일
    * 요소가 한개인 튜플은 괄호 뒤에 컴마를 써주어야함

In [85]:
a = (232)
b = (232,)

print(a)
print(b)
print(type(a))
print(type(b))

232
(232,)
<class 'int'>
<class 'tuple'>

* range 이용

In [86]:
c = tuple(range(3))
c

(0, 1, 2)

In [107]:
# 튜플 이용 다중 변수 할당
a = 23,345,"sdf", True

b, c, d, e = a

print(b)
print(c)
print(d)
print(e)

23
345
sdf
True

# 딕셔너리

    * 딕셔너리는 { }(중괄호) 안에 키: 값 형식으로 저장하며 각 키와 값은 ,(콤마)로 구분해줍니다.
    * 딕셔너리 = {키1: 값1, 키2: 값2}
    * 딕셔너리 = dict(키1=값1, 키2=값2)
    * 키에는 하나의 값만 지정 가능
    * 키이름이 중복 될 경우 뒤에 있는 한가지만 덮어써서 사용
    * 키에는 리스트와 딕셔너리 사용 불가

In [131]:
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
lux

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [ ]:
lux1 = dict()

* 키이름이 중복 될 경우 뒤에 있는 한가지만 덮어써서 사용

In [133]:
lux = {'health': 490, 'health': 800, 'mana': 334}
lux

{'health': 800, 'mana': 334}

In [138]:
# 빈 딕셔너리 만들기

x = {}
y = dict()
y

{}

 * 딕셔너리 키에 값 할당
 
     * 리스트 넣듯이 넣으면 됨

In [144]:
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

lux['health'] = 1

lux

{'health': 1, 'mana': 334, 'melee': 550, 'armor': 18.72}

* 딕서너리에 키가 있는지 확인
    * in 사용

In [145]:
'health' in lux

True

In [148]:
'air' not in lux

True

In [147]:
# 값은 안됨
334 in lux

False

In [149]:
len(lux)

4

# 형 변환!!!

### 대소문자 변환
    * upper() : 모든 문자열을 대문자로 변환
    * lower() : 모든 문자열을 소문자로 변환
    * capitalize() : 첫 글자만 대문자로 변환
    * 위의 함수들은 1회성 반환이므로, 변수에 다시 넣어 줘야 변환되서 저장됨

In [12]:
txt1 = "hello"

# 한번만 변환됨
print(txt1.upper())

print(txt1)

# 변환되어 저장
txt1 = txt1.upper()
print(txt1)

txt2 = txt1.capitalize()
print(txt2)

HELLO
hello
HELLO
Hello

### 구분자로 문자열을 리스트(요소)로 변환

    * split()

In [20]:
# 공백 기준으로 분리
'apple pear grape pineapple orange'.split()

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [21]:
# 컴마 기준으로 분리
'apple, pear, grape, pineapple, orange'.split(',')

['apple', ' pear', ' grape', ' pineapple', ' orange']

### 위와 역 변환(구분자로 리스트(요소) -> 문자열로 변환)

    * '구분자'.join(리스트명)
    * join()
        - 튜플, 리스트, string  등 반복가능한(iterable) 객체를 받아 하나의 문자열로 만들어줌
        - 시퀀스의 요소가 문자열이어야 하고 아니면 그전에 map(str, ~~) 해서 문자열로 바꾸어줘야함

In [24]:
' '.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple pear grape pineapple orange'

In [23]:
'-'.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple-pear-grape-pineapple-orange'

### 튜플 -> 리스트 변환
### 문자열 -> 리스트 변환

In [95]:
a_tuple = (1,2,3)
b = list(a_tuple)
b

[1, 2, 3]

In [93]:
a_string = "hello"
b = list(a_string)
b

['h', 'e', 'l', 'l', 'o']

### 리스트 -> 튜플 변환
### 문자열 -> 튜플 변환

In [91]:
a = [1,2,3]
b = tuple(a)
b

(1, 2, 3)

In [94]:
a = "hi"
b = tuple(a)
b

('h', 'i')

In [99]:
c = (1,2,3,4,5)
c

(1, 2, 3, 4, 5)

### 리스트 ot 튜플 => 문자열

In [104]:
# 반대로 문자열로 만들기
s = ""

for i in c:
    a = str(i)
    s = s+a
    
s

'12345'

### 리스트 => 딕셔너리

    * 키와 값이 각각 있어야함

 * 방법1. 키 리스트, 값 리스트 각각 있는 경우
 
     * zip 함수를 이용한다

In [139]:
key_a = ['a', 'b', 'c']
value_a = [1,2,3]

c = dict(zip(key_a, value_a))
c

{'a': 1, 'b': 2, 'c': 3}

 * 방법2. 키와 값이 튜플로 묶인 리스트

In [142]:
d = dict([('d', 4), ('e', 5), ('f', 6)])
d

{'d': 4, 'e': 5, 'f': 6}

# 연산

In [7]:
# 나누기

7 / 4

1.75

In [8]:
# 몫만 구하기

7 // 4

1

In [9]:
# 나머지만 구하기

7 % 4

3

In [10]:
# 제곱 = 지수 = power

2 ** 7

128

* 연산의 우선 순위
    - 제곱 **
    - 곱셈 * , 나눗셈 / , 나머지 %
    - 덧셈 + , 뺄셈 -

In [12]:
1 + 2 ** 3 * 7

57

* 기본 연산 함수들

In [14]:
# 절대 값

abs(-3)

3

In [16]:
# 반올림

print(round(3.782))
print(round(3.482))

4
3

In [17]:
# 최댓값

max(3, 7)

7

In [19]:
# 최솟값

min(3, 7)

3

In [20]:
# 루트

from math import * 
sqrt(25)

5.0

In [21]:
# 루트

from math import * 
sqrt(3**2 + 4**2)

5.0

### 파이썬의 실수 오차

    * 파이썬의 실수 저장 방식은 부동소수점 방식으로 오차 발생

In [24]:
0.1 + 0.2

0.30000000000000004

In [26]:
0.1 + 0.2 == 0.3

False

In [27]:
# 실수를 비교할 때는 연산한 값과 비교할 값의 차이를 구한 뒤 sys.float_info.epsilon보다 작거나 같은지 판단해야 합니다.
import math, sys

x = 0.1 + 0.2
math.fabs(x - 0.3) <= sys.float_info.epsilon

True

## Fraction으로 분수 표현하기

    * 순환소수는 고정소수점이라도 정확히 표현할 수 없습니다. 
    * 이때는 fractions 모듈의 Fraction을 사용하여 분수로 표현하면 됩니다.

In [32]:
from fractions import Fraction
Fraction('10/3')    # 10을 3으로 나누면 순환소수 3.33333...이지만 분수 3분의 10으로 표현

Fraction(10, 3)

In [33]:
Fraction(10, 3) * 3

Fraction(10, 1)

## 정규표현식

* 규칙?
    * 변수명으로 주로 낙타체를 이용(첫소문자 후, 다음 대문자)
        ex) myNewCar
    * 상수(한번 값을 주고 값을 바꾸지 않는 변수)는 주로 모두 대문자
        ex) PI = 3.14, MAX_SIZE = 100

# 이터레어터(iterator) = 반복자

    *

In [2]:
# dir() : 해당 객체의 메소드를 확인하는 함수
dir([])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [3]:
dir("")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [4]:
dir({})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [5]:
dir({1:2})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [6]:
dir((1,2))

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [12]:
# a를 이터레이터로 선언
a = (1,2).__iter__()

In [13]:
a.__next__()

1

In [14]:
a.__next__()

2