# 숫자

In [5]:
# 이진수
0b110

6

In [6]:
# 8진수
0o017

15

In [7]:
# 16진수
0x0f

15

In [10]:
import random

random.random()    # 0~1사이의 난수

0.6299117863026296

In [43]:
random.randint(1, 6)    # 1~6사이의 난수

4

# 문자열(Strings)

* 기본 연산

In [54]:
'stu' + 'dent'

'student'

In [55]:
'st'*3

'ststst'

 * 인덱싱

In [58]:
word = "hello"

print(word[0])    # 처음
print(word[4])    # 끝

print(word[-1])   # 끝
print(word[-5])   #처음

h
o
o
h

In [61]:
word = "hello"

print(word[0:3])    # 양수
print(word[-5:-2])  # 음수
print(word[-5:3])   # 혼합
print(word[0:-2])   # 혼합

hel
hel
hel
hel

* 값 추가/제거
    * 중간에 값을 추가/제거하려면 슬라이스이용  
        * 슬라이스[시작:중간] + 값 추가/제거 + 슬라이스[중간:끝]

## 값 변경!! 중요!!

* 값 변경(문자열 안에 a문자를 b문자로)
    * __replace() 함수__ 이용 => 모두 바꾸기 기능임
    * 바꿀 항목이 중복해서 여러개일 떄? 한개만 바꾸는 방법은?  
        replace(a, b, count) : 로 가능하지만, 좌측부터 순서대로 정해진 갯수만큼만 바꿀수 있음
    * 문자 1:1 매칭으로 변경 => translate()      
  
  
    * 인덱스 사용해서 바꿀수는 없을까?  
        => 파이썬 특성상 한번에 바꾸는 것은 안됨  
        => 해당 인덱스 기준으로 슬라이스[시작:인덱스]+바꿀애+슬라이스[인덱스:끝]

In [63]:
sent = "I can do it, I made it"
print(sent)
print(sent.replace('I', "You"))
print(sent)

I can do it, I made it
You can do it, You made it
I can do it, I made it

In [65]:
text = '123,456,789,999'

replaceAll= text.replace(",","")
replace_t1 = text.replace(",", "",1)
replace_t2 = text.replace(",", "",2)
replace_t3 = text.replace(",", "",3)

print("결과 :")
print(replaceAll)
print(replace_t1)
print(replace_t2)
print(replace_t3)

결과 :
123456789999
123456,789,999
123456789,999
123456789999

### 오른쪽 부터 바꾸는 replaceRight 함수 만들기

In [99]:
def replaceRight(original, old, new, count_right):
    repeat = 0    # 바꿀 횟수
    text = original
    old_len = len(old)
    
    count_find = original.count(old) ## 바꿀 부분이 몇 개 있는지 확인
    if count_right > count_find:
        repeat = count_find
    else:
        repeat = count_right

    while(repeat):
        find_index = text.rfind(old)    # 오른쪽의 바꿀 인덱스 확인
        text = text[:find_index] + new + text[find_index+old_len:]
        repeat -= 1
    return text

In [102]:
text = '123,456,789,999'

print(replaceRight(text, ",", "", 0))
print(replaceRight(text, ",", "", 1))
print(replaceRight(text, ",", "", 2))
print(replaceRight(text, ",", "", 3))

123,456,789,999
123,456,789999
123,456789999
123456789999

In [85]:
while(0):
    print("hello")

* 문자 1:1 매칭으로 변경 => translate()  
    ex) a => 1, e => 2, i => 3

In [66]:
# 문자 1:1 매칭으로 변경 => translate()

# 먼저 변환테이블 생성
trans_table = str.maketrans('aeiou', '12345')


'apple'.translate(trans_table)

'1ppl2'

In [68]:
x = 'apple'

t_table = str.maketrans('aeiou', '12345')

x.translate(t_table)

'1ppl2'

In [69]:
a = 'apple'

tt = str.maketrans('abc', '123')

a.translate(tt)

'1pple'

### 문자열에서 특정 문자 인덱스 찾기
    
    * find('찾을 문자열') : 왼쪽부터 찾아서 찾은 문자의 시작하는 인덱스를 반환
    * rfind('찾을 문자열') : 오른쪽부터 찾아서 찾은 문자의 (왼쪽부터) 시작하는 인덱스를 반환
    * 찾는 문자열이 없으면 -1 반환
    * index(), rindex() 도 동일한 기능이나 이 함수들은 찾는 문자열이 없으면 에러 발생시킴

In [71]:
a = 'apple pineapple melon'

a.find('pl')

2

In [72]:
a.rfind('pl')

12

In [73]:
a.find('x')

-1

In [74]:
a.index('x')

ValueError: substring not found

 * 뒤집기(reversed 함수)
     - 해당 변수를 reversed class로 만듬
     - for문으로 출력 가능
     - 리스트도 사용 가능

In [46]:
x = "hello"

print(reversed(x))
print(type(reversed(x)))

<reversed object at 0x0000020C5F0565E0>
<class 'reversed'>

In [48]:
for i in reversed(x):
    print(i, end='')

olleh

* 여러줄로 출력 : """ 사용
    - 코드상 표현 뿐만아니라 출력도 여러줄로 됨

In [53]:
print(""" asdfgjkl
sdklfsdklfjl""")

print(""" asdfgjkl
    sdklfsdklfjl""")

 asdfgjkl
sdklfsdklfjl
 asdfgjkl
    sdklfsdklfjl

 * 문자열 갯수 세기 : count()

In [75]:
'apple pine'.count('p')

3