# 문자열(Strings)

## 내용 정리 목차
* !입력
    * 기본 : input(), int(input())
    * 표준 입력
        * from sys import stdin
        * 변수 = stdin.readline().rstrip()
    * 여러 값을 리스트로 받기
        * 문자열 요소로 받기 : 리스트명 = input().split()
        * 정수형 요소로 받기 : 리스트명 = list(map(int, input().split()))
* !출력
    * 문자열 포매팅(변수 삽입)
        * % 이용(%s, %c, %d, %f, %o, %x)
        * "..{인덱스}..".format(변수명)
        * f"...{변수명}..."
    * 이스케이프 문자(escape sequence)
    * 원시문자열
    * 여러 줄 출력
    
    
* !시퀀스 공통 기능
    * +, *
    * 인덱싱, 슬라이스
    
    
* !값 추가/제거 관련
    1. 슬라이스 + 값 추가/제거 + 슬라이스
    2. .replace('지울 내용', '')
        * append(), Insert()는 리스트 전용 함수임, 문자열 사용 불가!
        * remove(), pop() 함수는 문자열에서 사용 불가!  
        
        
* !값 추가 관련
    * 요소 사이사이 값 추가 : "추가문자".join(문자열 or 리스트)
    * 공백추가+정렬 : ljust, rjust, center
    * 영추가 : zfill()  
          
          
* !값 제거 관련       
    * 공백문자(\n, \t) or 특정 문자 제거 : strip(), lstrip(), rstrip()
    * 모든 특수 문자 제거(.strip(string.punctuation) + ' '이용)
            
            
* !값 확인/검색
    * 문자열 내 특정 문자 갯수 확인 : count()
    * 문자열 내 특정 문자열 인덱스 확인 : find(), index()
        * .find() 이용해서 특정 문자 유무 확인 가능
    * 특정 문자로 시작하는/끝나는 문자열 색출 : startswith(), endswith()
    * 알파벳, 숫자, 대소문자 확인: isalpha, isdecimal, isalnum, isupper, islower, istitle
        
        
* !값 변경
    * 문자열 내에 문자 'a'를 'b'로 변경 : .replace(a, b)
        * 좌측부터 순서대로 갯수 설정 가능
        * replaceRight 함수 만들기 : 우측부터 ~
    * 문자 1:1 매칭으로 변경 => translate()
        * 만일 바꾸는 문자가 길이가 일치하지 않고, 종류가 많지 않다면,  
          replace(a, b)문을 여러번 사용하자.
    * re.sub()
    * 대소문자 변경(upper, lower)
        

* !값 비교  
    ・ 완전 일치 : == , !=  
    ・ 부분 일치 : in , not in  
    ・ 전방 일치 : startswith()  
    ・ 후방 일치 : endswith()  
    

* !값 정렬
    * 문자열 뒤집기
        1. 슬라이스 인덱스 [::-1]
        2. list로 변경 => .reverse()함수 => str로 재변경
        3. reversed(문자열) 객체 생성 => for문으로 출력
    * 오름차순, 내림차순 정렬
        * list(문자열), sorted(리스트, reverse = 0/1), "".join(리스트) 이용
        
        

* !형 변환
    * 문자 <=> 숫자(ASCII)
    * Boolean 변환
        * bool() 함수 이용
    * 리스트로 변경
        * 문자열->리스트
            1. list(문자열) : 문자 하나하나를 요소로 리스트 변환
            2. 문자열.split() : 문자열의 공백을 기준으로 요소를 나누어 리스트 반환
        * 리스트->문자열 : = "".join(리스트)
        * 변형(문자열/리스트 요소 사이에 다른 문자 추가): "추가문자".join(리스트)
    * 튜플 변환
        * -> 튜플 : tuple(문자열)
        * -> 문자열 : "".join(튜플)
    * 바이트/바이트배열 변환
        * -> 바이트/바이트배열 : bytes(문자열, encoding='인코딩방식') / bytearray(문자열, encoding = '인코딩방식')
        * -> 문자열 : 바이트.decode("인코딩방식")
    * 세트 변환
        * -> 세트 : set(문자열)
        * -> 문자열 : "".join(세트)   =>    중복 값 누락 발생
    * 딕셔너리 변환
        * -> 딕셔너리 : for k, v in enumerate(문자열): 딕셔너리[키]=값
        * -> 문자열 : for k, v, in 딕셔너리.items(): 이후는 코드 참조
        
    
           
             
* !그 외 기능들
    * 정규표현식 관련
    * 점프 투 파이썬, 코딩 도장 내용 중 빠진 것 있응지 확인
    * dir(str)에서 나오는 메소드 중 필요한 것 확인
    * 문자열의 길이를 기준으로 정렬  
        https://velog.io/@asas33/python-%EB%AC%B8%EC%9E%90%EC%97%B4-%EB%A6%AC%EC%8A%A4%ED%8A%B8-%EC%A0%95%EB%A0%AC

* 노션 정리 내용 재 정리
* 목차 복사
* 깃허브 커밋

# !입력(input) 관련

 * input("~")
     - ~를 출력하고, 
     - 키보드로 부터 입력을 받음(입력 값은 str type)
     - 정수로 입력 받기 : int(input())

 * 문자열 입력 받기

In [9]:
'2301010234'.split('0')

['23', '1', '1', '234']

In [8]:
int('')

ValueError: invalid literal for int() with base 10: ''

 * 비워진 문자열은 조건문에서 false 역할도 한다

In [1]:
if '':
    print('hi')

In [2]:
'' + 'a'+'b'

'ab'

In [71]:
s = input("숫자를 입력하세요 : ")
print("입력한 숫자는 : ", s)
print(type(s))

숫자를 입력하세요 : 123
입력한 숫자는 :  123
<class 'str'>

 * 정수 입력 받기

In [73]:
s = int(input("숫자를 입력하세요 : "))    # int(input()) 사용
print("입력한 숫자는 : ", s)
print(type(s))

숫자를 입력하세요 : 123
입력한 숫자는 :  123
<class 'int'>

## 표준 입력!!


     * !!! 주피터 노트북은 sys.stdin을 지원하지 않음 !!!
         * https://blog.naver.com/luvwithcat/222200084036
         
     * 코딩 테스트에서 입력값을 여러줄을 받아야 할 때,
         * input()과 반복문으로 입력 받으면 시간초과가 발생가능
         
     * 카카오에서는 아예 표준 입출력하라고 명시까지 해놨음
     
     * sys 라이브러리를 사용할 때에는 한줄 입력 받은 후 꼭 rstrip() 함수를 호출한다.
         * readline()으로 입력하면, 입력 후 엔터가 줄바꿈 기호로 입력되는데, 이 공백문자를 제거하기 위함.

In [75]:
from sys import stdin

a = stdin.readline().rstrip()    ### jupyter notebook에서 실행 안됨

print(a)

### 여러 값을 동시에 입력해서 리스트로 받기

    * input().split() 사용
    * 값 구분은 띄어쓰기로 함
    * 각 값은 문자열 형태로 들어감

In [76]:
a = input().split()   ### 숫자를 입력해도 정수형(str)로 받는 것에 주의
a

10 20 30 40

['10', '20', '30', '40']

### 여러 값을 동시에 숫자(int형)로 받아 리스트로 반환
     * map 함수는 map class를 반환하므로, list()로 감싸주어야함
     * map(파라미터1,파라미터2)
         * 파라미터 1은 함수명을 그대로 씀 => () 소괄호 안씀
         * 파라미터 2는 반복가능객체 사용 => list입력을 위해 input().split() 사용  
         (()소괄호 모두 적어주어야함 주의!!)

In [78]:
a = list(map(int, input().split()))
print(a)

10 20 30 40
[10, 20, 30, 40]

## !출력 관련

### 문자열 포매팅(변수 삽입)
    * %s : 문자열
    * %c : 문자 한개
    * %d : 정수(int형)
    * %f : 부동소수(floating-point)
    * %o : 8진수
    * %x : 16진수
    * %% : '%' 문자 자체를 넣음(다른 포멧팅이 같이 있을 때, (하단 추가 설명 있음))

* 숫자 대입(%d)

In [7]:
a = 3
print("%d apples." % a)

3 apples.

In [6]:
a = 3
b = 2
print("%d apples, %d bananas" % (a, b))

3 apples, 2 bananas

 * 문자열 대입(%s)

In [12]:
t = "Sangun"
print("My name is %s" % t)

My name is Sangun

 * 혼합

In [13]:
print("%s has %d apples." %(t, a))

Sangun has 3 apples.

###  %%의 사용

* 다른 포맷팅이 없을 때는 그냥 % 갯수만큼 들어감

In [25]:
print("hello % hi")
print("hello %% hi")

hello % hi
hello %% hi

 * 다른 포맷팅이 있으면 %%를 써주어야 % 한 개가 들어감

In [5]:
print("The Probability is %d %%" % 3)

The Probability is 3 %

In [4]:
print("The Probability is %% sadf %d asd asd %%" % 3)

The Probability is % sadf 3 asd asd %

In [24]:
'persent %%'

'persent %%'

In [13]:
print("%")
print("%%")
print("\%")
print("The Probability is %d %%" % 3)
print("The Probability is %d \%" % 3)

%
%%
\%
The Probability is 3 %

ValueError: incomplete format

In [14]:
print("The Probability is %d %" % 3)

ValueError: incomplete format

 * 공간 설정 및 문자 정렬
     * %s에서 %와 s 사이 숫자로 공간 설정
         * 양수 : 오른쪽 정렬
         * 음수 : 왼쪽 정렬

In [31]:
print("My %10s is Sangun" % "name")    # 양수 : 오른쪽 정렬

My       name is Sangun

In [33]:
print("My %-10s is Sangun" % "name")    # 음수 : 왼쪽 정렬

My name       is Sangun

 * 소숫점 자릿수 표현
    * %f에서 %와 f사이에 0.자릿수 추가

In [34]:
"%0.4f" % 3.1415926535

'3.1416'

* 공간 + 왼쪽/오른쪽 정렬 + 소숫점 자릿수

In [36]:
# - : 왼쪽 정렬
# 10 : 10칸의 공간 마련
# .4 : 소수점 아래 내자리까지 반올림
"%-10.4f" % 3.141592653589

'3.1416    '

In [37]:
# - 안붙이면 오른쪽 정렬됨
"%10.4f" % 3.141592653589

'    3.1416'

### ".....{}.......".format() 이용

 * 기본형

In [38]:
a = "is"
print("My name {} sangun".format(a))

My name is sangun

 * 숫자 + 문자 혼합 삽입

In [41]:
fruit = "apple"
num = 3

print("I ate {} {}s.".format(num, fruit))

I ate 3 apples.

 * 변수 삽입 순서 설정 => {} 안에 숫자로 순서 설정 가능

In [40]:
fruit = "apple"
num = 3

print("I ate {1} {0}s.".format(fruit, num))

I ate 3 apples.

 * 변수 이름으로 삽입

In [42]:
"I ate {number} apples. so I was sick for{day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

 ### => 변수의 값을 format()함수 안에서 설정 해주어야함

In [43]:
number=10
day=3

"I ate {number} apples. so I was sick for{day} days.".format(number, day)

KeyError: 'number'

 * 인덱스, 이름 혼용해서 넣기

In [44]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

* 왼쪽/오른쪽 정렬

    {인덱스 : 정렬방향 자릿수}

In [47]:
fruit = "apple"
num = 3

print("I ate {1:<10} *** {0:>10}s.".format(fruit, num))

I ate 3          ***      apples.

* 가운데 정렬  
{인덱스:^자릿수}

In [48]:
fruit = "apple"
num = 3

print("I ate {1:^10} *** {0:^10}s.".format(fruit, num))

I ate     3      ***   apple   s.

 * 공백 채운 정렬  
 {인덱스:채울문자^자릿수}

In [49]:
fruit = "apple"
num = 3

print("I ate {1:@^10} *** {0:=^10}s.".format(fruit, num))

I ate @@@@3@@@@@ *** ==apple===s.

* 자릿수 + 소수점 표현

In [51]:
p = 3.1415926535
"{0:10.4f}".format(p)

'    3.1416'

 * 중괄호 문자 표현 => 포매팅 기능과 무관
    * 연속으로 2개 쓰기

In [15]:
"{{ and }}".format() # 바깥쪽 중괄호는 .format 함수와 짝궁 기능 역할, 안쪽 중괄호는 문자 취급

'{ and }'

In [1]:
# .format을 안쓰면 중괄호 2개 모두 출력됨
print('{{}}')

{{}}

In [6]:
a = 123
print("{qwe{ and }ewq }".format(a))

ValueError: unexpected '{' in field name

### 돈 단위 표현하기(3자리 ,)　　　=>　　　format(숫자, ',')

 * % 포매팅
     * 서식지정자(%)의 경우 뒤에 , ',' 만 추가하면 됨

In [1]:
'%20s' % format(1493500, ',')

'           1,493,500'

In [2]:
format(1493500, ',')

'1,493,500'

In [16]:
type(format(1493500, ','))

str

 * "".format() 함수 이용
      * {인덱스:채우기+정렬+길이+콤마+소수점}으로 넣어야됨

In [3]:
'{0:0>20,}'.format(1493500)

'000000000001,493,500'

 * float 형

In [4]:
'{0:0>20,.2f}'.format(1493500)

'000000001,493,500.00'

## f 문자열 포매팅　　=> 　　f'.....{외부변수}.....'
    * .format 함수를 쓰지 않고도 f''을 사용하면 포매팅 가능(파이썬 3.6 이상부터)
    * 기능상 .format에서 쓰인 형식 그대로 사용 가능(정렬, 소수점, 중괄호 등)
        .format() 에서 {}안에 인덱스가 쓰이면, f포매팅은 "문자열변수명" or "문자열"이 그대로 쓰임

In [55]:
name = "홍길동"
age = 17

f'내 이름은 {name}이고, 나이는 {age}입니다.'

'내 이름은 홍길동이고, 나이는 17입니다.'

In [58]:
f'내년이면 {age+1}살 입니다.'

'내년이면 18살 입니다.'

 * f포매팅 + 딕셔너리 이용

In [59]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [52]:
f"{'hi':<10}"  # 왼쪽 정렬

'hi        '

### 이 때, f포메팅 과 안에 문자열 기호는 서로 큰-작은 따옴표 또는 작은-큰 따옴표로 달라야한다(아닐시 에러)

In [61]:
f'{"hi":>10}'  # 오른쪽 정렬

'        hi'

In [62]:
f'{"hi":^10}'  # 가운데 정렬

'    hi    '

In [63]:
f'{"hi":=^10}'  # 가운데 정렬하고 '=' 문자로 공백 채우기

'====hi===='

In [64]:
f'{"hi":!<10}'  # 왼쪽 정렬하고 '!' 문자로 공백 채우기

'hi!!!!!!!!'

In [65]:
y = 3.14159265
f'{y:10.4f}'  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

'    3.1416'

### 이스케이프 문자(\\, \', \", \n, \T) (escape Sequence)
    - https://www.programiz.com/python-programming/string 여기서 'escape sequence' 검색
    - \(백슬래시), ", '(큰, 작은따옴표)들은 문자열 기호('')안에서 앞에 백슬래시 한번 더 써줘야함
    - 띄어쓰기 문자 : \n(줄바꿈), \t(탭)

 * \\\\

In [8]:
print("백 슬래시 : ", '\\')

백 슬래시 :  \

* \\'

In [ ]:
print("작은 따옴표 : ", '\'')

* \\"

In [ ]:
print("큰 따옴표 : ",'\"')

* \n (line feed)

In [11]:
print("줄바꿈\n줄바꿈") #  = line feed

줄바꿈
줄바꿈

* \t (tab)

In [12]:
print("탭\t탭")

탭	탭

* \r (Carriage Return) : 커서를 맨 앞으로 옮김

In [18]:
print("가나다라마바사아자차카타파하\r덮어쓰기")

덮어쓰기

* \b (back space) : 백스페이스

In [19]:
print("가나다\b")

가나다

* \a (bell) : 별표인듯??

In [18]:
print("가나다\a가나다")
print("\a")

가나다가나다


 * \\newline(줄마지막에 \\) : 코드 상에서 여러줄로 쓰고 한줄로 이어서 출력(\는 출력 안됨)

In [5]:
print('asd\
asd')

asdasd

* \ooo (ooo는 8진수) : 해당 8진수 값에 해당하는 문자

In [32]:
print('\101') # 65(10진수)
print('\102') # 66(10진수)

A
B

* \xHH (HH는 16진수): 16진수 값에 해당하는 문자
    * 해당하는 문자가 없으면 그대로 표기됨

In [33]:
print('\x41') # 65(10진수)
print('\x42')

A
B

### 원시 문자열(raw string)
    * 문자열 작은 따옴표 앞에 r을 붙여서 표기
    * 이스케이프 문자등의 기능을 안쓰고 그대로 표기하기 원할 때 사용
    
    * !! 원시 문자열 표기시, 마지막에 백슬래시(\)를 홀수 개 쓸 경우, 에러남!!(백준 10171 고양이 문제)
    * 이거는 따로 +'\\' 하던지 하자

In [9]:
print('Please don\'t touch it')
print(r'Please don\'t touch it')

Please don't touch it
Please don\'t touch it

In [22]:
print("This is \x61 \ngood example")
print(r"This is \x61 \ngood example")

This is a
good example
This is \x61 \ngood example

* 에러 상황(마지막 백슬래시)

In [21]:
print(r'Please don\'t touch it\')

SyntaxError: EOL while scanning string literal (<ipython-input-21-fcaef753b6d5>, line 1)

 * 해결 방안( + ' \\\\ ')

In [27]:
print(r'Please don\'t touch it'+'\\')

Please don\'t touch it\

* SyntaxError: EOL while scanning string literal
    - 프로그램 구문이 잘못 쓰였을 때 발생
    - 주로 따옴표, 괄호 등 제대로 여닫지 않았을 때 발생
    - 철자 틀릴 경우도 발생?

In [22]:
print(r'Please don\'t touch it\\')

Please don\'t touch it\\

In [23]:
print(r'Please don\'t touch it\\\')

SyntaxError: EOL while scanning string literal (<ipython-input-23-3ca2b3955a4b>, line 1)

In [24]:
print(r'Please don\'t touch it\\\\')

Please don\'t touch it\\\\

### 여러줄로 출력
    - """ 사용
    - 코드상 표현 뿐만아니라 출력도 여러줄로 됨

In [53]:
print(""" asdfgjkl
sdklfsdklfjl""")

print(""" asdfgjkl
    sdklfsdklfjl""")

 asdfgjkl
sdklfsdklfjl
 asdfgjkl
    sdklfsdklfjl

## !시퀀스 공동 기능

* +, * 연산

In [54]:
'stu' + 'dent'

'student'

In [19]:
'stu','dent'

('stu', 'dent')

In [55]:
'st'*3

'ststst'

 * !인덱싱

In [58]:
word = "hello"

print(word[0])    # 처음
print(word[4])    # 끝

print(word[-1])   # 끝
print(word[-5])   #처음

h
o
o
h

* !슬라이스

In [61]:
word = "hello"

print(word[0:3])    # 양수
print(word[-5:-2])  # 음수
print(word[-5:3])   # 혼합
print(word[0:-2])   # 혼합

hel
hel
hel
hel

### 요소 유무 확인(in/not in)

In [41]:
a = "hello"

'e' in a

True

In [42]:
'x' in a

False

In [44]:
'e' not in a

False

In [45]:
'x' not in a

True

### 인덱스와 값 뽑아내기(enumerate)

In [49]:
a = 'hello'

for k,v in enumerate(a):
    print(k, v)

0 h
1 e
2 l
3 l
4 o

### map()으로 특정 함수 적용

    * map객체를 for문으로 한번 쓰면, 객체 내에 요소를 다시 뽑을 수 없음
        * 즉, map 객체는 1회용임

In [25]:
# 알파벳을 아스키 코드로 대칭 되는 숫자로 변경

a = 'ABCDEabcde'
b = map(ord, a)
b

 * map 객체는 enumerate로 활용 가능

In [26]:
for k, v in enumerate(b):
    print(k, v)

0 65
1 66
2 67
3 68
4 69
5 97
6 98
7 99
8 100
9 101

In [38]:
# 알파벳을 아스키 코드로 대칭 되는 숫자로 변경

a = 'ABCDEabcde'
b = map(ord, a)
b

In [41]:
# 이 셀을 수행 했을 때, 안했을 떄, 바로 아래 수행 결과가 달라짐
print(list(b))

[]

In [40]:
b

In [30]:
for i in b:
    print(i)

In [34]:
print(list(b))

[]

### 즉, map 객체는 list() 든, for in enumerate() 든 한번 밖에 못 씀

In [31]:
for i in b:
    print(i)

In [23]:
type(b)

map

## !값 추가/제거 관련
    * 기본적을 + '~~' 와 인덱스 슬라이스를 활용하여 값 추가/변경
    1. 슬라이스 + 값 추가/제거 + 슬라이스
    2. 문자열.replace("a", "b") 이용
    
        * insert, append는 리스트 함수이고, 문자열은 사용 불가
        * remove, pop함수도 문자열은 사용 불가

### 슬라이스 + 값 추가/제거 + 슬라이스
* 값 추가/제거
    * 중간에 값을 추가/제거하려면 슬라이스이용  
        * 슬라이스[시작:중간] + 값 추가/제거 + 슬라이스[중간:끝]

In [16]:
a = 'helo'
a = a[:3] + 'l' + a[3:]
a

'hello'

In [38]:
# 방법 2
a = 'helo'
a = a.replace('elo', 'ello')
a

'hello'

In [17]:
b = 'hello'
b = b[:1] + b[-1:]
b

'ho'

In [39]:
b = 'hello'
b = b.replace('hello', 'ho')
b

'ho'

## !값 추가

### 요소 사이사이 값 추가("추가 문자".join(문자열))
* "추가문자".join(문자열 or 리스트)
* 반환 형은 문자열임

In [64]:
c = '12345'
d = "x".join(c)
d

'1x2x3x4x5'

### "".join(리스트)로 문자열 변환시, 각 리스트의 요소는 문자열형 이어야 한다!!!
### 아니면 map(str, 리스트)로 강제 형변환 해줘야 한다!

In [44]:
c1 = [1,2,3,4,5]
d1 = "x".join(c1)
d1

TypeError: sequence item 0: expected str instance, int found

In [48]:
c2 = [1,2,3,4,5]
d2 = "x".join(map(str,c2))
d2

'1x2x3x4x5'

In [45]:
c1 = ['1','2','3','4','5']
d1 = "x".join(c1)
d1

'1x2x3x4x5'

### 공백추가+정렬 : ljust, rjust, center
    - ljust(숫자) : 숫자 만큼 칸을 만들고 왼쪽 정렬(오른쪽 남은 칸은 공백)
    - rjust(숫자) : 숫자 만큼 칸을 만들고 오른쪽 정렬(왼쪽 남은 칸은 공백)
    - center(숫자) : 숫자 만큼 칸을 만들고 가운데 정렬  
                     (남은 칸은 공백, 홀수개면 왼쪽이 공백 1개 더 많음)

In [40]:
# 문자열을 10칸으로 만들고 왼쪽 정렬
'python'.ljust(10)

'python    '

 * 같은 의미 다른 표현(큰,작은 따옴표 섞어 써야됨)

In [50]:
f'{"python":<10}'

'python    '

In [41]:
# 문자열을 10칸으로 만들고 오른쪽 정렬
'python'.rjust(10)

'    python'

In [42]:
# 문자열을 9칸으로 만들고 가운데 정렬
# 왼쪽 공백이 1개 더 많음
'python'.center(9)

'  python '

### 영 추가 : 문자열.zfill(문자열 길이)
     * 문자열 전체 길이를 설정하면, 기존 길이에서 남는 길이 만큼 왼쪽부터 0이 채워진다.
     * +,- 문자가 포함될 경우, 첫 번째 + or - 문자 뒤부터 0이 채워진다.

In [22]:
a = 'hello'
a.zfill(10)

'00000hello'

In [23]:
number = "-290"
print(number.zfill(8))

number = "+290"
print(number.zfill(8))

text = "--random+text"
print(text.zfill(20))

-0000290
+0000290
-0000000-random+text

## !값 제거

    1. 슬라이스 + 값 추가/제거 + 슬라이스
    2. .replace('지울 내용', '')
        * append(), Insert()는 리스트 전용 함수임, 문자열 사용 불가!
        * remove(), pop() 함수는 문자열에서 사용 불가!

### !공백문자(\n, \t) or 특정 문자 제거 : strip(), lstrip(), rstrip()

    - strip() : 양 끝 공백 제거
    - lstrip() : 왼쪽 끝 공백 제거
    - rstrip('지울문자') : 오른쪽 끝 '지울문자' 제거

 * '...{}...'.format(문자열) 기법 사용

In [55]:
txt = "      Strip white spaces.      "

In [56]:
print('[{}]'.format(txt))

[      Strip white spaces.      ]

In [57]:
#- 양쪽 공백 제거 : strip()
print('[{}]'.format(txt.strip()))

[Strip white spaces.]

In [58]:
#- 왼쪽 공백 제거 : lstrip()
print('[{}]'.format(txt.lstrip()))

[Strip white spaces.      ]

In [59]:
#- 오른쪽 공백 제거 : rstrip()
print('[{}]'.format(txt.rstrip()))

[      Strip white spaces.]

* 기호 제거

In [60]:
', python.'.rstrip(',.')

', python'

In [61]:
', python.'.lstrip(',.')

' python.'

In [62]:
', python.'.strip(',.')

' python'

In [63]:
', pyt,.hon.'.strip(',.')

' pyt,.hon'

 * 문자 제거

In [64]:
'python'.strip("py")

'thon'

In [67]:
'pyXpyXXpyXpy'.strip("py")

'XpyXXpyX'

### 모든 특수문자 삭제하기

    * string.punctuation + ' ' 이용

In [69]:
import string

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [12]:
import string
', python.!@#'.strip(string.punctuation)

' python'

 * 공백도 포함해서 삭제

In [39]:
', python.!@#'.strip(string.punctuation + ' ')

'python'

In [70]:
', python #$%&*$^ python .!@#'.strip(string.punctuation + ' ')

'python #$%&*$^ python'

In [74]:
', python #$%&*$^ python .!@#'.replace(string.punctuation, "") # 이렇게는 안 됌

', python #$%&*$^ python .!@#'

## !값 확인/검색

* count()
* find(), index()
    * find()의 경우, 없으면 -1 반환, 문자열만 사용가능(리스트.find 사용불가)
    * index()의 경우, 찾는 요소가 없으면, 에러 발생, 문자열, 리스트 모두 사용 가능
* startswith
* endswith

### 특정 문자 갯수 확인 : count()

In [75]:
'apple pine'.count('p')

3

### 문자열 내 특정 문자 인덱스 찾기 : find(), index()
    * find('찾을 문자열') : 왼쪽부터 찾아서 찾은 문자의 시작하는 인덱스를 반환
    * rfind('찾을 문자열') : 오른쪽부터 찾아서 찾은 문자의 (왼쪽부터) 시작하는 인덱스를 반환
    * 찾는 문자열이 없으면 -1 반환
    * index(), rindex() 도 동일한 기능이나 이 함수들은 찾는 문자열이 없으면 에러 발생시킴

In [1]:
# 'pl'이 2개 있는데 왼쪽부터 처음찾은 문자열의 인덱스를 반환
'apple pineapple mellon'.find('pl')

2

In [20]:
a = 'apple pineapple melon'

a.find('pl')

2

In [21]:
a.index('pl')

2

In [72]:
a.rfind('pl')

12

* 찾는 문자열이 없으면 -1 반환

In [73]:
a.find('x')

-1

* 찾는 문자열이 없으면 에러 발생

In [18]:
# index()함수는 찾는 문자가 없으면 에러 반환
a.index('x')

NameError: name 'a' is not defined

### 특정 문자로 시작하는/끝나는 문자열 색출 : startswith(), endswith()

    * startswith : 특정 문자로 시작하는 문자열 찾음
        * 문자열 변수명.startswith("찾는문자") => T/F 반환
    * endswith : 특정 문자로 끝하는 문자열 찾음
        * 문자열 변수명.startswith("찾는문자") => T/F 반환
        * 주로 파일명 "확장자 검색(.exe 등)"에서 많이 쓰임

In [5]:
# startswith 예시

a = "Hello"
print(a.startswith("He"))
print(a.startswith("Hw"))

True
False

In [4]:
EmployeeID = ['OB94382', 'OW34723', 'OB32308', 'OB83461', 'OB74830', 'OW37402', 'OW11235', 'OB82345']

# 'OB'로 시작하는 요소만 찾아 리스트업
OB_list = [OB for OB in EmployeeID if OB.startswith('OB')]

# 'OW'로 시작하는 요소만 찾아 리스트업
OW_list = [OW for OW in EmployeeID if OW.startswith('OW')]

print(OB_list)
print(OW_list)

['OB94382', 'OB32308', 'OB83461', 'OB74830', 'OB82345']
['OW34723', 'OW37402', 'OW11235']

### 알파벳, 숫자, 대소문자 확인: isalpha, isdecimal, isalnum, isupper, islower, istitle

- isalpha() : 문자열이 모두  알파벳으로 되어있으면, True, 아니면 False로 반환
- isalnum(): 문자열이 모두 알파벳 문자와 숫자로만 되어 있으면 True, 그렇지 않으면 False를 반환
- isdecimal(): 문자열이 모두 숫자로만 되어 있으면 True, 그렇지 않으면 False를 반환

- isupper() : 문자열이 모두 대문자로 되어있으면, True, 아니면 False로 반환
- islower() : 문자열이 모두 소문자로 되어있으면, True, 아니면 False로 반환
- istitle() : 문자열의 첫글자만 대문자로 되어있으면, True, 아니면 False로 반환

In [28]:
print("asdABD".isalpha())    # 알파벳 인지
print("asdABD".isalnum())    # 알파벳+숫자인지
print("asdABD".isdecimal())  # 숫자인지
print("asdABD".isupper())    # 오직 대문자인지
print("asdABD".islower())    # 오직 소문자인지

True
True
False
False
False

In [29]:
print("45678".isalpha())    # 알파벳 인지
print("45678".isdecimal())  # 숫자인지

False
True

In [30]:
print("ABD".isupper())    # 오직 대문자인지
print("ABD".islower())    # 오직 소문자인지

True
False

In [31]:
print("asd".isupper())    # 오직 대문자인지
print("asd".islower())    # 오직 소문자인지

False
True

### 유사한 변경함수

In [40]:
"asd".upper()

'ASD'

In [41]:
"aDSfgf".upper()

'ADSFGF'

In [43]:
"aDSfgf".lower()

'adsfgf'

In [44]:
"aDSfgf".capitalize()

'Adsfgf'

## !값 변경
* replace()
* translate()
* re.sub()  (정규표현식)

### 문자열 내에 문자 'a'를 'b'로 변경 : .replace(a, b)

* __replace(a, b) 함수__ 이용 => 모두 바꾸기 기능임
* __replace(a, b, count)__ : 좌측부터 순서대로 정해진 count 갯수만큼 변경
    * 문자 1:1 매칭으로 변경 => translate()      
    * 인덱스 사용해서 바꿀수는 없을까?  
        => 파이썬 특성상 한번에 바꾸는 것은 안됨  
        => 해당 인덱스 기준으로 슬라이스[시작:인덱스]+바꿀애+슬라이스[인덱스:끝]

In [63]:
sent = "I can do it, I made it"
print(sent)
print(sent.replace('I', "You"))
print(sent)

I can do it, I made it
You can do it, You made it
I can do it, I made it

In [5]:
text = '123,456,789,999'

print("결과 :")
print(", 제거 전 : "+text)
print(", 전부 제거 : " + text.replace(",",""))
print(", 왼쪽 한개 제거 : "+text.replace(",", "",1))
print(", 왼쪽 두개 제거 : "+text.replace(",", "",2))

replace_t3 = text.replace(",", "",3)

print(", 왼쪽 세개 제거 : "+replace_t3)

print("원본은 유지 된다!! : "+text)

결과 :
, 제거 전 : 123,456,789,999
, 전부 제거 : 123456789999
, 왼쪽 한개 제거 : 123456,789,999
, 왼쪽 두개 제거 : 123456789,999
, 왼쪽 세개 제거 : 123456789999
원본은 유지 된다!! : 123,456,789,999

### 오른쪽 부터 바꾸는 replaceRight 함수 만들기
    * rfind()를 이용해서 인덱스를 찾은 후,
    * 슬라이스 + 변경문 + 슬라이스 이용

In [99]:
def replaceRight(original, old, new, count_right):
    repeat = 0    # 바꿀 횟수
    text = original
    old_len = len(old)  # 바꿀 부분의 글자 길이
    
    count_find = original.count(old) ## 바꿀 부분이 몇 개 있는지 확인
    if count_right > count_find: 
        repeat = count_find
    else:
        repeat = count_right

    while(repeat):
        find_index = text.rfind(old)    # 오른쪽의 바꿀 인덱스 확인
        text = text[:find_index] + new + text[find_index+old_len:]
        repeat -= 1
    return text

In [102]:
text = '123,456,789,999'

print(replaceRight(text, ",", "", 0))
print(replaceRight(text, ",", "", 1))
print(replaceRight(text, ",", "", 2))
print(replaceRight(text, ",", "", 3))

123,456,789,999
123,456,789999
123,456789999
123456789999

### !문자 1:1 매칭으로 변경 => str.maketrans(a, b)  /  문자열.translate()  
    ex) a => 1, e => 2, i => 3
    * 순서
        - table명 = str.maketrans(변경전 문자들, 변경후 문자들)
        - .translate(table명)  
        
        
    * 만일 바꾸는 문자가 길이가 일치하지 않고, 종류가 많지 않다면,   
      replace(a, b)문을 여러번 사용하자.

In [16]:
# 먼저 변환테이블 생성
trans_table = str.maketrans('aeiou', '12345')


# translate(테이블) 적용
'apple'.translate(trans_table)

'1ppl2'

In [68]:
x = 'apple'

t_table = str.maketrans('aeiou', '12345')

x.translate(t_table)

'1ppl2'

In [6]:
a = 'apple'

t = str.maketrans('aeiou', '12345')

a.translate(t)

'1ppl2'

### !re.sub() + 정규표현식 이용
    
    => 정규표현식 노트(추후 정리) 참고

* re.sub("바꿀 문자형식", "새롭게 넣을 내용", 문자열)

In [74]:
import re

str_2 = "slknDLGH!@#^io^*__234--234_..,;;!#@...WFDGslkg"
str_2 = re.sub(r"[^0-9a-z._-]+", "", str_2)   # 0-9, a-z 순서는 바뀌어도 됨= "slknDLGH!@#^io^*__234--234_..,;;!#@...WFDGslkg"str_2 = re.sub(r"[^0-9a-z._-]+", "", str_2)   # 0-9, a-z 순서는 바뀌어도 됨
str_2

'slknio__234--234_.....slkg'

### 대소문자 변경(upper, lower)

In [67]:
a = "hello"
a.upper()

'HELLO'

In [68]:
b="HELLO"
b.lower()

'hello'

In [10]:
c="HELLO"
c.capitalize()   # 맨 앞글자만 대문자

'Hello'

## !값 비교

    ・ 완전 일치 : == , !=  (값이 일치하는지 비교)
    * 완전 일치 : is, not is (같은 객체인지, 같은 주소인지 비교)
    ・ 부분 일치 : in , not in  
    ・ 전방 일치 : startswith()  
    ・ 후방 일치 : endswith()

### 알파벳 문자 하나하나는 사전순으로 비교가 가능하다!!!

    * 순서가 뒤이면 크다
    * 대소문자도 구분한다
        * 소문자 > 대문자
        * 아마도 ord() 기준인 듯

In [6]:
'a' < 'b'

True

In [9]:
'b' < 'a'

False

In [8]:
'B' < 'a'

True

In [10]:
'z' == 'Z'

False

In [12]:
print(ord('A'))
print(ord('B'))
print(ord('Z'))
print(ord('a'))
print(ord('b'))
print(ord('z'))

65
66
90
97
98
122

In [15]:
for i in range(89, 99):
    print('chr(%d) : %s'%(i, chr(i)))

chr(89) : Y
chr(90) : Z
chr(91) : [
chr(92) : \
chr(93) : ]
chr(94) : ^
chr(95) : _
chr(96) : `
chr(97) : a
chr(98) : b

## !값 정렬

### sorted(문자열) => 리스트 반환
### 객체.sort() 는 문자열에서는 못쓰고, 리스트에서 사용 가능

### 오름차순, 내림차순 정렬
    * 오름차순 변경
        1. 리스트로 변경 list(문자열)
        2. 리스트 = sorted(리스트)
        3. 문자열로 재변경 "".join(리스트)
          
    * 내림차순 변경
        1. 리스트로 변경
        2. 리스트 = sorted(리스트, reverse=True)
        3. 문자열로 재변경

### sorted 함수는 문자열을 받아, 정렬한 후 리스트로 반환한다.
### sorted 함수는 리스트도 받을 수도 있다.

 * 오름차순 한번에

In [78]:
a = 'fxkqae'

sorted(a)

['a', 'e', 'f', 'k', 'q', 'x']

In [79]:
a # 원본 변경되지 않음

'fxkqae'

In [76]:
a = 'fxkqae'

a.sort()

AttributeError: 'str' object has no attribute 'sort'

In [2]:
a = 'fxkqae'

"".join(sorted(a))

'aefkqx'

 * 역순 한번에

In [3]:
a = 'fxkqae'

"".join(sorted(a, reverse=True))

'xqkfea'

* 과정 확인

In [1]:
a = 'fxkqae'
sorted(a)

['a', 'e', 'f', 'k', 'q', 'x']

 * 오름차순 변경

In [3]:
a = 'fxkqae'
a = sorted(a)    # 문자열을 리스트로 만들고 오름 정렬
a = "".join(a)    # 리스트를 문자열로 재변경

a

'aefkqx'

 * 내림차순 변경

In [5]:
a = 'fxkqae'
a = sorted(list(a), reverse=True)
a = "".join(a)

a

'xqkfea'

### 만일 숫자+영문+대소문 섞여있다면??

    * 숫자 -> 대문자 -> 소문자 순으로 정렬됨!!
    * reverse 옵션 적용시, 소문자 -> 대문자 -> 숫자!

In [5]:
a = 'f12K8Xqa546e'

"".join(sorted(a))

'124568KXaefq'

In [6]:
a = 'f12K8Xqa546e'

"".join(sorted(a, reverse=True))

'qfeaXK865421'

### 문자열 뒤집기
    1. 슬라이스 인덱스[::-1] 이용
    2. reverse()함수(리스트를 뒤집는 함수) 이용
    3. reversed()함수(이터레이터?) 이용

1. 슬라이스 인덱스[::-1] 이용

In [30]:
s = 'abcde'
print(s[::-1])  # 'edcba'

edcba

* 응용(뒤집고, 건너뛰기)

In [31]:
s = 'abcde'
print(s[::-2])  # 'edcba'

eca


2. reverse()함수 이용
    - 리스트.reverse() => 문자열에 쓰면 에러남
    - 함수 사용 시, 원본이 변경되는 함수임  
      => a = a.reverse() 처럼 '변수 = 함수'쓰지 않고 원본 변경
    - reverse() 함수는 문자열에서는 못쓰고, 리스트형을 지원하므로, 리스트로 바꿔서 적용하고, 다시 문자열로 변환

In [45]:
# 문자열에 그냥 쓰면 에러난다!
a = 'abcde'
a.reverse()

# reverse() 함수는 문자열에서는 못쓰고, 리스트형을 지원하므로, 리스트로 바꿔서 적용하고, 다시 문자열로 변환

AttributeError: 'str' object has no attribute 'reverse'

단계1. 문자열 -> 리스트 변환

In [15]:
# 리스트 변환 후, reverse()사용한 후, 재 변환

a_list = list(a)
a_list

['a', 'b', 'c', 'd', 'e']

단계2 리스트에 reverse()함수 적용  
    => 리스트 변수의 원본이 변경됨

In [59]:
a_list.reverse()
a_list   # 원본 변경됨 주의(2번 쓰면 원상복구됨)

['e', 'd', 'c', 'b', 'a']

### .reverse() 함수는  None 값 반환

In [17]:
b = a_list.reverse()
print(b)

None

### reversed()는 reversed 클래스로 반환

### 문자열 뒤집기 한방 사용법
 *  ''.join(list(reversed(문자열)))

In [18]:
reversed('12345')

In [19]:
list(reversed('12345'))

['5', '4', '3', '2', '1']

단계3. 리스트 -> 문자열 변환

In [62]:
''.join(a_list)

'edcba'

In [48]:
# 바로 문자열 변환안하고 reversed -> list -> str 하는 이유
print(str(reversed('12345')))

# .join 함수 대신 str를 쓴다면?
str(['5', '4', '3', '2', '1'])

<reversed object at 0x000001984509D5E0>

"['5', '4', '3', '2', '1']"

In [49]:
# 올바른 한방 변환
''.join(list(reversed('12345')))

'54321'

### 3. reversed() 함수 이용
     - 해당 변수를 reversed class로 만듬
     - for문으로 출력 가능
     - 리스트도 사용 가능

In [9]:
x = "hello"

print(reversed(x))
print(type(reversed(x)))

<reversed object at 0x000001EB0BF5FF10>
<class 'reversed'>

In [11]:
list(x)  # 원본이 바뀌지는 않틑다.

['h', 'e', 'l', 'l', 'o']

In [12]:
list(reversed(x))

['o', 'l', 'l', 'e', 'h']

In [48]:
# reversed() 함수의 결과물을 for문으로 출력
for i in reversed(x):
    print(i, end='')

olleh

In [34]:
# 한번에 쓰기
s = 'abcde'
x = ''.join(reversed(s))
print(x)

edcba

# !형 변환

### 대소문자 변환
    * upper() : 모든 문자열을 대문자로 변환
    * lower() : 모든 문자열을 소문자로 변환
    * capitalize() : 첫 글자만 대문자로 변환
    * 위의 함수들은 1회성 반환이므로, 변수에 다시 넣어 줘야 변환되서 저장됨

In [1]:
txt1 = "hello"

# 한번만 변환됨
print(txt1.upper())

print(txt1)

# 변환되어 저장
txt1 = txt1.upper()
print(txt1)

txt2 = txt1.capitalize()
print(txt2)

HELLO
hello
HELLO
Hello

* 문자열 -> 숫자(아스키 변환)
    * ord() : 아스키 코드의 문자를 해당 코드 숫자로 변경

In [49]:
ord('A')

65

* 숫자 -> 문자열(아스키 변환)
    * chr() : 아스키 코드의 숫자를 해당 코드 문자로 변경

In [52]:
chr(65)

'A'

### boolean 변환
    * bool() 함수 이용

* 문자열의 요소가 존재하면 True

In [53]:
bool('hello')

True

* 문자열이 비어있으면 False

In [56]:
bool('')

False

### !리스트 변환

### 문자열 -> 리스트 변경 => 문자열.split()
    * list(문자열) : 문자 하나하나를 리스트의 요소로 변경
    * 문자열.split() : 띄어쓰기를 기준으로 리스트의 요소로 변경

In [94]:
a = "hello"
a = list(a)
a

['h', 'e', 'l', 'l', 'o']

In [91]:
c = "My name is sangun"
c = c.split()
c

['My', 'name', 'is', 'sangun']

In [22]:
c = ('My', 'name', 'is', 'sangun')
c = c.split() ## 튜플은 안됨
c

AttributeError: 'tuple' object has no attribute 'split'

### 리스트 -> 문자열 변경 ( ''.join(리스트) ,  str(리스트)아님 주의!!!)

### 이 때, 리스트 안에 요소는 모두 str형이어야함, 아닐 경우, ''.join(map(str, 리스트)) 로 변경
     * ''.join(반복가능객체)
         - 반복가능 객체의 각 요소를 합쳐 문자열을 만들어 반환
             반복가능객체(iterable) : 시퀀스 6종 + dict, set
         - '' 사이에 요소간 추가 문자를 넣을 수 있음

In [17]:
help("".join)

Help on built-in function join:

join(iterable, /) method of builtins.str instance
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [ ]:
"".join

In [ ]:
.join

In [8]:
a = ['h', 'e', 'l', 'l', 'o']
c = ['My', 'name', 'is', 'sangun']
b1 = "".join(a)
b2 = " ".join(c)
print(b1)
print(b2)

hello
My name is sangun

* 변형(문자열/리스트 요소 사이 다른 문자 집어 넣기)

In [7]:
a = "hello"
b = ",,,".join(a)
b

'h,,,e,,,l,,,l,,,o'

### !튜플 변환

### 문자열 -> 튜플 변경
    * tuple(문자열)

In [78]:
a = "hello"
a = tuple(a)
a

('h', 'e', 'l', 'l', 'o')

### 튜플 -> 문자열 변경 (''.join(튜플))
     * ''.join(튜플)

In [80]:
# 위에 코드 실행 후 실행
b = "".join(a)
b

'hello'

### bytes 변환

### 문자열 -> 바이트 변경
    * bytes(문자열, encoding='ascii')
    * encoding 옵션은 ascii, utf-8, euc-kr, cp949 등 선택 가능

In [22]:
a1 = "hello"
a1 = bytes(a1, encoding = 'ascii')    # encoding 옵션을 지정해주어야 에러가 안남
a1

b'hello'

In [23]:
a2 = "hello"
a2 = bytes(a2, encoding = 'utf-8')    # encoding 옵션을 지정해주어야 에러가 안남
a2

b'hello'

In [24]:
a3 = "hello"
a3 = bytes(a3, encoding = 'euc-kr')    # encoding 옵션을 지정해주어야 에러가 안남
a3

b'hello'

In [25]:
a4 = "hello"
a4 = bytes(a4, encoding = 'cp949')    # encoding 옵션을 지정해주어야 에러가 안남
a4

b'hello'

=> 4가지 모두 인코딩 방식이 달라도, ascii 범위(0~127)내에 있는 알파벳은 같은 값으로 인코딩됨

In [103]:
# 방법2 (문자열을 변수형태가 아니라 직접 b''안에 적어주어야 함)
a = b"hello"
a

b'hello'

### 바이트 -> 문자열 변경
    * 변수 = 바이트.decode('인코딩방식')

In [28]:
a = b"hello"
a = a.decode()
a

'hello'

여기부터 추가 작성
https://dojang.io/mod/page/view.php?id=2462

In [29]:
a5 = "안녕"
a5 = bytes(a5, encoding = 'cp949')
a5

b'\xbe\xc8\xb3\xe7'

In [31]:
a5 = a5.decode('cp949')
a5

'안녕'

### bytearray 변환
    * bytearray는 bytes의 변경가능(mutable) 버전

### 문자열 -> 바이트배열 변경
    * bytearray(문자열, encoding='ascii')
    * encoding 옵션은 ascii, utf-8, euc-kr, cp949 등 선택 가능

In [32]:
bytearray("안녕", encoding='euc-kr')

bytearray(b'\xbe\xc8\xb3\xe7')

### 바이트배열 => 문자열 변경
    * 바이트와 동일
    * 변수 = 바이트배열.decode('인코딩방식')

In [33]:
a = bytearray("안녕", encoding='euc-kr')
a = a.decode('euc-kr')
a

'안녕'

### 세트 변환

### 문자열 -> 세트 변경
    * set(문자열)

In [76]:
a = "hello"
a = set(a)
a

{'e', 'h', 'l', 'o'}

### 세트 -> 문자열 변경
     * ''.join(세트)    (!!! 문자 순서가 바뀜에 주의 !!!)

In [77]:
# 위에 코드 실행 후 실행
b = "".join(a)
b

'oehl'

### 딕셔너리 변환

### 문자열 -> 딕셔너리 변환
    * enumerate()를 이용해서 문자와 인덱스를 각각 키와 값으로 설정 가능

In [60]:
a = "hello"
dict_a = dict()
dict_a2 = dict()

for k, v in enumerate(a):
    dict_a[k] = v    # 인덱스를 키로 문자를 값으로 설정

for k, v in enumerate(a):
    dict_a2[v] = k    # 문자를 키로 인덱스를 값으로 설정
    
print(dict_a)
print(dict_a2)    # 키는 유일해야 하므로, 키 'ㅣ'에 대해서는 
                  # 첫 인덱스 2는 나중 값인 3으로 덮어써짐

{0: 'h', 1: 'e', 2: 'l', 3: 'l', 4: 'o'}
{'h': 0, 'e': 1, 'l': 3, 'o': 4}

* 띄어쓰기로 이루어진 문자열을 단어별로 딕셔너리 변환

In [66]:
b = "my name is sangun"

for k, v in enumerate(b.split()):
    dict_b[k] = v
    
print(dict_b)

{0: 'my', 1: 'name', 2: 'is', 3: 'sangun'}

 * 딕셔너리 정의 코드가 문자열로 되어 있을때 딕셔너리로 변경
 * 엄밀히 말하면 문자열 된 코드를 적용시키는 것
     - eval(문자열)

In [39]:
x = "{'red':['apple', 'strawberry'], 'yellow':['banana', 'lemon']}"
print(x)

dict_x = eval(x)
print(dict_x)
print(type(dict_x))

{'red':['apple', 'strawberry'], 'yellow':['banana', 'lemon']}
{'red': ['apple', 'strawberry'], 'yellow': ['banana', 'lemon']}
<class 'dict'>

* literal_eval() : eval과 동일한 기능
    * 보안 상 더 좋다고 함
    * eval, literal_eval 둘의 차이 : https://bluese05.tistory.com/65

In [38]:
from ast import literal_eval

x = "{'red':['apple', 'strawberry'], 'yellow':['banana', 'lemon']}"
print(x)

dict_x = literal_eval(x)
print(dict_x)
print(type(dict_x))

{'red':['apple', 'strawberry'], 'yellow':['banana', 'lemon']}
{'red': ['apple', 'strawberry'], 'yellow': ['banana', 'lemon']}
<class 'dict'>

### 딕셔너리 -> 문자열 변환
    * 딕셔너리.items()를 이용해서 key와 value를 가져올 수 있음

In [68]:
a = {0: 'my', 1: 'name', 2: 'is', 3: 'sangun'}

for k, v in a.items():
    print(k,v)

0 my
1 name
2 is
3 sangun

 * 키를 문자열로 가져오기

In [69]:
a = {0: 'my', 1: 'name', 2: 'is', 3: 'sangun'}
txt = ''

for k, v in a.items():
    txt += str(k)
    
print(txt)

0123

 * key가 문자열 이라면, ''.join(a) 가능

In [51]:
a = {'0': 'my', '1': 'name', '2': 'is', '3': 'sangun'}

''.join(a)

'0123'

In [65]:
# 사실 문자열 아니어도 map으로 문자열 바꿔서 변경할 수 있음


a = {0: 'my', 1: 'name', 2: 'is', 3: 'sangun'}

''.join(map(str, a))

'0123'

 * 값을 문자열로 가져오기(방법1)

In [70]:
a = {0: 'my', 1: 'name', 2: 'is', 3: 'sangun'}
txt = ''

for k, v in a.items():
    txt += str(v)
    
print(txt)

mynameissangun

* 값을 문자열로 가져오기(방법2)

In [54]:
a = {0: 'my', 1: 'name', 2: 'is', 3: 'sangun'}

print(''.join(a.values()))
print(' '.join(a.values()))

mynameissangun
my name is sangun

-----------------------------------------------------------

In [72]:
dir("")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [71]:
help("")

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.