In [ ]:
(a)

## 튜플과 리스트는 요소가 2개 이상일 때, 자료형이 성립함
    * 예를 들어 int형 요소 1개인 튜플과 리스트는 그냥 int 취급
    * 이 때는 시퀀스 연산 사용 시 에러 발생 가능함!!!

### 튜플은 요소가 2개 이상이어야 적용?

In [1]:
a = (4)
print(a)
print(type(a))

4
<class 'int'>

In [2]:
b = ('b')
print(b)
print(type(b))

b
<class 'str'>

In [3]:
(1, 2, 3) + (4, 5)

(1, 2, 3, 4, 5)

In [4]:
(1, 2, 3) + (4)

TypeError: can only concatenate tuple (not "int") to tuple

In [5]:
('a', 'b') + ('a', 'b')

('a', 'b', 'a', 'b')

In [6]:
('a', 'b') + ('a')

TypeError: can only concatenate tuple (not "str") to tuple

# 시퀀스 자료형(range, 문자열, 리스트, 튜플)

    * set, dict는 아님(순서가 없음)

* 뒤집기 : reversed
* 그냥 출력은 안되는데, for문으로 뒤집기는 되네

In [1]:
x = "hello"
print(x)

hello

In [6]:
x = ['h', 'e', 'l', 'l', 'o']
print(x)

['h', 'e', 'l', 'l', 'o']

In [8]:
x = range(5)

In [161]:
for a in x:
    print(a, end="")

hello

In [9]:
for a in reversed(x):
    print(a, end="")

43210

In [168]:
z = 'hello'
z = reversed(z)
z
print(z)

<reversed object at 0x00000274695815E0>

In [163]:
y = [123, 234, 345]

reversed(y)

In [166]:
for a in reversed(y):
    print(a, end=', ')

345, 234, 123,

### 시퀀스 객체에서 무작위로 뽑기

In [230]:
import random

x = ['a', 's', 'd', 'f', 'g', 'h']

random.choice(x)

'h'

# 문자열!

* 여러 줄로 표현 시 """ ~~ """

In [40]:
print("""He
llo""")

He
llo

 * 연산

In [26]:
'stu' + 'dent'

'student'

In [39]:
'st'*3

'ststst'

* 인덱싱(한 개씩 뽑기)

    * word[3] = 'a' 와 같이 이미 지정된 word 문자열에서 일부를 변경할 수는 없음

In [38]:
word = "hello"

print(word[0])
print(word[1])
print(word[4])

print(word[-1])
print(word[-2])
print(word[-5])

h
e
o
o
l
h

 * 슬라이스(중간 자르기)

In [42]:
word = "hello"

print(word[0:3])
print(word[-5:-2])
print(word[-5:3])

hel
hel
hel

* 값 추가
    * 같은 변수명에서 새로 정의하던지
    * 그냥 + 사용
    * 중간에 값을 추가하여면 슬라이스이용  
        * 슬라이스[시작:중간] + 값 추가 + 슬라이스[중간:끝]

* 값 제거
    * 슬라이스 이용

* 값 변경(문자열 안에 a문자를 b문자로)
    * replace() 함수이용
    * 바꿀 항목이 중복해서 여러개일 떄? 한개만 바꾸는 방법은?  
        replace(a, b, count) : 로 가능하지만, 좌측부터 순서대로 정해진 갯수만큼만 바꿀수 있음
    * 문자 1:1 매칭으로 변경 => translate()      
  
  
    * 인덱스 사용해서 바꿀수는 없을까?  
        => 파이썬 특성상 한번에 바꾸는 것은 안됨  
        => 해당 인덱스 기준으로 슬라이스[시작:인덱스]+바꿀애+슬라이스[인덱스:끝]

In [14]:
sent = "I can do it, I made it"
print(sent)
print(sent.replace('I', "You"))
print(sent)

I can do it, I made it
You can do it, You made it
I can do it, I made it

In [15]:
text = '123,456,789,999'

replaceAll= text.replace(",","")
replace_t1 = text.replace(",", "",1)
replace_t2 = text.replace(",", "",2)
replace_t3 = text.replace(",", "",3)
print("결과 :")
print(replaceAll)
print(replace_t1)
print(replace_t2)
print(replace_t3)

결과 :
123456789999
123456,789,999
123456789,999
123456789999

In [17]:
# 문자 1:1 매칭으로 변경 => translate()

# 먼저 변환테이블 생성
trans_table = str.maketrans('aeiou', '12345')


'apple'.translate(trans_table)

'1ppl2'

### 문자열에서 특정 문자 인덱스 찾기
    
    * find('찾을 문자열') : 왼쪽부터 찾음
    * rfind('찾을 문자열') : 오른쪽부터 찾음
    * 찾는 문자열이 없으면 -1 반환
    * index(), rindex() 도 동일한 기능이나 이 함수들은 찾는 문자열이 없으면 에러 발생시킴

In [46]:
# 'pl'이 2개 있는데 왼쪽부터 처음찾은 문자열의 인덱스를 반환
'apple pineapple mellon'.find('pl')

2

In [48]:
'apple pineapple mellon'.find('p')

1

In [51]:
# 찾는거 없음
'apple pineapple mellon'.find('x')

-1

In [52]:
# rfind() : 오른쪽부터 찾기
'apple pineapple mellon'.rfind('pl')

12

In [54]:
'apple pineapple mellon'.rfind('x')

-1

### 문자열 갯수 세기

    * count('셀 문자열')

In [55]:
'apple pineapple pleasure'.count('pl')

3

* 오른쪽 우선 문자바꾸는 replace() 함수 구현
    * 아래와 다른 방법2 : text[::-1].replace(",","",1)[::-1]
    * 방법3 : 리스트 변환과 reverse() 이용

In [63]:
def replaceRight(original, old, new, count_right):
    repeat=0 # 바꿀 횟수
    text = original
    old_len = len(old)
    
    count_find = original.count(old)
    if count_right > count_find : # 바꿀 횟수가 문자열에 포함된 old보다 많다면
        repeat = count_find # 문자열에 포함된 old의 모든 개수(count_find)만큼 교체한다
    else :
        repeat = count_right # 아니라면 입력받은 개수(count)만큼 교체한다

    while(repeat):
      find_index = text.rfind(old) # 오른쪽부터 index를 찾기위해 rfind 사용
      text = text[:find_index] + new + text[find_index+old_len:] #                 !!!!! 인덱스를 활용한 문자 바꾸기 !!!!!

      repeat -= 1
      
    return text

text = '123,456,789,999'
#text.replace(",", "", -1); print(text) #안됨

#text = replaceRight(text, ",", "", 2)
print("결과 :")
print(replaceRight(text, ",", "", 0)) 
print(replaceRight(text, ",", "", 1))
print(replaceRight(text, ",", "", 2))
print(replaceRight(text, ",", "", 3))
print(replaceRight(text, ",", "", 4))

결과 :
123,456,789,999
123,456,789999
123,456789999
123456789999
123456789999

### 문자열 검색?

    * startswith : 특정 문자로 시작하는 문자열 찾음
        문자열 변수명.startswith("찾는문자") => T/F 반환
    * endswith : 특정 문자로 끝하는 문자열 찾음
        * 주로 파일명 확장자 검색에서 많이 쓰임

In [3]:
EmployeeID = ['OB94382', 'OW34723', 'OB32308', 'OB83461', 'OB74830', 'OW37402', 'OW11235', 'OB82345']

# 'OB'로 시작하는 직원 ID를 다 찾아봅니다
OB_Employee = [OB for OB in EmployeeID if OB.startswith("OB")]
OB_Employee

# [ 변수 for문 조건문] 형태 잘 기억!

['OB94382', 'OB32308', 'OB83461', 'OB74830', 'OB82345']

In [4]:
# startswith 예시

a = "Hello"
print(a.startswith("He"))
print(a.startswith("Hw"))

True
False

### 이스케이프 문자(\\, \', \", \n, \T)

In [5]:
print("백 슬래시 : ", '\\')
print("작은 따옴표 : ", '\'')
print("큰 따옴표 : ",'\"')
print("줄바꿈(=line feed) \n 줄바꿈")
print("탭 \t 탭")

백 슬래시 :  \
작은 따옴표 :  '
큰 따옴표 :  "
줄바꿈(=line feed)
 줄바꿈
탭 	 탭

### 원시 문자열(raw string)
    * 문자열 작은 따옴표 앞에 r을 붙여서 표기
    * 이스케이프 문자등의 기능을 안쓰고 그대로 표기하기 원할 때 사용

In [43]:
print('Please don\'t touch it')
print(r'Please don\'t touch it')

Please don't touch it
Please don\'t touch it

### 공백문자(또는  특정문자) 제거
    * strip()
    * lstrip('지울문자')
    * rstrip()

In [6]:
txt = "      Strip white spaces.      "
print('[{}]'.format(txt))
print('--------------------------')

#- 양쪽 공백 제거 : strip()
print('[{}]'.format(txt.strip()))
print('--------------------------')

#- 왼쪽 공백 제거 : lstrip()
print('[{}]'.format(txt.lstrip()))
print('--------------------------')

#- 오른쪽 공백 제거 : rstrip()
print('[{}]'.format(txt.rstrip()))

[      Strip white spaces.      ]
--------------------------
[Strip white spaces.]
--------------------------
[Strip white spaces.      ]
--------------------------
[      Strip white spaces.]

In [25]:
', python.'.rstrip(',.')

', python'

In [26]:
', python.'.lstrip(',.')

' python.'

In [27]:
', python.'.strip(',.')

' python'

### 모든 특수문자 삭제하기

    * string.punctuation 이용

In [31]:
import string

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [32]:
', python.'.strip(string.punctuation)

' python'

 * 공백도 포함해서 삭제

In [15]:
import string

',  python.'.strip(string.punctuation + ' ')

'python'

### 정렬 + 공백 생성

In [34]:
# 문자열을 10칸으로 만들고 왼쪽 정렬
'python'.ljust(10)

'python    '

In [35]:
# 문자열을 10칸으로 만들고 오른쪽 정렬
'python'.rjust(10)

'    python'

In [36]:
# 문자열을 10칸으로 만들고 가운데 정렬
'python'.center(10)

'  python  '

In [38]:
'python'.center(9)
# 남는 공백이 홀수면 무조던 왼쪽이 한칸 더 비어있음

'  python '

### 역순으로 정렬

In [57]:
# 방법 1 리스트 넣고, reverse() 함수 쓰고, 다시 문자열 변환

s = 'abcde'

s_list = list(s)  # reverse 함수를 사용하기 위해 문자열을 list로 치환
s_list.reverse()  # reverse 함수를 사용해 문자열 리스트를 거꾸로 뒤집음

print(''.join(s_list))  # 거꾸로 뒤집어진 리스트를 연결해서 출력

edcba

In [58]:
#방법 2

s = 'abcde'

print(''.join(reversed(s)))  # 'edcba'

edcba

In [59]:
# 방법 3

s = 'abcde'
print(s[::-1])  # 'edcba'

edcba

In [62]:
# 방법 4
s = 'abcde'

def solution(s):
    return ''.join(sorted(s, reverse=True))

solution(s)

'edcba'

### 0 채우기
    * zfill() : zero fill의 약자임

In [42]:
# 문자열 길이를 4로 늘리고 남는 부분 왼쪽을 0으로 채움
print('35'.zfill(4))

# 문자열 길이를 6로 늘리고 남는 부분 왼쪽을 0으로 채움
print('3.5'.zfill(6))

# 문자열 길이를 10로 늘리고 남는 부분 왼쪽을 0으로 채움
print('hello'.zfill(10))

0035
0003.5
00000hello

### 값 확인
   
- isupper() : 문자열이 모두 대문자로 되어있으면, True, 아니면 False로 반환
- islower() : 문자열이 모두 소문자로 되어있으면, True, 아니면 False로 반환
- istitle() : 문자열의 첫글자만 대문자로 되어있으면, True, 아니면 False로 반환
- isalpha() : 문자열이 모두  알파벳으로 되어있으면, True, 아니면 False로 반환
- isalnum(): 문자열이 모두 알파벳 문자와 숫자로만 되어 있으면 True, 그렇지 않으면 False를 반환
- isdecimal(): 문자열이 모두 숫자로만 되어 있으면 True, 그렇지 않으면 False를 반환

### 서식자(%s, .format)로 문자열 중간에 값 집어넣기
    
    * 문자열 변수는 %s %변수
        * %10s %변수 (10자리 문자열로 남는 공간 만큼 앞쪽에 공백이 생김
    * 정수(int) 변수는 %d %변수
    * 실수(float) 변수는 %f %변수
        * 소숫점 이하 자릿수 지정하기 : '%.2f' %변수 (소수점 이하 2자리 표현)
        * 소숫점 이하 자릿수 지정하기 : '%5.2f' %변수 
            (문자열 전체 길이=5 + 소수점 이하 2자리 표현)

In [17]:
name = 'jamos'
age = 21

print('I am %s.' % name)
print('I am %d years old.' % age)

I am jamos.
I am 21 years old.

* 실수표현

In [20]:
print('값은 %.3f 입니다.' % 2.3)    # 소수점 이하 3자리
print('값은 %10.3f 입니다.' % 2.3)    # 전체 길이는 10
print('값은 %-10.3f 입니다' % 2.3)    # 왼쪽 정렬

값은 2.300 입니다.
값은      2.300 입니다.
값은 2.300      입니다

 * 값 2개 이상 넣기 
     * %(a,b) 이용

In [21]:
month = 'april'
date = 7

print('Today is %s %dth' %(month, date))

Today is april 7th

### .format() 이용하기
    * {}안에 인덱스 숫자로 변수 넣을 순서 정할 수 있음
        * 인덱스는 0으로 시작
        * 인덱스 생략시 순서대로 들어감
    * 인덱스를 이용해서 같은 변수를 여러번 넣을 수도 있음
    * 인덱스 대신 이름 사용 가능
    * 중괄호 안에 {인덱스:<길이}로 길이와 정렬 방향을 정할 수 있음

In [25]:
'Hello, {3} {2} {0} {1} {3}'.format(3.6, 'Script', 'Python', "!!!")

'Hello, !!! Python 3.6 Script !!!'

 * 인덱스를 숫자대신 이름으로 지정(단, 이름과 인덱스를 동시에쓰면 에러남)

In [29]:
'Hello, {language} {ver} '.format(ver = 3.6, language = 'Python')

'Hello, Python 3.6 '

* 중괄호 안에 {인덱스:<길이}로 길이와 정렬 방향을 정할 수 있음
    * 인덱스는 생략가능

In [32]:
'lag:{0:>10}!!!'.format('python')

'lag:    python!!!'

### 빈공간에 0 채워 넣기

!!! 중괄호{} 안에는 % 없이 자료형(d,f 등)만 있는 것 주의!!
   * '%0개수d' % 숫자
   * '{인덱스:0개수d'}'.format(숫자)
   * '%0개수.자릿수f' % 숫자
   * '{인덱스:0개수.자릿수f'}.format(숫자)
   
   * 체우기는 0말고 다른 기호도 됨

In [34]:
print('%03d' % 1)
print('{0:03d}'.format(35))
print('%08.2f' % 3.6)
print('{0:08.2f}'.format(150.37))

001
035
00003.60
00150.37

### 최종 보스(인덱스+채우기+정렬+길이+소수점)
    
    * '{인덱스:[[채우기]정렬][길이][.자릿수][자료형]}'

In [42]:
'{0:->10.2f}'.format(15)  # 0말고 -로 채워봤음

'-----15.00'

### 추가!, format() 함수에는 돈 천단위 , 넣기 가능

    * !!! 그런데 서식지정자 %와 format에서 사용법이 다름 ㅡㅡ

In [45]:
format(1493500, ',')

'1,493,500'

* 서식지정자(%)의 경우 뒤에 , ',' 만 추가하면 됨

In [46]:
'%20s' % format(1493500, ',')

'           1,493,500'

 * .format에서는 그렇게 하면 안들어가고,

In [48]:
'money: ${}'.format(1493500, ',')

'money: $1493500'

In [ ]:
 * {인덱스:채우기+정렬+길이+콤마+소수점}으로 넣어야됨

In [54]:
'{0:0>20,}'.format(1493500)

'000000000001,493,500'

In [55]:
'{0:0>20,.2f}'.format(1493500)

'000000001,493,500.00'

# 정규표현식!

* 규칙?
    * 변수명으로 주로 낙타체를 이용(첫소문자 후, 다음 대문자)
        ex) myNewCar
    * 상수(한번 값을 주고 값을 바꾸지 않는 변수)는 주로 모두 대문자
        ex) PI = 3.14, MAX_SIZE = 100

# 리스트!

    * 튜플과 다르게 요소 변경, 추가, 삭제 가능

In [69]:
a = [23,345,"sdf", True]
a

[23, 345, 'sdf', True]

In [72]:
# 빈 리스트
b = []
c = list()
c

[]

In [74]:
# range() 활용 리스트 생성

d = list(range(3))
d

[0, 1, 2]

In [78]:
e = list(range(-4, 6, 2))
e

[-4, -2, 0, 2, 4]

In [105]:
# 이렇게는 하지마
f = [range(-4, 6, 2)]
f

[range(-4, 6, 2)]

 * 다중 변수 할당

In [106]:
# 리스트 이용 다중 변수 할당
a = [23,345,"sdf", True]

b, c, d, e = a

print(b)
print(c)
print(d)
print(e)

23
345
sdf
True

 * 요소 추가하기
     - append : 요소 하나 추가
     - extend : 리스트를 연결하여 확장
     - insert : 특정 인덱스에 요소 추가

In [244]:
a = [10, 20, 30]

a.append(234)

print('a: ',a)

b = [1, 2, 3]

b.append([50,70])

print('b: ', b)

a:  [10, 20, 30, 234]
b:  [1, 2, 3, [50, 70]]

In [245]:
b = [1, 2, 3]

b.extend([50,70])

print('b: ', b)

b:  [1, 2, 3, 50, 70]

In [247]:
b = [1, 2, 3]

b + [50,70]

[1, 2, 3, 50, 70]

 ### 특정 인덱스에 요소 추가 (insert)
 
     * 원래 있었던 인덱스트 뒤로 밀림(오른쪽으로 밀림)

In [249]:
c = [1,2,3,4,5]

c.insert(3, 'asd')

c

[1, 2, 3, 'asd', 4, 5]

* 요소 값 변경 및 삭제

    * 이 기능은 시퀀스자료형 중 리스트만 가능
    * range, tuple, 문자열은 불가

In [108]:
# 요소 값 변경
a = [1,2,3,4,5]

a[2] = 123

a

[1, 2, 123, 4, 5]

In [125]:
# 슬라이스 이용 값 변경

a = [1,2,3,4,5]

a[2:5] = 123, 456, 46  

a

[1, 2, 123, 456, 46]

In [126]:
# 슬라이스로 자른 값의 갯수와 넣는 값의 갯수가 달라도 실행됨

a = [1,2,3,4,5]

a[2:4] = 123, 456, 46    # 2개 = 3개 할당

a

[1, 2, 123, 456, 46, 5]

In [111]:
b = "hello"

b[2] = 'G'

TypeError: 'str' object does not support item assignment

### 리스트에서 요소 삭제

    * pop() : 특정 인덱스 or 마지막 요소 삭제
    * remove() : 특정 값을 찾아서 삭제

In [251]:
a = [10, 20, 30]

a.pop() # 값을 뽑아옴

30

In [252]:
a  # 리스트에서 마지막 값을 빼놓음

[10, 20]

In [253]:
a = [10, 20, 30]

a.pop(1) # 1번 인덱스 값을 제거

a

[10, 30]

In [254]:
a = [10, 20, 30, 40]

a.remove(20)

a

[10, 30, 40]

In [112]:
# 요소 값 삭제
a = [1,2,3,4,5]

del a[2]

a

[1, 2, 4, 5]

In [113]:
b = "hello"

del b[2]

b

TypeError: 'str' object doesn't support item deletion

 * 모든 요소 삭제(clear)

In [271]:
a = [10, 20, 30]
a.clear()
a

[]

### 리스트 슬라이스

 * 인덱스는 양수, 음수 섞어 쓸 수 있음

In [116]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

a[4:-1]

[40, 50, 60, 70, 80]

* 슬라이스 + 간격(띄엄띄엄)

In [115]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

a[1:7:3] # 10 ~ 60까지(70은 미포함!) 3 간격으로 불러오기

[10, 40]

* 처음, 끝 인덱스는 생략가능

In [119]:
a[:7]

[0, 10, 20, 30, 40, 50, 60]

In [120]:
a[5:]

[50, 60, 70, 80, 90]

 * 인덱스 생략 + 간격(증가폭)

In [121]:
a[:7:3]

[0, 30, 60]

In [122]:
a[5::2]

[50, 70, 90]

In [123]:
a[::2]

[0, 20, 40, 60, 80]

### 증가폭 있는 슬라이싱으로 리스트 값 변경하기

In [129]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

a[2:8:2] = 'a', 'b', 'c'

a

[0, 10, 'a', 30, 'b', 50, 'c', 70, 80, 90]

 * 슬라이싱 값 삭제

In [130]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

del a[2:8:2]

a

[0, 10, 30, 50, 70, 80, 90]

 * 특정 값 인덱스 구하기(index)

In [263]:
a = [10, 20, 30, 40]

a. index(30)

2

## 리스트 요소 정렬하기

In [266]:
a = [40, 20, 10, 30]

a.sort()  # 1회성이 아님!!
a

[10, 20, 30, 40]

In [270]:
a = [40, 20, 10, 30]

a.sort(reverse=True)  # 1회성이 아님!! 역순!
a

[40, 30, 20, 10]

In [267]:
a = [40, 20, 10, 30]

sorted(a)  # 정렬한 리스트 생성(1회성)

[10, 20, 30, 40]

In [269]:
a

[40, 20, 10, 30]

### 리스트 순서 뒤집기(reverse())

In [265]:
a = [10, 20, 30, 40]

a.reverse()  # 1회성이 아님!!
a

[40, 30, 20, 10]

## deque 사용

    * 리스트와 동일하나
    * 왼쪽 추가 appendleft(), 왼쪽 삭제 popleft() 사용 가능

In [259]:
from collections import deque

a = deque([10, 20, 30])

a

deque([10, 20, 30])

In [260]:
a.popleft()
a

deque([20, 30])

In [261]:
a.appendleft(56)
a

deque([56, 20, 30])

# 리스트 복사
    * 변수 할당 : 변수명만 다르고 같은 리스트 객체를 가리킴
    * 얕은 복사(shallow copy) : 리스트 객체는 별도로 생성하지만, 안에 내용물인 요소는 같은 값을 가리킴(요소의 id가 같음)
        * copy.copy() 사용
    * 깊은 복사(deep copy) : 리스트 객체도 별도로 생성하고, 안에 내용물들도 각각 별도 생성(요소들 id도 각각 다름)
        * 직접해보니 요소가 리스트 일 때는 새로운 객체이나, 단순한 숫자면 그냥 할당하는 듯?
        * copy.deepcopy() 사용

 * 변수 할당

In [272]:
a = [0, 0, 0, 0, 0]
b = a  # 실제로는 하나의 리스트 객체만 존재하고, a, b 두 변수가 같은 것을 가리킴

In [273]:
a[2] = 50
b

[0, 0, 50, 0, 0]

 * 얕은 복사
     * 안에 단순 상수만 있으면 깊은 복사랑 차이 없음

In [1]:
a = [1, 2, 3, 4, 5]
b = a.copy()  # a의 객체를 복사하여 2개의 객체가 생김

In [2]:
a[2] = 50
b

[1, 2, 3, 4, 5]

In [3]:
a

[1, 2, 50, 4, 5]

In [4]:
print(id(a[1]))
print(id(b[1]))

140703356430144
140703356430144

 * 얕은 복사
     * 안에 리스트가 있으면 깊은 복사랑 차이 남

In [10]:
a = [1, 2, [3, 4, 5]]
b = a.copy()  # a의 객체를 복사하여 2개의 객체가 생김

In [12]:
b[2].append(6)

In [13]:
a

[1, 2, [3, 4, 5, 6]]

In [14]:
b

[1, 2, [3, 4, 5, 6]]

 * 깊은 복사
     * 안에 단순 변수만 있으면 깊은 복사랑 차이 없음

In [6]:
import copy

a = [1, 2, 3, 4, 5]

b = copy.deepcopy(a)  # a의 객체를 복사하여 2개의 객체가 생김

In [7]:
a[2] = 50
b

[1, 2, 3, 4, 5]

In [8]:
a

[1, 2, 50, 4, 5]

In [9]:
print(id(a[1]))
print(id(b[1]))

140703356430144
140703356430144

 * 깊은 복사
     * 안에 리스트가 있으면 깊은 복사랑 차이 남

In [16]:
import copy

a = [1, 2, [3, 4, 5]]
b = copy.deepcopy(a)

In [17]:
b[2].append(6)

In [18]:
a

[1, 2, [3, 4, 5]]

In [19]:
b

[1, 2, [3, 4, 5, 6]]

## 리스트,튜플,문자열의 인덱스와 값을 함께 출력하기(enumerate)

In [21]:
a = ['a', 'b', 'c', 'd']

for idx, v in enumerate(a):
    print(idx, v)

0 a
1 b
2 c
3 d

In [22]:
a = ('a', 'b', 'c', 'd')

for idx, v in enumerate(a):
    print(idx, v)

0 a
1 b
2 c
3 d

In [23]:
a = "abcd"

for idx, v in enumerate(a):
    print(idx, v)

0 a
1 b
2 c
3 d

* .format 함수 : 문자열속에 인덱스, 값 포함하여 출력

In [26]:
a = ['a', 'b', 'c', 'd']

for idx, v in enumerate(a):
    print("인덱스 {}의 요소 내용은 {} 입니다.".format(idx, v))

인덱스 0의 요소 내용은 a 입니다.
인덱스 1의 요소 내용은 b 입니다.
인덱스 2의 요소 내용은 c 입니다.
인덱스 3의 요소 내용은 d 입니다.

## 2차원 리스트
    
    * 같은 방식으로 2차원 튜플도 가능

In [3]:
a = [[10, 20], 
     [30, 40]]

print('a[0][0] : ', a[0][0])
print('a[0][1] : ', a[0][1])
print('a[1][0] : ', a[1][0])
print('a[1][1] : ', a[1][1])

a[0][0] :  10
a[0][1] :  20
a[1][0] :  30
a[1][1] :  40

* 2차원 리스트 반복문 사용

In [4]:
a = [[10, 20], [30, 40], [50, 60]]
for x, y in a:    # 리스트의 가로 한 줄(안쪽 리스트)에서 요소 두 개를 꺼냄
    print(x, y)

10 20
30 40
50 60

In [5]:
a = [[10, 20], [30, 40], [50, 60]]
 
for i in a:        # a에서 안쪽 리스트를 꺼냄
    for j in i:    # 안쪽 리스트에서 요소를 하나씩 꺼냄
        print(j, end=' ')
    print()

10 20
30 40
50 60

In [6]:
a = [[10, 20], [30, 40], [50, 60]]
 
for i in range(len(a)):            # 세로 크기
    for j in range(len(a[i])):     # 가로 크기
        print(a[i][j], end=' ')
    print()

10 20
30 40
50 60

In [7]:
a = [[10, 20], [30, 40], [50, 60]]
 
i = 0
while i < len(a):    # 반복할 때 리스트의 크기 활용(세로 크기)
    x, y = a[i]      # 요소 두 개를 한꺼번에 가져오기
    print(x, y)
    i += 1           # 인덱스를 1 증가시킴

10 20
30 40
50 60

* 반복문으로 2차원 리스트 만들기

In [8]:
a = []    # 빈 리스트 생성
 
for i in range(3):
    line = []              # 안쪽 리스트로 사용할 빈 리스트 생성
    for j in range(2):
        line.append(0)     # 안쪽 리스트에 0 추가
    a.append(line)         # 전체 리스트에 안쪽 리스트를 추가
 
print(a)

[[0, 0], [0, 0], [0, 0]]

    * 톱니모양 2차원 리스트 만들기

In [9]:
a = [3, 1, 3, 2, 5]    # 가로 크기를 저장한 리스트
b = []    # 빈 리스트 생성
 
for i in a:      # 가로 크기를 저장한 리스트로 반복
    line = []    # 안쪽 리스트로 사용할 빈 리스트 생성
    for j in range(i):    # 리스트 a에 저장된 가로 크기만큼 반복
        line.append(0)
    b.append(line)        # 리스트 b에 안쪽 리스트를 추가
 
print(b)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [10]:
# 방법2
a = [[0] * i for i in [3, 1, 3, 2, 5]]
a

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

### 2차원 리스트 정렬하기(sorted)

In [11]:
students = [
    ['john', 'C', 19],
    ['maria', 'A', 25],
    ['andrew', 'B', 7]
]

print(sorted(students, key=lambda student: student[1]))

[['maria', 'A', 25], ['andrew', 'B', 7], ['john', 'C', 19]]

In [13]:
print(sorted(students, key=lambda func1: func1[2]))

[['andrew', 'B', 7], ['john', 'C', 19], ['maria', 'A', 25]]

# 튜플!

    * 리스트와 다르게 요소 변경, 추가, 삭제 불가
    * a = (1, 2, 3) 이렇게 정의해고 되고, a = 1, 2, 3 해도 됨

In [83]:
# 정의

a = 1,2,3, "234", False
a

(1, 2, 3, '234', False)

* 괄호안에 값이 하나이면 튜플이 아나고 그냥 값 동일
    * 요소가 한개인 튜플은 괄호 뒤에 컴마를 써주어야함

In [85]:
a = (232)
b = (232,)

print(a)
print(b)
print(type(a))
print(type(b))

232
(232,)
<class 'int'>
<class 'tuple'>

* range 이용

In [86]:
c = tuple(range(3))
c

(0, 1, 2)

In [107]:
# 튜플 이용 다중 변수 할당
a = 23,345,"sdf", True

b, c, d, e = a

print(b)
print(c)
print(d)
print(e)

23
345
sdf
True

# 딕셔너리!

    * 딕셔너리는 { }(중괄호) 안에 키: 값 형식으로 저장하며 각 키와 값은 ,(콤마)로 구분해줍니다.
    * 딕셔너리 = {키1: 값1, 키2: 값2}
    * 딕셔너리 = dict(키1=값1, 키2=값2)
    * 키에는 하나의 값만 지정 가능
    * 키이름이 중복 될 경우 뒤에 있는 한가지만 덮어써서 사용
    * 키에는 리스트와 딕셔너리 사용 불가

In [131]:
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
lux

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [ ]:
lux1 = dict()

* 키이름이 중복 될 경우 뒤에 있는 한가지만 덮어써서 사용

In [133]:
lux = {'health': 490, 'health': 800, 'mana': 334}
lux

{'health': 800, 'mana': 334}

In [138]:
# 빈 딕셔너리 만들기

x = {}
y = dict()
y

{}

 * 딕셔너리 키에 값 할당
 
     * 리스트 넣듯이 넣으면 됨

In [144]:
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

lux['health'] = 1

lux

{'health': 1, 'mana': 334, 'melee': 550, 'armor': 18.72}

* 딕서너리에 키가 있는지 확인
    * in 사용

In [145]:
'health' in lux

True

In [148]:
'air' not in lux

True

In [147]:
# 값은 안됨
334 in lux

False

In [149]:
len(lux)

4

### 키-값 쌍 추가 하기

     * setdefault() : 딕셔너리에 키-값 쌍 추가하고, 값을 반환함
         - setdefault에서 키만 지정하면 값에 None이 저장됨
      
     * update() : 키의 값 수정, 키가 없으면 키-값 쌍 추가
     
     setdefault에서는 ''따옴표를 쓰고, update에서는 ''따옴표를 안씀에 주의!!!
         * setdefault('키', 값)
         * update(키=값) -> 키가 문자열 일 때만 사용 가능
         * update({'키':값, '키':값})
         * update([[키, 값],[키, 값]])
         * update(zip([키1, 키2], [값1, 값2]))
         
         형태 주의!

In [58]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.setdefault('e')     # 키만 추가(값에는 None 추가됨)

x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None}

In [60]:
# 키, 값 쌍으로 추가
x.setdefault('f', 100)
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}

### 키-값 쌍 수정하기

    * update : 키의 값 수정, 키가 없으면 키-값 쌍 추가
        * update(키=값)에서는 ''따옴표를 안씀에 주의!!!
        * update(키=값) 형태는 키가 문자열일 때만 사용 가능
        * 키가 문자열이 아닐 떄,
            - update(딕셔너리) 형태로 사용

 *  update(키=값) 형태

In [63]:
x.update(a=90, f=54)
x

{'a': 90, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 54, 'g': 70}

In [64]:
# 키가 없으면 값을 추가해버림
x.update(g=70)
x

{'a': 90, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 54, 'g': 70}

 * update({키:값, 키:값})   (키가 문자열이 아닐 때)

In [13]:
y = {1: 'one', 2: 'two'}
y

{1: 'one', 2: 'two'}

In [14]:
y.update({1: 'hi', 3: 'THREE'})
y

{1: 'hi', 2: 'two', 3: 'THREE'}

 * update([[키, 값],[키, 값]])      
 (리스트, 튜플, 섞어서 모두 가능)

In [71]:
y.update([[2, 'TWO'], [4, 'FOUR']])
y

{1: 'hi', 2: 'TWO', 3: 'THREE', 4: 'FOUR'}

In [72]:
y.update(((2, 'two'), (4, 'four')))
y

{1: 'hi', 2: 'two', 3: 'THREE', 4: 'four'}

In [73]:
y.update(([2, 'TWO'], [4, 'FOUR']))
y

{1: 'hi', 2: 'TWO', 3: 'THREE', 4: 'FOUR'}

In [74]:
y.update([(2, 'two'), (4, 'four')])
y

{1: 'hi', 2: 'two', 3: 'THREE', 4: 'four'}

* update(zip([키1, 키2], [값1, 값2]))

In [75]:
y.update(zip([1, 2],['qwe', 'dsa']))
y

{1: 'qwe', 2: 'dsa', 3: 'THREE', 4: 'four'}

### 키-값 쌍 삭제하기

    * pop(키) : 들어있는 키-쌍을 삭제하고, 값을 반환함
    * pop(키, 기본값) : 
            키가 있으면, 키-값을 삭제하고, 값을 반환
            키가 없으면, 기본 값을 반환
            
    * popitem()
        python3.6 이상: 딕셔너리의 마지막 키-쌍을 삭제하고, (키,값) 튜플로 반환
        python3.5 이하: 딕셔너리의 임의의 키-쌍을 삭제하고, (키,값) 튜플로 반환
        
    * del 딕셔너리[키] : 해당 키-값을 삭제

In [77]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.popitem()

('d', 40)

 * 모든 키-값 삭제 (clear)

In [78]:
x.clear()
x

{}

### 특정 키의 값을 가져오기

    * get(키) : 키에 대한 값을 반환
    * get(키, 기본값) : 키가 없으면, 기본 값을 반환

In [79]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.get('a')

10

In [80]:
x.get('z', 0)

0

## 딕셔너리에서 키-값 가져오기

    * items : 키-값 쌍을 모두 가져옴
    * keys : 키를 모두 가져옴
    * values : 값을 모두 가져옴

In [81]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.items()

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [82]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [83]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.values()

dict_values([10, 20, 30, 40])

In [84]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for a in x.keys():
    print(a)

a
b
c
d

* 반복문을 통한 출력

In [107]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

# 키-값 둘다 출력
for k, v in x.items():
    print(k,v)

a 10
b 20
c 30
d 40

In [108]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

# 키만 출력
for k in x.keys():
    print(k)

a
b
c
d

In [110]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

# 값만 출력
for v in x.values():
    print(v, end=' ')

10 20 30 40

## 반복문을 통한 딕셔너리 생성

    * {키: 값 for 키, 값 in 딕셔너리}
    * dict({키: 값 for 키, 값 in 딕셔너리})

In [111]:
keys = ['a', 'b', 'c', 'd']
x = {key: value for key, value in dict.fromkeys(keys).items()}
x

{'a': None, 'b': None, 'c': None, 'd': None}

 * 그냥 아래 (리스트로 딕셔너리 만들기)랑 똑같은거 같은데?? 
        =>in 딕셔너리 말고, in 리스트 등으로 딕셔너리 만들 떄 쓸모 있을 듯

## 반복문에 조건문 추가

In [113]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items() if value != 20}
x

{'a': 10, 'c': 30, 'd': 40}

## 리스트와 튜플로 딕셔너리 만들기

    * 키 리스트로 만들기
        * dict.fromkeys(키리스트) : None으로 값을 채움
        * dict.fromkeys(키리스트, 동일값) : 동일값을 값을 채움 
        
    * defaultdict(함수) 이용
        * setdefault처럼 키-값을 추가하는게 아니라 새로운 딕셔너리를 만드는 개념

In [86]:
keys = ['a', 'b', 'c', 'd']
x = dict.fromkeys(keys)
x

{'a': None, 'b': None, 'c': None, 'd': None}

In [87]:
keys = ['a', 'b', 'c', 'd']
x = dict.fromkeys(keys, 100)
x

{'a': 100, 'b': 100, 'c': 100, 'd': 100}

In [93]:
y = {'a': 0, 'b': 0, 'c': 0, 'd': 0}
y

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [101]:
from collections import defaultdict

y = defaultdict(int) # 기본 값이 정수(값이 없으면 0)인 딕셔너리 생성

y['z'] # 'z' 없었던 키 'z'에 대한 값 0 생성

0

In [102]:
y

defaultdict(int, {'z': 0})

In [105]:
y = defaultdict(lambda: 'python')
y['a']

'python'

In [106]:
y

defaultdict(<function __main__.<lambda>()>, {'a': 'python'})

### 딕셔너리 안에 딕셔너리(2차원 딕셔너리)

    * 딕셔너리[바깥 dict's 키][안쪽 dict's 키]

In [114]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
 
print(terrestrial_planet['Venus']['mean_radius'])    # 6051.8

6051.8

## 딕셔너리에서 특정 값을 가진 키를 반환하는 방법은??

## 아니면 키와 값을 반전 시키는 방법??

    => 둘다 items() 이용, 노션 참조

# 형 변환!!!

### 대소문자 변환
    * upper() : 모든 문자열을 대문자로 변환
    * lower() : 모든 문자열을 소문자로 변환
    * capitalize() : 첫 글자만 대문자로 변환
    * 위의 함수들은 1회성 반환이므로, 변수에 다시 넣어 줘야 변환되서 저장됨

In [12]:
txt1 = "hello"

# 한번만 변환됨
print(txt1.upper())

print(txt1)

# 변환되어 저장
txt1 = txt1.upper()
print(txt1)

txt2 = txt1.capitalize()
print(txt2)

HELLO
hello
HELLO
Hello

### 구분자로 문자열을 리스트(요소)로 변환

    * split()

In [20]:
# 공백 기준으로 분리
'apple pear grape pineapple orange'.split()

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [21]:
# 컴마 기준으로 분리
'apple, pear, grape, pineapple, orange'.split(',')

['apple', ' pear', ' grape', ' pineapple', ' orange']

### 위와 역 변환(구분자로 리스트(요소) -> 문자열로 변환)

    * '구분자'.join(리스트명)
    * join()
        - 튜플, 리스트, string  등 반복가능한(iterable) 객체를 받아 하나의 문자열로 만들어줌
        - 시퀀스의 요소가 문자열이어야 하고 아니면 그전에 map(str, ~~) 해서 문자열로 바꾸어줘야함

In [24]:
' '.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple pear grape pineapple orange'

In [23]:
'-'.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple-pear-grape-pineapple-orange'

### 튜플 -> 리스트 변환
### 문자열 -> 리스트 변환

In [95]:
a_tuple = (1,2,3)
b = list(a_tuple)
b

[1, 2, 3]

In [93]:
a_string = "hello"
b = list(a_string)
b

['h', 'e', 'l', 'l', 'o']

### 리스트 -> 튜플 변환
### 문자열 -> 튜플 변환

In [91]:
a = [1,2,3]
b = tuple(a)
b

(1, 2, 3)

In [94]:
a = "hi"
b = tuple(a)
b

('h', 'i')

In [99]:
c = (1,2,3,4,5)
c

(1, 2, 3, 4, 5)

### 리스트 ot 튜플 => 문자열

In [104]:
# 반대로 문자열로 만들기
s = ""

for i in c:
    a = str(i)
    s = s+a
    
s

'12345'

### 리스트 => 딕셔너리

    * 키와 값이 각각 있어야함

 * 방법1. 키 리스트, 값 리스트 각각 있는 경우
 
     * zip 함수를 이용한다

In [139]:
key_a = ['a', 'b', 'c']
value_a = [1,2,3]

c = dict(zip(key_a, value_a))
c

{'a': 1, 'b': 2, 'c': 3}

 * 방법2. 키와 값이 튜플로 묶인 리스트

In [142]:
d = dict([('d', 4), ('e', 5), ('f', 6)])
d

{'d': 4, 'e': 5, 'f': 6}

# 세트! (set!)

     * 세트명 = {값1, 값2, 값3}
     * 세트명 = set(반복 가능한 객체)
         *내용을 변경할수 없는 세트 만들기: frozenset(반복가능객체)
     * in / not in 사용 가능

## 요소 추가(add)

In [132]:
a = {1, 2, 3, 4}
a.add(5)
a

{1, 2, 3, 4, 5}

## 요소 삭제(remove, discard)

    remove : 해당 요소가 없으면 에러 발생
    discard : 해당 요소가 없으면, 그냥 넘어감
    pop() : 임의의 요소 삭제 후, 반환(요소 없으면 에러발생)
    clear() : 전체 요소 삭제

In [133]:
a = {1, 2, 3, 4}
a.remove(4)
a

{1, 2, 3}

In [134]:
a = {1, 2, 3, 4}
a.remove(5)
a

KeyError: 5

In [135]:
a = {1, 2, 3, 4}
a.discard(3)
a.discard(5)
a

{1, 2, 4}

## 세트 연산

a, b가 세트일 때,
    
    * 합집합 : a | b  또는 set.union(a,b)
    * 교집합 : a & b  또는 set.intersection(a,b)
    * 차집합 : a - b  또는 set.difference(a,b)
    * 대칭 차집합(교집합의 역) : a ^ b  또는 set.symmetric_difference(a,b)

In [115]:
a = {1,2,3,4}
b = {3,4,5,6}

In [116]:
a | b

{1, 2, 3, 4, 5, 6}

In [117]:
a & b

{3, 4}

In [118]:
a - b

{1, 2}

In [119]:
a ^ b

{1, 2, 5, 6}

## 세트 연산 + 할당(연산 후 a가 변함)

a, b가 세트일 때,
    
    * 합 할당 : a |= b  또는 a.update(b)
    * 교집합 할당 : a &= b  또는 a.intersection_update(b)
    * 차집합 할당: a -= b  또는 a.difference_update(b)
    * 대칭 차집합(교집합의 역) : a ^= b  또는 a.symmetric_difference_update(b)

In [120]:
a = {1,2,3,4}
b = {3,4,5,6}

a |= b

a

{1, 2, 3, 4, 5, 6}

In [121]:
a = {1,2,3,4}
b = {3,4,5,6}

a &= b

a

{3, 4}

In [122]:
a = {1,2,3,4}
b = {3,4,5,6}

a -= b

a

{1, 2}

In [123]:
a = {1,2,3,4}
b = {3,4,5,6}

a ^= b

a

{1, 2, 5, 6}

## (진(proper))부분집합(subset)/상위집합(superset) 여부 확인
    
    
    * 현재세트 <= 다른세트
    * 현재세트.issubset(다른세트)
    * 현재세트 == 다른세트 or 현재세트 != 다른세트로 진 여부 판단

In [124]:
a = {1,2,3,4}
b = {1,2,3,4,5,6}

a <= b

True

In [125]:
a.issubset(b)

True

In [127]:
b.issuperset(a)

True

In [128]:
# 진부분집합이 아님
a = {1,2,3,4}
b = {1,2,3,4}

a < b

False

 * 세트의 겹침 여부 판단 (.isdisjoint)
 
     겹치는게 있으면, False
     없으면, True

In [129]:
a = {1,2,3,4}
b = {1,2,3,4,5,6}

a.isdisjoint(b)

False

In [130]:
a = {1,2,3,4}
b = {5,6}

a.isdisjoint(b)

True

## 세트 반복문, 조건문 활용

    * {식 for 변수 in 세트 if 조건식}
    * set(식 for 변수 in 세트 if 조건식)

In [136]:
a = {i for i in 'pineapple' if i not in 'apl'}
a

{'e', 'i', 'n'}

# 이터레어터(iterator) = 반복자


    * 반복 가능한 객체(iterable)
        * 객체에 __iter__ 메서드가 들어있는 것
        *  dir 함수를 사용하면 객체의 메서드를 확인 가능
        * 문자열, 리스트, 딕셔너리, 세트, range 등

    * 반복 가능한 객체의 __iter__ 메서드를 호출하면 이터레이터가 나옴

In [39]:
# dir() : 해당 객체의 메소드를 확인하는 함수
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

 * 리스트의 이터레이터를 변수에 저장한 뒤 __next__ 메서드를 호출해보면 요소를 차례대로 꺼낼 수 있음

In [40]:
# a를 이터레이터로 선언
a = (1,2).__iter__()

In [41]:
a.__next__()

1

In [42]:
a.__next__()

2

 * 꺼낼 요소가 없으면 StopIteration 예외를 발생

In [43]:
a.__next__()

StopIteration:

# 정규표현식(regular expression)

    - 일정한 규칙(패턴)을 가진 문자열을 표현하는 방법
    - 복잡한 문자열 속에서 특정한 규칙으로 된 문자열을 검색한 뒤 
    추출하거나 바꿀 때 사용
    - 문자열이 정해진 규칙에 맞는지 판단할 때도 사용
    - re 모듈을 가져와서 사용 (re는 regular expression의 약자).

 * 문자열 확인

In [14]:
import re

re.match('Hello', 'Hello, world!')
# 문자열이 있으므로 정규표현식 매치 객체가 반환됨

In [46]:
re.match('Python', 'Hello, world!')    
# 문자열이 없으므로 아무것도 반환되지 않음

In [15]:
m = re.match('([0-9]+) ([0-9]+)', '10 295')
m

 * ?
        = {0, 1}
        없거나 1개 있거나

In [35]:
# ?

import re

p = re.compile("ab?c")
p.search("a")

In [36]:
# ?

import re

p = re.compile("ab?c")
p.search("ac")

In [37]:
# ?

import re

p = re.compile("ab?c")
p.search("abc")

In [38]:
# ?

import re

p = re.compile("ab?c")
p.search("abbc")

### match()와 search()의 차이

     * match()
         * 문자열의 처음부터 정규식과 매치되는지 조사한다.
         
     * search()
         * 문자열 전체를 검색하여 정규식과 매치되는지 조사한다.

In [16]:
import re

p = re.compile('[a-z]+')    # a부터 z까지 하나이상인가?

In [19]:
m = p.match("3 python")  # match는 처음부터 비교, 문자 3이 매칭되지 않아서 None 반환
m

In [23]:
m = p.match("python 3")  # python까지는 매칭하고 다음 space는 매칭하지 않음
m

In [24]:
m = p.match("python 3 python")  # python까지는 매칭하고 다음 space는 매칭하지 않음
m

In [20]:
m = p.search("3 python") # 전체 중 "python"부분은 매칭됨
m

In [41]:
m = p.search("3 python 3 python") # 전체 중 "python"부분은 매칭됨
m    # 결과를 보니 문자열을 한번 만 찾나봄

In [37]:
m.start()

2

In [39]:
m.end()

8

In [40]:
m.span()

(2, 8)

### findall
     * 정규식과 매치되는 모든 문자열(substring)을 리스트로 돌려준다.

In [59]:
import re

p = re.compile('[a-z]+')    # a부터 z까지 하나 이상인가?

In [60]:
result = p.findall("life is too short")
print(result)

['life', 'is', 'too', 'short']

 * +역할 확인(문자 한개가 아닌 뭉텡이(단어)로 매칭시킴)

In [61]:
import re

p = re.compile('[a-z]')    # a부터 z까지 중 문자 한개랑 매칭

In [62]:
result = p.findall("life is too short")
print(result)

['l', 'i', 'f', 'e', 'i', 's', 't', 'o', 'o', 's', 'h', 'o', 'r', 't']

### finditer()
    * 정규식과 매치되는 모든 문자열(substring)을 반복 가능한 객체로 돌려준다.

In [64]:
import re

p = re.compile('[a-z]+')    # a부터 z까지 하나 이상인가?

In [65]:
result = p.finditer("life is too short")
print(result)

<callable_iterator object at 0x000002418DF8C490>

In [66]:
result

In [68]:
result.__next__()

In [69]:
result.__next__()

In [70]:
result.__next__()

In [71]:
result.__next__()

In [67]:
c = [1,2,3]
d = c.__iter__()
d

## Match 객체(re.Match object)의 메소드

    * group()
        * 매치된 문자열을 돌려준다.  
        
    * start()
        * 매치된 문자열의 시작 위치(인덱스)를 돌려준다.  
        * .match()로 얻은 Match객체의 start() 값은 항상 0이다.
        
    * end()
        * 매치된 문자열의 끝 위치를 돌려준다.
        
    * span()
        * 매치된 문자열의 (시작, 끝)에 해당하는 튜플을 돌려준다.

In [30]:
import re

p = re.compile('[a-z]+')    # a부터 z까지 하나이상인가?

m = p.match("python")

In [31]:
m.group()

'python'

In [32]:
m.start()

0

In [33]:
m.end()

6

In [34]:
m.span()

(0, 6)

### re.compile 옵션

* DOTALL(S) 
    - . 이 줄바꿈 문자를 포함하여 모든 문자와 매치할 수 있도록 한다.  
      
      
* IGNORECASE(I) 
    - 대소문자에 관계없이 매치할 수 있도록 한다.  
      
      
* MULTILINE(M) 
    - 여러줄과 매치할 수 있도록 한다. 
    - (^, $ 메타문자의 사용과 관계가 있는 옵션이다)  
      
      
* VERBOSE(X) 
    - verbose 모드를 사용할 수 있도록 한다. 
    - (정규식을 보기 편하게 만들수 있고 주석등을 사용할 수 있게된다.)

 * DOTALL, S
     * re.DOTALL
     * re.S

In [42]:
import re
p = re.compile('a.b')
m = p.match('a\nb')
print(m)

None

In [43]:
import re
p = re.compile('a.b', re.DOTALL)
m = p.match('a\nb')
print(m)

<re.Match object; span=(0, 3), match='a\nb'>

In [44]:
import re
p = re.compile('a.b', re.S)
m = p.match('a\nb')
print(m)

<re.Match object; span=(0, 3), match='a\nb'>

 * IGNORECASE, I
     * re.IGNORECASE
     * re.I

In [45]:
p = re.compile('[a-z]', re.I)
p.match('python')

In [46]:
p = re.compile('[a-z]', re.I)
p.match('Python')

In [47]:
p = re.compile('[a-z]', re.I)
p.match('PYTHON')

 * MULTILINE, M

In [48]:
import re
p = re.compile("^python\s\w+")    
# python으로 시작하고(^python), whitespace(\s)가 나오고, 단어(\w)가 나와야됨

data = """python one
life is too short
python two
you need python
python three"""

print(p.findall(data))

['python one']

In [49]:
import re
p = re.compile("^python\s\w+", re.MULTILINE) 
# 옵션을 주어 각 라인에서의 처음을 정규식과 매칭시킴

data = """python one
life is too short
python two
you need python
python three"""

print(p.findall(data))

['python one', 'python two', 'python three']

## VERBOSE, X

    * 복잡한 정규식을 쉽게 보기 위해, 
    * 정규식 ''안에 whitespace와 주석 #을 쓸 수있게 해주는 기능

 * 같은 식을 VERBOSE를 쓰고, 안쓰고 로 구분

In [51]:
# 방식 1(안쓰고)
charref = re.compile(r'&[#](0[0-7]+|[0-9]+|x[0-9a-fA-F]+);')

In [50]:
# 방식 2(쓰고)  => 위와 같은 의미임
charref = re.compile(r"""
 &[#]                # Start of a numeric entity reference
 (
     0[0-7]+         # Octal form
   | [0-9]+          # Decimal form
   | x[0-9a-fA-F]+   # Hexadecimal form
 )
 ;                   # Trailing semicolon
""", re.VERBOSE)
# re.VERBOSE 옵션으로 #뒤와 whitespace는 무의미 처리됨

## 백스페이스

    * 정규표현식에서 백스페이스\를 매칭하고 싶으면, 연속 2번써서 이스케이프 처리하면됨

 *  "\section" 문자열을 찾기 위한 정규식

In [52]:
p = re.compile('\\section')

* "\\\\section" 문자열을 찾기 위한 정규식

In [53]:
# 방법 1 => 이스케이프 터리를 2번 해야함
p = re.compile('\\\\section')

In [54]:
# 방법 2 => raw string 활용
p = re.compile(r'\\section')

## 그루핑

 * ()로 ABC를 감싸면 group으로 출력시 반복되서 나옴

In [2]:
import re

p = re.compile('(ABC)+')

m = p.search('ABCABCABC OK?')
print(m)

print(m.group())

<re.Match object; span=(0, 9), match='ABCABCABC'>
ABCABCABC

 * 중간에 단어들이 끼면 처음 한번만 찾네

In [4]:
import re

p = re.compile('(ABC)+')

m = p.search('ABCwerABCABC OK?')
print(m)

print(m.group())

<re.Match object; span=(0, 3), match='ABC'>
ABC

 * findall 수행

In [5]:
import re

p = re.compile('(ABC)+')

m = p.findall('ABCwerABCABC OK?')

print(m)

['ABC', 'ABC']

In [6]:
import re

p = re.compile('(ABC)+')

m = p.findall('ABCABCwerABCABC OK?')

print(m)

['ABC', 'ABC']

 * () 없이 ABC 쓰면 group으로 출력시 하나만 나옴

In [3]:
import re

p = re.compile('ABC+')

m = p.search('ABCABCABC OK?')
print(m)

print(m.group())

<re.Match object; span=(0, 3), match='ABC'>
ABC

### 그루핑으로 전화번호 찾기

In [9]:
p = re.compile(r"(\w+)\s+((\d+)[-]\d+[-]\d+)")
m = p.search("park 010-1234-1234")

* group(0) : 첫 괄호 - 전체

In [10]:
print(m.group(0))

park 010-1234-1234

* group(1) : 두 번째 괄호 - 이름

In [15]:
print(m.group(1))

park

* group(2) : 세 번째 괄호 - 전화번호

In [16]:
print(m.group(2))

010-1234-1234

In [18]:
* group(3) : 네 번째 괄호 - 앞번호

SyntaxError: invalid syntax (<ipython-input-18-63f00e81876f>, line 1)

In [13]:
print(m.group(3))

010

### 재참조

- \1
    - 첫 번째 그룹(group(0))과 동일한 문자열을 재참조

- \2
    - 두 번째 그룹(group(0))과 동일한 문자열을 재참조

In [23]:
p = re.compile(r'(\b\w+)\s+\1')    # \1은 (\b\w)와 같은 의미
p.search('Paris in the the spring').group()

'the the'

In [24]:
m = p.search('Paris in the the spring')

In [25]:
m.group(0)

'the the'

In [26]:
m.group(1)

'the'

### 그루핑에 이름 붙이기

    * (\w+) --> (?P<name>\w+)

In [20]:
p = re.compile(r"(?P<name>\w+)\s+((\d+)[-]\d+[-]\d+)")
m = p.search("park 010-1234-1234")
print(m.group("name"))

park

In [21]:
print(m.group(0))

park 010-1234-1234

In [22]:
print(m.group(1))

park

In [28]:
p = re.compile(r'(\b\w+)\s+\1')
p.search('Paris in the the spring').group()
'the the'

'the the'

### 전방 탐색(Lookahead Assertions)

    * 긍정형 전방 탐색((?=...)) 
        - ... 에 해당되는 정규식과 매치되어야 하며 조건이 통과되어도 문자열이 소비되지 않는다.
    * 부정형 전방 탐색((?!...)) 
        - ...에 해당되는 정규식과 매치되지 않아야 하며 조건이 통과되어도 문자열이 소비되지 않는다.

In [29]:
p = re.compile(".+(?=:)")
m = p.search("http://google.com")
print(m.group())

http

 * 확장자 매칭
    
        * .*[.].*$

### 부정형 전방 탐색

 * .bat이 아닌 확장자 매칭

In [41]:
import re

re.compile(".*[.](?!bat$).*$")


# $   뒤에서 부터 
# .*  아무문자 0개 이상 가져오는데
# [.](?!bat$) .뒤 맨 뒤가 bat이면 안됨

re.compile(r'.*[.](?!bat$).*$', re.UNICODE)

 * .bat 또는 exe가  아닌 확장자 매칭

In [42]:
re.compile(".*[.](?!bat$|exe$).*$")

re.compile(r'.*[.](?!bat$|exe$).*$', re.UNICODE)

## 문자열 바꾸기(sub())

    * sub('바꿀 문자열', '')
    * subn : sub과 동일하지만, 결과를 튜플로 반환
    * 그룹 참조 시 : \g<그룹이름> 사용

In [43]:
import re

p = re.compile('(blue|white|red)')

p.sub('colour', 'blue socks and red shoes')

'colour socks and colour shoes'

* 그룹 참조 시 : \g<그룹이름> 사용

In [44]:
p = re.compile(r"(?P<name>\w+)\s+(?P<phone>(\d+)[-]\d+[-]\d+)")

print(p.sub("\g<phone> \g<name>", "park 010-1234-1234"))

010-1234-1234 park

 * 그룹 번호 사용

In [45]:
p = re.compile(r"(?P<name>\w+)\s+(?P<phone>(\d+)[-]\d+[-]\d+)")

print(p.sub("\g<2> \g<1>", "park 010-1234-1234"))

010-1234-1234 park

In [47]:
p.sub("\g<2> \g<1>", "park 010-1234-1234")

'010-1234-1234 park'

### sub 매개변수로 함수 사용하기

    * sub 메서드의 첫 번째 매개변수로 함수를 넣을 수도 있다.
    * 아래에서 hexrepl 함수는 match 객체(위에서 숫자에 매치되는)를 입력으로 받아
      16진수로 변환하여 돌려주는 함수
    *  sub의 첫 번째 매개변수로 함수를 사용할 경우 
      해당 함수의 첫 번째 매개변수에는 정규식과 매치된 match 객체가 입력된다.
    * 그리고 매치되는 문자열은 함수의 반환 값으로 바뀌게 된다.

In [48]:
def hexrepl(match):
    value = int(match.group())
    return hex(value)

p = re.compile(r'\d+')
p.sub(hexrepl, 'Call 65490 for printing, 49152 for user code.')

'Call 0xffd2 for printing, 0xc000 for user code.'

# Greedy vs Non-Greedy

    * 정규식에서 *는 Greedy하다(탐욕스럽다). 아래 예시 참조

In [49]:
s = '<html><head><title>Title</title>'
len(s)

32

In [50]:
print(re.match('<.*>', s).span())

(0, 32)

In [51]:
print(re.match('<.*>', s).group())

<html><head><title>Title</title>

 => 결과를 보면 <html>이 아니라 .*이 가질수 있는 최대한으로 매칭이됨

 * 위 현상을 Non-Greedy 문자 ?를 사용하면 막을 수 있음

In [52]:
print(re.match('<.*?>', s).group())

<html>

# 문자열 아스키 변환

In [54]:
chr(65)

'A'

In [57]:
ord('Z')

90

In [56]:
chr(97)

'a'

In [58]:
ord('z')

122