* most_common() 함수의 사용

    * colletions.Counter에서 사용가능
        * collections.defaultdict 사용 안됨
    * 반환형이 List 임에 주의!!
    * 키와 값을 모두 반환하며, 정렬 순서는 갯수로만 지정됨

In [3]:
import collections

le = ["B", "B", "A", "X", "X", "X", "C", "C", "C", "A"]

C = collections.Counter(le)

C.most_common()

[('X', 3), ('C', 3), ('B', 2), ('A', 2)]

* most_common() 함수 정렬 순서 바꾸기

In [4]:
sorted(C.most_common(), key = lambda x: (-x[1], x[0]))  # 1순위 : 갯수 내림차순, 2순위 글자 오름차순

[('C', 3), ('X', 3), ('A', 2), ('B', 2)]

# 복수 속성 정렬

 * 학점은 정수만 비교
 * 좌표는 거리로 비교
 * 이름은 이름순으로 비교

### 정수 버림 => int 함수 이용

In [9]:
c = [4.7, 5.2, 6.8]

c = list(map(int, c))
c

[4, 5, 6]

### 정렬

    * 리스트.sort() => None : 원본 변경, None 값 반환!!!
    * sorted(리스트) => 리스트 : 원본 유지, 리스트 형으로 반환

In [10]:
d = [8, 2, 4, 5]

print(sorted(d))
print(d)

[2, 4, 5, 8]
[8, 2, 4, 5]

In [12]:
d = [8, 2, 4, 5]

print(d.sort()) # 이게 중요!!, 얘는 반환 값이 None이다.
print(d)

None
[2, 4, 5, 8]

In [16]:
e = [3, 5, 2]

f = e.sort()

print(f) # f는 아무것도 없음
print(type(f)) # type은 NoneType
print(e) # e는 정렬됨!!

None
<class 'NoneType'>
[2, 3, 5]

In [20]:
d = [8, 2, 4, 5]

f = sorted(d)

print(f)
print(type(f)) # type은 리스트
print(d) # d는 정렬 안됨!!

[2, 4, 5, 8]
<class 'list'>
[8, 2, 4, 5]

### 역순 정렬

    * 리스트.sort(reverse = True)
    * sorted(리스트, reverse = True)

# 여러 요소 기준으로 정렬!

    sorted(리스트명, key = lambda x : (x[0], x[1], x[2]))

### 예시) 각 요소는 순서대로 학점, 거리, 이름 이며

 * 학점을 클수록, 
 * 거리는 작을수록
 * 이름은 내림차순으로 정렬 할 것
 
 => 각 요소를 정려해서 나온 순위를 반환하도록 하기

In [26]:
temp = [
    [3, 5, 'john'],
    [4, 3, 'maria'],
    [4, 7, 'andrew'],
    [3, 5, 'brain'],
]

In [27]:
# 그냥 정렬 할 경우, => 모두 다 내림차순
sorted(temp)

[[3, 5, 'brain'], [3, 5, 'john'], [4, 3, 'maria'], [4, 7, 'andrew']]

In [29]:
sorted(temp, key = lambda x : (-x[0], x[1], x[2]))  ### 우선순위에 따라 (x[1], -x[0], x[2]) 이런 식도 가능

[[4, 3, 'maria'], [4, 7, 'andrew'], [3, 5, 'brain'], [3, 5, 'john']]

In [45]:
# 순위 반환
# 반복문 순서가 바뀌면 안됨!!!

for j in sorted(temp, key=lambda x:(-x[0], x[1], x[2])):
    for k, i in enumerate(temp):
        if j == i:
            print(k+1, end = " ")

2 3 4 1

 * 똑같은데 이름만 오름차순으로 정렬
 
     * reverse=True를 붙여주고, 오름차순 인것만 -를 붙인다

In [39]:
sorted(temp, key = lambda x : (x[0], -x[1]), reverse=True)

# 학점 x[0] 은 reverse 되어서 내림차순
# 거리 x[1] 은 reverse에 -가 붙어서 오름차순
# 이름은 revserse로 내림차순

[[4, 3, 'maria'], [4, 7, 'andrew'], [3, 5, 'john'], [3, 5, 'brain']]

## 만일 문자열 요소가 다중이고, 오름, 내림차순이 혼재된다면??

 * => 리스트에 넣어버리고 key, values 이용??
 * sort 함수를 특정 key로 두번 쓰자!! => 실패!! 2번째 요소에 대해 우선순위가 됨

In [47]:
a = [['나', 'C'], ['가', 'B'], ['가', 'C']]

In [46]:
# 실패!! 2번째 요소에 대해 우선순위가 됨
sorted(sorted(a, key=lambda x:x[0]), key=lambda x:x[1], reverse=True)

[['가', 'C'], ['나', 'C'], ['가', 'B']]

In [48]:
# 중복 해서 쓰지 말고 따로 따로 쓰면 됨!!
# 순서가 중요하다 우선순위가 낮은 것을 먼저 실행해야됨!!
# 변환된 결과가 남도록 변수에 덮어써주어야 함!!

a = sorted(a, key = lambda x:x[1], reverse = True)
a = sorted(a, key = lambda x:x[0])
a

[['가', 'C'], ['가', 'B'], ['나', 'C']]

### 2차원 리스트의 특정 요소 기준으로 정렬
    
    * 리스트 요소 안에 특정 요소를 기준으로 정렬 가능
        * sorted(리스트, key=lambda 함수명: 함수명[인덱스])
            => 람다 함수는 lambda 함수형태 : 입력형태

In [21]:
students = [
    ['john', 'C', 19],
    ['maria', 'A', 25],
    ['andrew', 'B', 7]
]

In [22]:
print(sorted(students, key=lambda f: f[0]))

[['andrew', 'B', 7], ['john', 'C', 19], ['maria', 'A', 25]]

In [23]:
print(sorted(students, key=lambda f: f[1]))

[['maria', 'A', 25], ['andrew', 'B', 7], ['john', 'C', 19]]

In [24]:
print(sorted(students, key=lambda f: f[2]))

[['andrew', 'B', 7], ['john', 'C', 19], ['maria', 'A', 25]]

# 어떤 요소를 변형하여 비교하교 원본을 반환해야 한다면, 
# 딕셔너리를 이용하여 각각 키, 값으로 설정하여 비교한다.

# 예시) leetcode 애너그램 문제

* 애너그램은 기본적으로 문자를 정렬하여 비교하는 것으로 판단
* sorted는 문자열도 정렬하여 리스트로 반환 함
* sorted를 사용한 뒤, 다시 .join으로 문자열로 만들어 키로 사용
* 해당 키와 값을 dict에 저장하여 구성
* 만일 존재하지 않는 키로 딕셔너리 값을 추가할 경우 발생하는 에러를 대비하여, 
* collenctions.defaultdict로 딕셔너리를 선언

In [1]:
import collections

strs = ["eat","tea","tan","ate","nat","bat"]

# 만일 존재하지 않는 키로 딕셔너리 값을 추가할 경우 발생하는 에러를 대비하여, defaultdict로 선언
anagrams = collections.defaultdict(list)
        
for word in strs:
    # 키: 정렬된 값, 값: 원본
    anagrams[''.join(sorted(word))].append(word)
            
anagrams.values()

dict_values([['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']])

### 문자열 동등 비교

In [2]:
a = ['Tom', 'Brian', 'Terry']

if a[0] == 'Tom':
    print("이름이 같음")

이름이 같음

In [3]:
a[0] == 'Tom'

True

In [5]:
b = '010000'
print(b[1])
print(type(b[1]))

1
<class 'str'>

In [8]:
if b[0] =='1':
    print("가나다")
    
if b[1] =='1':
    print("라마")

라마

In [ ]:
SQL 합칩합 => Union